msqe with 23:291.48765266821823
msqe with 22:290.261147611888
msqe with 21:290.1394455543427
msqe with 20:291.39622680369905

In [1]:
!pip install cfbd

Collecting cfbd
  Downloading cfbd-4.5.2-py3-none-any.whl (358 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 358.8/358.8 kB 9.3 MB/s eta 0:00:0000:01
Requirement already satisfied: urllib3>=1.23 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.26.13)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2022.12.7)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.15.0)
Installing collected packages: cfbd
Successfully installed cfbd-4.5.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
fcs=fcs[fcs.home!='Knoxville']
fcs=fcs[fcs.away!='Knoxville']

In [ ]:
dgz=list(set(file.home.tolist()+file.away.tolist()))+list(set(dfz.home.tolist()+dfz.away.tolist()))
def Convert(lst):
    res_dct = {lst[i]: 0 for i in range(0, len(lst), 2)}
    return res_dct
dg=Convert(dgz)
h=[]
for k in sorted(dg):
    
    h.append(k)
filez=open("keys.txt","w")
filez.write(str(h))  
filez.close()

In [ ]:
import cfbd
import numpy as np
# configure API key
configuration = cfbd.Configuration()
key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
configuration.api_key['Authorization'] =key
configuration.api_key_prefix['Authorization'] = 'Bearer'
# instantiate a games API instance
api_config = cfbd.ApiClient(configuration)
games_api = cfbd.GamesApi(cfbd.ApiClient(configuration))
df=dfz[dfz.season>2024]
z=[]
gamesz =[]
games=[]
response = games_api.get_games(year=2020,season_type = 'both')
gamess = [*games, *response]
t=[]
z=[]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
response = games_api.get_games(year=2019,season_type = 'both')
gamess = [*games, *response]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)

In [1]:
!pip install cfbd

Collecting cfbd
  Downloading cfbd-4.5.2-py3-none-any.whl (358 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 358.8/358.8 kB 11.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2022.12.7)
Requirement already satisfied: urllib3>=1.23 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.26.13)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2.8.2)
Installing collected packages: cfbd
Successfully installed cfbd-4.5.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:

import math
from datetime import date,datetime,timedelta
can=1
import os
import pandas as pd

key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
dfz=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")

import cfbd
import numpy as np
# configure API key
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] =key
configuration.api_key_prefix['Authorization'] = 'Bearer'
# instantiate a games API instance
api_config = cfbd.ApiClient(configuration)
games_api = cfbd.GamesApi(cfbd.ApiClient(configuration))
df=dfz[dfz.season>2024]
z=[]
gamesz =[]
games=[]
response = games_api.get_games(year=2022,season_type = 'both')
gamess = [*games, *response]
t=[]
z=[]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
response = games_api.get_games(year=2023,season_type = 'both')
gamess = [*games, *response]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
msqe=[]
lh=0
wh=0
n=0
from2000  = pd.DataFrame(z)
from2000=from2000.fillna(0)
from2000=from2000[(from2000.season_type=='regular')|(from2000.season_type=='postseason')]
from2000=from2000
df=from2000
from20000=from2000
from2000=from2000[(from2000.homep>0)|(from2000.awayp>0)]
from2000=from2000.sort_values(by='date')
from decimal import Decimal
import decimal
decimal.getcontext().prec = 100
decimal.getcontext().Emax=1000000000
decimal.getcontext().Emin=-1000000000
hfan=95
eloz={}
eloz['n']=0
eloz['wh']=0
eloz['lh']=0
class Elo:
  def __init__(self,k,g=1,homefield = 100):
    wh=0
    lh=0
    n=0
    self.ratingDict   = {}  
    self.k        = k
    self.g        = g
  def addPlayer(self,name,rating = 1500):
    self.ratingDict[name] = rating
  def gameOver(self, winner, loser, winnerHome,neutral,wins,loses,wpen,lpen):
    if 'True' in str(neutral):
        homef=0
    else:
        
        homef=100
    if winnerHome==True:
      eloz['wh']+=1
      result = self.expectResult(self.ratingDict[winner]-wpen + homef, self.ratingDict[loser]-lpen)
    if winnerHome==0:
      eloz['lh']+=1
      result = self.expectResult(self.ratingDict[winner]-wpen, self.ratingDict[loser]-lpen + homef)
    else:
        
        result = self.expectResult(self.ratingDict[winner]-wpen, self.ratingDict[loser]-lpen)

                    
    wins=float(wins)
    loses=float(loses)
    result=float(result)
    isneutral='True'  in str(neutral) or '0' in str(neutral)
    if wins==loses:
        mult=(math.log(0+1))*(2.2/1*0.001+2.2)
        shift=(self.k*mult)*(0.5 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
    if wins!=loses:
        win=eloLeaguez.ratingDict[winner]-wpen
        lose=eloLeaguez.ratingDict[loser]-lpen
        if isneutral:
          win=(eloLeaguez.ratingDict[winner]-wpen)
          lose=(eloLeaguez.ratingDict[loser]-lpen)
        if winnerHome and isneutral==False:
          win=(100+eloLeaguez.ratingDict[winner]-wpen)
          lose=(eloLeaguez.ratingDict[loser]-lpen)
        if winnerHome!=True and 'True' not in str(neutral) and '0' not in str(neutral):
          lose=(100+eloLeaguez.ratingDict[loser]-lpen)
          win=(eloLeaguez.ratingDict[winner]-wpen)
        global zy
        if(win>lose):
          zy=(win-lose)
        if(win==lose):
          zy=(win-lose)+0.00001
        if(win<lose):
          zy=(win-lose)
        mult=(math.log((abs(wins-loses))+1))*(2.2/(zy)*0.001+2.2)
        shift=(self.k*float(mult))*(1 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
  from math import pow
  def expectResult(self, p1, p2):
    p2=Decimal(p2)
    p1=Decimal(p1)
    exp = Decimal((p2-p1))/Decimal(400.0)
    b=float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
    az['h']=str(b)
    return float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
teamss={}
az={}
az['h']='hello'
today = date.today()
allTeams  = set(dfz.away.tolist()+dfz.home.tolist())
allTeamsh  = set(dfz.home.tolist())
global st
eloLeaguez= Elo(k = 20,homefield=100)
dfz=dfz[(dfz.season_type=='postseason')|(dfz.season_type=='regular')]
from2000['homeconf'].fillna(0,inplace=True)
from2000['awayconf'].fillna(0,inplace=True)

import re

import requests
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup as bs
tds={}

gz=[]
today=date.today()


import pandas as pd
fbsteams={}
for i in range(1978,2024):
    fbsteams[i]=[]
for i in range(1978,2024):
    print(i)
    if i<2006:
        url="https://en.wikipedia.org/wiki/"+str(i)+"_NCAA_Division_I-A_football_season"
    else:
        url="https://en.wikipedia.org/wiki/"+str(i)+"_NCAA_Division_I_FBS_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    tablez=soup.find_all("table",{"class":"standings-box"})
    for table in tablez:
        links=table.find_all("a")
        for a in links:
            if 'Team' in str(table):
                a=str(a)
                a=a.split(">")
                a=a[1]
                a=a.split("<")
                a=a[0]
                if 'Miami (FL)' in str(a):
                    a=a.replace("Miami (FL)","Miami")
                fbsteams[i].append(a)
arrz=[]
for i in range(1978,2024):
    ts=fbsteams[i]
    for team in ts:
        arrz.append([team,i])
standingstable=pd.concat([pd.DataFrame(arrz)])
standingstable.columns=['Team','Season']
import requests
import json

teamstor={'Miami (FL)':'Miami','North Carolina A&amp;T':"North Carolina A&T","Grambling State":"Grambling","North Texas State":"North Texas","Northeast Louisiana":"Louisiana Monroe","UCF":"Central Florida","Texas-Arlington":"Texas Arlington","Florida A&amp;M":"Florida A&M","SW Texas State":"Texas State","NE Louisiana":"Louisiana Monroe","William &amp; Mary":"William & Mary","Southwest Texas State":"Texas State","Troy State":"Troy","Texas–Arlington":"Texas Arlington"}
for team in teamstor:
    standingstable=standingstable.replace(team,teamstor[team])
r = requests.get('https://ontheroadtovote.com/ncaaf/fbsteams.json')
y=r.json()

for team in y:
    standingstable=standingstable.replace(team,y[team])
standingstable=standingstable[standingstable.Team!='New Mexico State']
standingstable=standingstable[standingstable.Team!='Tulsa']
standingstable=standingstable[standingstable.Team!='Wichita State']
teams={}
for i in range(1978,2024):
    teams[i]=[]
for row in standingstable.itertuples():
    teams[float(row.Season)].append(str(row.Team))
fbsteams=teams
teams={}
for i in range(1978,2024):
    teams[i]=[]
for i in range(1978,2024):
    print(i)
    if i<2006:
        url="https://en.wikipedia.org/wiki/"+str(i)+"_NCAA_Division_I-AA_football_season"
    else:
        url="https://en.wikipedia.org/wiki/"+str(i)+"_NCAA_Division_I_FCS_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    tablez=soup.find_all("table",{"class":"standings-box"})
    for table in tablez:
        links=table.find_all("a")
        for a in links:
            if 'Team' in str(table):
                a=str(a)
                a=a.split(">")
                a=a[1]
                a=a.split("<")
                a=a[0]
                if 'Bethune–Cookman' in str(a):
                    a=a.replace("Bethune–Cookman","Bethune-Cookman")
                if 'Alabama A&' in str(a):
                    a=a.replace("Alabama A&amp;","Alabama A&M")
                teams[i].append(a)
arrz=[]

for i in range(1978,2024):
    ts=teams[i]
    for team in ts:
        arrz.append([team,i])
standingstable=pd.concat([pd.DataFrame(arrz)])
standingstable.columns=['Team','Season']
teamstor={'Alabama A&amp;':'Alabama A&M','North Carolina A&amp;T':"North Carolina A&T","Grambling State":"Grambling","North Texas State":"North Texas","Northeast Louisiana":"Louisiana Monroe","UCF":"Central Florida","Texas-Arlington":"Texas Arlington","Florida A&amp;M":"Florida A&M","SW Texas State":"Texas State","NE Louisiana":"Louisiana Monroe","William &amp; Mary":"William & Mary","Southwest Texas State":"Texas State","Troy State":"Troy","Texas–Arlington":"Texas Arlington","Prairie View A&amp;M":"Prairie View","West Texas State":"West Texas A&M"}
for team in teamstor:
    standingstable=standingstable.replace(team,teamstor[team])
for team in y:
    standingstable=standingstable.replace(team,y[team])
standingstable=standingstable[standingstable.Team!='New Mexico State']
standingstable=standingstable[standingstable.Team!='Tulsa']
standingstable=standingstable[standingstable.Team!='Wichita State']
teams={}
for i in range(1978,2024):
    teams[i]=[]
for row in standingstable.itertuples():
    teams[float(row.Season)].append(str(row.Team))
teamzzz=teams
teamzzz=teams
from bs4 import BeautifulSoup
import requests
html=requests.get("https://ontheroadtovote.com/ncaaf/fcs/index.php")
soup=BeautifulSoup(html.text)
links=soup.find_all("a")
arr=[]
y=0
pts={}
arrz=[]
ns={}

for a in links:
    y+=1
    url='https://ontheroadtovote.com/ncaaf/fcs/'+a['href']
    
    if '.txt' in str(a) and 'teams' not in str(a):
        df=pd.read_csv(url)
        df=df.replace("Eastern Washngton","Eastern Washington")
        df=df.replace("Nofrolk State",'Norfolk State')
        for row in df.itertuples():
            if row.Schl not in pts:
                pts[row.Schl]=0
                
            if 'Year' in str(row):
                s=row.Year 
            if 'Season' in str(row):
                s=row.Season
            if 'season' in str(row):
                s=row.season
            if 'netural' in str(row):
                n=row.netural
            if 'neutral' in str(row):
                n=row.neutral
            schl=str(row.Schl)
            opp=str(row.Opp)
            didf=0
            if 'for' in schl:
                schl=schl.split("(")
                schl=schl[0]
                if row.PTS==1 and row.OPP==0:
                    didf=1
                if row.PTS==0 and row.OPP==1:
                    didf=1
            if 'for' in opp:
                opp=opp.split("(")
                opp=opp[0]
                if row.PTS==1 and row.OPP==0:
                    didf=1
                if row.PTS==0 and row.OPP==1:
                    didf=1
            if float(s)<1995:
                na=row.Opp+row.Schl+row.Date+str(row.OPP)+str(row.PTS)
            
                if na not in arrz:
                    if row.Schl in teams[float(s)]:
                        inarr=1
                        if didf==0:
                            arrz.append(row.Schl+row.Opp+row.Date+str(row.PTS)+str(row.OPP))
                            arr.append([schl,opp,row.Venue,row.PTS,row.OPP,row.Date,s,n])
                        
        
df=pd.concat([pd.DataFrame(arr)])
df.columns=['Schl','Opp','Venue','PTS',"OPP",'date','Season','neutral']
df=df[df.Season<1995]
df.sort_values(by='date') 
for row in df.itertuples():
    if row.Opp not in pts:
        pts[row.Opp]=0
    pts[row.Schl]+=float(row.PTS)
    pts[row.Opp]+=float(row.OPP)
    g=str(row.Schl)
    g=g.rstrip()
        
    gz=str(row.Opp)
    gz=gz.rstrip()
    df.at[row.Index,'Schl']=g
    df.at[row.Index,'Opp']=gz
df=df.rename(columns={'Schl':'home','Opp':"away","PTS":"homep",'OPP':'awayp','Season':'season','Venue':'venue1'})
fcs=df
fcs=fcs.replace("Nicholls State State","Nicholls State")
fcs=fcs.replace("Middle Tennessee State State","Middle Tennessee State")
fcs=fcs.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
fcs['date']= pd.to_datetime(fcs['date'])
print("didfcs")

r = requests.get('https://ontheroadtovote.com/ncaaf/fbsteams.json')
y=r.json()
nccaa=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/nccaafootball.csv")

file=fcs
teamsf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/teams.txt")
teamz={}
file=file.astype("string")
file.reset_index(inplace=True)
file['home'].str.replace(' ', '')
file['away'].str.replace(' ', '')
file['home']=file['home'].replace("Charleston So ","Charleston Southern")
file['home']=file['home'].str.rstrip()
file['away']=file['away'].str.rstrip()
file['away']=file['away'].replace("Charleston So ","Charleston Southern")
teamw={}
teamw['Charleston So']='Charleston Southern'
y=[]
ga=[]
thiss=pd.DataFrame(z)
thiss=thiss[thiss.season==2023]
for row in thiss.itertuples():
    ga.append([row.home,row.away,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
for row in file.itertuples():
    g=str(row.home)
    g=g.rstrip()
        
    gz=str(row.away)
    gz=gz.rstrip()
    file.at[row.Index,'home']=g
    file.at[row.Index,'away']=gz

file['home'] = file.home.str.replace('_', ' ')
file['away'] = file.away.str.replace('_', ' ')


fcsa=[]
css=2023

from2000=from2000.replace("]","")
from2000=from2000.replace("[","")
from2000=from2000.astype({'season':float,'homep':float,'awayp':float})
from2000=from2000.drop_duplicates()
from2000.sort_values(by='date',inplace=True)
from2000=from2000

from2000['date'] = pd.to_datetime(from2000['date'], errors='coerce',utc=True)

from2000['date'] = pd.to_datetime(from2000.date,utc=True)
from2000['date'] = from2000['date'].dt.strftime('%Y-%m-%d')
currd=from2000
currteams=set(currd.home.tolist()+currd.away.tolist())
allconfs={}
print('ready')
import requests
w=0
l=0
regm=0
df=dfz
currSeason=1869
from20000=from2000
y=0
dobye=0
dc=0
rev=(0.30)
tds={}
ga=[]
import requests
names=set()
replace=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams.json")
replace=replace.json()
replace2=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams1.json")
replace2=replace2.json()
replace3=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams2.json")
replace3=replace3.json()
fcs=pd.concat([pd.DataFrame(arr)])
fcs.columns=['home','away','venue','homep','awayp','date','season','neutral']
for row in fcs.itertuples():
    
    ht=row.home
    at=row.away
    if 'NA' in ht:
        print(row)
    if 'NA' in at:
        print(row)
    if ht in replace:
        ht=replace[ht]
    if at in replace:
        at=replace[at]
    if ht in replace2:
        ht=replace2[ht]
    if at in replace2:
        at=replace2[at]
    if ht in replace3:
        ht=replace3[ht]
    if at in replace3:
        at=replace3[at]
    name=row.away+row.date+row.home
    if name not in names:
            
        ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,row.venue])
    names.add(name)
z=pd.DataFrame(z)
files=['usportsscores.csv','fcsscores.csv',"updatedd2scores.csv","updatedd3scores.csv","naiascores.csv","nccaascores.csv","njcaascores.csv",'cccaascores.csv',"2013d3.txt","2013naia.txt","2013njcaa.txt","2013d2.txt","updatedfcs.csv","2013fcs.txt"]
for file in files:
    if file=='2013fcs.txt':
        df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/fcs/"+file)
        df.columns=['index','Schl','Opp','neutral','Date','Year','PTS','OPP','OT','Venue']
    else:
        
        
        df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/"+file)
    if file=='2013d3.txt':
        df['Year']=2013
        df['Venue']='vs'
        df.columns=['Opp','Schl','neutral','PTS','OPP','Date','Year','Venue']
    if file=='2013naia.txt':
        df['Year']=2013
    if file=='2013d2.txt':
        df['Year']=2013
        df['Venue']='vs'
    if file=='2013njcaa.txt':
        df['Year']=2013
        df['Venue']='vs'
    if file=='updatedfcs.csv':
        df.columns=['index','Date','Venue','Schl','Opp','PTS',"OPP",'neutral','Year']
    if 'NA' in ht:
        print(row)
    if 'NA' in at:
        print(row)
    for row in df.itertuples():
        
        ht=row.Schl
        at=row.Opp
        if ht in replace:
            ht=replace[ht]
        if at in replace:
            at=replace[at]
        if ht in replace2:
            ht=replace2[ht]
        if at in replace2:
            at=replace2[at]
        if ht in replace3:
            ht=replace3[ht]
        if at in replace3:
            at=replace3[at]
        name=row.Opp+row.Date+row.Schl
        if name not in names:
            ga.append([ht,at,row.neutral,row.Year,row.Date,row.PTS,row.OPP,row.Venue])
            
        
        names.add(name)
    

for row in fcs.itertuples():
    
    ht=row.home
    at=row.away
    if ht in replace:
        ht=replace[ht]
    if at in replace:
        at=replace[at]
    if ht in replace2:
        ht=replace2[ht]
    if at in replace2:
        at=replace2[at]
    if ht in replace3:
        ht=replace3[ht]
    if at in replace3:
        at=replace3[at]
    name=row.away+row.date+row.home
    if 'NA' in ht:
        print(row)
    if 'NA' in at:
        print(row)
    if name not in names:
            
        ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,"vs"])
    names.add(name)
z.columns=['home','homeconf','homep','away','awayconf','awayp','attendance','neutral','season','playoff','date','week','id','season_type']
for row in z.itertuples():
    ht=row.home
    at=row.away
    if ht in replace:
        ht=replace[ht]
    if at in replace:
        at=replace[at]
    if ht in replace2:
        ht=replace2[ht]
    if at in replace2:
        at=replace2[at]
    if ht in replace3:
        ht=replace3[ht]
    if at in replace3:
        at=replace3[at]
    name=row.away+row.date+row.home
    if 'NA' in ht:
        print(row)
    if 'NA' in at:
        print(row)
    if name not in names:
        date=str(row.date)
        if 'T' in str(date):
            date=date.split("T")[0]
        
        ga.append([ht,at,row.neutral,row.season,date,row.homep,row.awayp,"vs"])
    names.add(name)
fcsdf=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/fcsscores.csv")

for row in dfz.itertuples():
    ht=row.home
    at=row.away
    if ht in replace:
        ht=replace[ht]
    if at in replace:
        at=replace[at]
    if ht in replace2:
        ht=replace2[ht]
    if at in replace2:
        at=replace2[at]
    if ht in replace3:
        ht=replace3[ht]
    if at in replace3:
        at=replace3[at]
    date=str(row.date)
    if 'NA' in ht:
        print(row)
    if 'NA' in at:
        print(row)
    if 'T' in str(date):
        date=date.split("T")[0]
    if (row.date>str("1995-11-25"))and float(row.homep)==0 and float(row.awayp)==0:
        m=1
    if (row.date<str("1995-11-26"))and float(row.homep)==0 and float(row.awayp)==0:
        if row.season>2001:
            if 1==1:
                
                name=row.away+row.date+row.home
                if name not in names:

                    if float(row.awayp)==0 and float(row.homep)==0:
                        m=1
                    else:
                        ga.append([ht,at,row.neutral,row.season,date,row.homep,row.awayp,'vs'])
        else:
            name=row.away+row.date+row.home
            ht=row.home
            at=row.away
            if name not in names:

                if float(row.awayp)==0 and float(row.homep)==0:
                    m=1
                else:
                    ga.append([ht,at,row.neutral,row.season,date,row.homep,row.awayp,'vs'])
    
    
  
    
    
    
from2000=pd.DataFrame(ga)
from2000.columns=['home','away','neutral','season','date','homep','awayp','venue1']
for season in from2000.season.unique():
    tds[season]={ }
for row in from2000.itertuples():
    tds[row.season][row.home]='yes'
    tds[row.season][row.away]='yes'
doms=1
dc=1
confm=1
eloLeaguez.addPlayer("St John's (NY)")
eloLeaguez.addPlayer("Fairfield")
from2000=from2000.astype("string")
from2000=from2000.astype({"homep":float,'awayp':float,'season':float})
from2000['venue1']=from2000['venue1'].replace("-1","@")
from2000=from2000.replace("S Carolina St","South Carolina State")
from2000['venue1']=from2000['venue1'].replace("1","vs")
from2000=from2000.drop_duplicates()
from2000['date']=from2000.date.str.replace("'","")
from2000.sort_values(by='date',inplace=True)
from20000=from2000
from2000=from2000[from2000.date<str(today)]
from2000=from2000[from2000.homep.notna()]
from2000=from2000[from2000.awayp.notna()]
r = requests.get('https://ontheroadtovote.com/ncaaf/fbsteams.json')
y=r.json()
naiadf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/naiastandings1969-1994.csv")
naiadf=naiadf[['Team','Wins','Losses','Season']]
naiadf=naiadf.replace("/NR","")
naiadf['Team']=naiadf.Team.str.replace("/NR","")
for team in y:
    from2000=from2000.replace(team,y[team])
coldiv=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/collegedivision.csv")
y=requests.get("https://ontheroadtovote.com/ncaaf/fcs/collegedivteams.json")
y=y.json()
coldiv['Team']=coldiv.Team.str.replace("/0 ","")
coldiv['Team']=coldiv.Team.str.replace("UPI ","")
coldiv['Team']=coldiv.Team.str.replace("AP / No. ","")
coldiv['Team']=coldiv.Team.str.replace("/NR","")
coldiv['Team']=coldiv.Team.str.replace("†","")
coldiv['Team']=coldiv.Team.str.replace("3","")
coldiv['Team']=coldiv.Team.str.replace("–","-")
coldiv['Team']=coldiv.Team.str.strip()
coldiv['Team']=coldiv['Team'].astype("str")
for team in y:
    coldiv['Team']=coldiv['Team'].replace(team,y[team])
d2df=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2footballstandings.csv")
y=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d2footballteams.json")
y=y.json()
d2df['Team']=d2df.Team.str.replace("/0 ","")
d2df['Team']=d2df.Team.str.replace("UPI ","")
d2df['Team']=d2df.Team.str.replace("AP / No. ","")
d2df['Team']=d2df.Team.str.replace("/NR","")
d2df['Team']=d2df.Team.str.replace("†","")
d2df['Team']=d2df.Team.str.replace("3","")
d2df['Team']=d2df.Team.str.replace("–","-")
d2df['Team']=d2df.Team.str.strip()
d2df['Team']=d2df['Team'].astype("str")
for team in y:
    d2df['Team']=d2df['Team'].replace(team,y[team])
d3df=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d3footballstandings.csv")
y=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d3footballteams.json")
y=y.json()
d3df['Team']=d3df.Team.str.replace("/0 ","")
d3df['Team']=d3df.Team.str.replace("UPI ","")
d3df['Team']=d3df.Team.str.replace("AP / No. ","")
d3df['Team']=d3df.Team.str.replace("/NR","")
d3df['Team']=d3df.Team.str.replace("†","")
d3df['Team']=d3df.Team.str.replace("3","")
d3df['Team']=d3df.Team.str.replace("–","-")
d3df['Team']=d3df.Team.str.strip()
d3df['Team']=d3df['Team'].astype("str")

for team in y:
    d3df['Team']=d3df['Team'].replace(team,y[team])
d3df=d3df.dropna()
d3df=d3df.replace("xa","")
d3df=d3df[d3df.Losses!='–']
r = requests.get('https://ontheroadtovote.com/ncaaf/fcs/teams.json')
y=r.json()

for team in y:
    from2000=from2000.replace(team,y[team])
teams=set(d2df.Team.tolist())
for team in teams:
    eloLeaguez.addPlayer(str(team),rating=1500)
teams=set(d3df.Team.tolist())
for team in teams:
    eloLeaguez.addPlayer(str(team),rating=1500)
from2000=from2000.replace("Sterling A.C.","Sterling")
from2000=from2000.replace("Emporia College","Emporia State")
from2000['home']=from200['home'].str.replace("UTFL","Ft Lauderdale")
from2000['away']=from200['away'].str.replace("UTFL","Ft Lauderdale")
teams=set(from2000.home.tolist()+from2000.away.tolist())
for team in teams:
    eloLeaguez.addPlayer(str(team),rating=1500)
naiadf=naiadf[naiadf.Wins!="?"]
naiadf=naiadf[naiadf.Losses!="?"]
naiadf=naiadf.astype({"Team":"string","Wins":float,"Losses":float,"Season":float})
naiadf=naiadf.drop_duplicates()
teams=set(naiadf.Team.tolist())

for team in teams:
    eloLeaguez.addPlayer(str(team),rating=1500)
teams=set(coldiv.Team.tolist())

for team in teams:
    eloLeaguez.addPlayer(str(team),rating=1500)
fcss=[]
fcsvnon=[]
from2000=from2000.drop_duplicates()
for game in from2000.itertuples():
    if game.season>1977:
        if game.home in str(fbsteams[game.season]) and game.away in str(teamzzz[game.season]):
            fcss.append(game.awayp-game.homep)
        if game.away in str(fbsteams[game.season]) and game.home in str(teamzzz[game.season]):
            fcss.append(game.homep-game.awayp)
        if game.away not in str(fbsteams[game.season]) and game.away not in str(teamzzz[game.season]) and game.home in str(teamzzz[game.season]):
            fcsvnon.append(game.homep-game.awayp)
        if game.home not in str(fbsteams[game.season]) and game.home not in str(teamzzz[game.season]) and game.away in str(teamzzz[game.season]):
            fcsvnon.append(game.awayp-game.homep)
naiateams={}
for i in range(1969,1995):
    naiateams[float(i)]={}

for row in naiadf.itertuples():
    naiateams[row.Season][row.Team]={}
    naiateams[row.Season][row.Team]['W']=float(row.Wins)
    naiateams[row.Season][row.Team]['L']=float(row.Losses)
d2teams={}
for i in range(1969,1995):
    d2teams[float(i)]={}

for row in d2df.itertuples():
    d2teams[row.Season][row.Team]={}
    d2teams[row.Season][row.Team]['W']=float(row.Wins)
    d2teams[row.Season][row.Team]['L']=float(row.Losses)
coldivteams={}
for i in range(1956,1973):
    coldivteams[float(i)]={}

for row in coldiv.itertuples():
    coldivteams[row.Season][row.Team]={}
    coldivteams[row.Season][row.Team]['W']=float(row.Wins)
    coldivteams[row.Season][row.Team]['L']=float(row.Losses)
d3teams={}
for i in range(1973,1995):
    d3teams[float(i)]={}

for row in d3df.itertuples():
    d3teams[row.Season][row.Team]={}
    d3teams[row.Season][row.Team]['W']=float(row.Wins)
    d3teams[row.Season][row.Team]['L']=float(row.Losses)  
for game in from2000.itertuples():
    fcs=abs(round(np.mean(fcss))*20)*2
    fcsv=abs(round(np.mean(fcsvnon))*20)*2
    hpen=0
    apen=0
    if game.season>1977:
        if game.away not in str(fbsteams[game.season]) and game.away not in str(teamzzz[game.season]) and game.home in str(teamzzz[game.season]):
            apen=fcsv
        if game.home not in str(fbsteams[game.season]) and game.home not in str(teamzzz[game.season]) and game.away in str(teamzzz[game.season]):
            hpen=fcsv
        if game.home in str(fbsteams[game.season]) and game.away in str(teamzzz[game.season]):
            apen=fcs
        if game.away in str(fbsteams[game.season]) and game.home in str(teamzzz[game.season]):
            hpen=fcs
    season=game.season
    if (season >currSeason):
        if season>1955 and season<1973:
            for team in coldivteams[game.season]:
                
                if team not in ct:
                    wins=coldivteams[game.season][team]['W']*20
                    losses=coldivteams[game.season][team]['L']*20
                    wins=0
                    loses=0
                    eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1200) * (1/3.))
                    eloLeaguez.ratingDict[team]+=wins
                    eloLeaguez.ratingDict[team]-=losses
        if season>1968 and season<1995:
            for team in naiateams[game.season]:
                
                if team not in ct:
                    wins=naiateams[game.season][team]['W']*20
                    losses=naiateams[game.season][team]['L']*20
                    wins=0
                    losses=0
                    eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1200) * (1/3.))
                    eloLeaguez.ratingDict[team]+=wins
                    eloLeaguez.ratingDict[team]-=losses
        if season>1972 and season<1995:
            
            for team in d3teams[game.season]:
                
                if team not in ct:
                    wins=d3teams[game.season][team]['W']*20
                    losses=d3teams[game.season][team]['L']*20
                    wins=0
                    loses=0
                    eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1200) * (1/3.))
                    eloLeaguez.ratingDict[team]+=wins
                    eloLeaguez.ratingDict[team]-=losses
        if season>1972 and season<1995:
            for team in d2teams[game.season]:
                
                if team not in ct:
                    wins=d2teams[game.season][team]['W']*20
                    losses=d2teams[game.season][team]['L']*20
                    wins=0
                    loses=0
                    eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1200) * (1/3.))
                    eloLeaguez.ratingDict[team]+=wins
                    eloLeaguez.ratingDict[team]-=losses
        lsdf=from2000[from2000.season<game.season]
        ls=set(lsdf.home.tolist()+lsdf.away.tolist())
        ctdf=from2000[from2000.season==game.season]
        ct=set(ctdf.home.tolist()+ctdf.away.tolist())
        
        for key in ls:
            if key in ct:
                if game.season<1978:
                    eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1500) * (1/3.))
                if game.season>1977:
                    if key in str(fbsteams[game.season]):
                        
                        eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1500) * (1/3.))
                    if key in str(teamzzz[game.season]):
                        eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1200) * (1/3.))
                    if key not in str(teamzzz[game.season]) and key not in str(fbsteams[game.season]):
                        eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1200) * (1/3.))

        currSeason=game.season
    if 'vs' in str(game.venue1):
        
        ht=game.home
        at=game.away
        hp=game.homep
        ap=game.awayp
    else:
        at=game.home
        ht=game.away
        ap=game.homep
        hp=game.awayp
    if (hp > ap)or(hp==ap):
        
        
    
        eloLeaguez.gameOver(ht,at,True,game.neutral,hp,ap,hpen,apen)
    
    
    if ap>hp:
        
        eloLeaguez.gameOver(at, ht,False,game.neutral,ap,hp,apen,hpen)
print("{")
a=0
tp=0
for team in eloLeaguez.ratingDict.keys():
  if tp==1:
      my=[]
      print(team,":",eloLeaguez.ratingDict[team])
txtz='"','Team','"',':','20'
print('"','Team','"',':','20')
print("}")

1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
1978
1979
1980

In [26]:
thiss

,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,playoff,date,week,id,season_type
3705,LaGrange College,USA South,NaN,Florida Memorial University,None,NaN,NaN,False,2023,0,2023-08-26T17:00:00.000Z,1,401550883,regular
3706,Notre Dame,FBS Independents,42.0,Navy,American Athletic,3.0,49000.0,True,2023,0,2023-08-26T18:30:00.000Z,1,401525434,regular
3707,Mercer,Southern,17.0,North Alabama,UAC,7.0,NaN,True,2023,0,2023-08-26T19:30:00.000Z,1,401540199,regular
3708,Jacksonville State,Conference USA,17.0,UTEP,Conference USA,14.0,17982.0,False,2023,0,2023-08-26T21:30:00.000Z,1,401520145,regular
3709,San Diego State,Mountain West,20.0,Ohio,Mid-American,13.0,23867.0,False,2023,0,2023-08-26T23:00:00.000Z,1,401532392,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7438,South Dakota,MVFC,17.0,North Dakota State,MVFC,45.0,NaN,False,2023,0,2023-12-09T19:30:00.000Z,15,401617308,postseason
7439,Army,FBS Independents,17.0,Navy,American Athletic,11.0,65878.0,True,2023,0,2023-12-09T20:00:00.000Z,15,401520445,regular
7440,North Central,CCIW,34.0,Wartburg,American Rivers,27.0,NaN,False,2023,0,2023-12-09T20:30:00.000Z,15,401617200,postseason
7441,Colorado Mines,Rocky Mountain,35.0,Kutztown,Pennsylvania State Athletic,7.0,NaN,False,2023,0,2023-12-09T20:30:00.000Z,15,401617205,postseason
7442,Idaho,Big Sky,22.0,Albany,CAA,30.0,NaN,False,2023,0,2023-12-10T03:00:00.000Z,15,401617309,postseason

In [25]:
for row in from2000.itertuples():
    if 'NA' in str(row):
        print(row)

Pandas(Index=95366, home=<NA>, away=<NA>, neutral='False', season=2022.0, date='2022-11-05', homep=17.0, awayp=3.0, venue1='vs')
Pandas(Index=95513, home=<NA>, away=<NA>, neutral='False', season=2022.0, date='2022-11-12', homep=24.0, awayp=10.0, venue1='vs')
Pandas(Index=95699, home=<NA>, away=<NA>, neutral='False', season=2022.0, date='2022-11-12', homep=31.0, awayp=7.0, venue1='vs')
Pandas(Index=96354, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-09-02', homep=41.0, awayp=27.0, venue1='vs')
Pandas(Index=96505, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-09-09', homep=21.0, awayp=24.0, venue1='vs')
Pandas(Index=97752, home=<NA>, away=<NA>, neutral='True', season=2023.0, date='2023-10-07', homep=17.0, awayp=14.0, venue1='vs')
Pandas(Index=98211, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-10-14', homep=21.0, awayp=45.0, venue1='vs')
Pandas(Index=98090, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-10-14', homep=21.0, awayp=24.0, venue1='vs')
Pandas(Index=98655, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-10-28', homep=62.0, awayp=0.0, venue1='vs')
Pandas(Index=98648, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-10-28', homep=34.0, awayp=26.0, venue1='vs')
Pandas(Index=98687, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-10-28', homep=49.0, awayp=6.0, venue1='vs')
Pandas(Index=98870, home=<NA>, away=<NA>, neutral='False', season=2023.0, date='2023-10-29', homep=30.0, awayp=34.0, venue1='vs')

In [19]:
game

Pandas(Index=95366, home=<NA>, away=<NA>, neutral='False', season=2022.0, date='2022-11-05', homep=45.0, awayp=0.0, venue1='vs')

In [17]:
from2000=from200.replace("")
from2000['date']=pd.to_datetime(from2000['date'],  format='%Y%m%d')

ValueError: unconverted data remains: 3

In [15]:
from200=from2000.replace("UFTL","Ft Lauderdale")
from2000[(from2000.homep==0)&(from2000.awayp==0)]

,home,away,neutral,season,date,homep,awayp,venue1
3256,Grambling,Mississippi Valley State,False,1978.0,1978-10-14,0.0,0.0,@
1210,Bucknell,Lafayette,False,1979.0,1979-10-13,0.0,0.0,@
4,Akron,Youngstown State,False,1980.0,1980-10-04,0.0,0.0,@
6256,North Texas,McNeese,False,1985.0,1985-10-26,0.0,0.0,@
78609,MN St CTC,Mesabi Range,False,2013.0,2013-08-31,0.0,0.0,vs
78635,Northland CTC,MN St CTC,False,2013.0,2013-09-07,0.0,0.0,vs
78798,Itasca CC,MN St CTC,False,2013.0,2013-10-17,0.0,0.0,vs
92132,Missouri Southern State,Lindenwood,False,2013.0,2013-11-02,0.0,0.0,vs
92342,Harding,Texas A&M-Commerce,True,2013.0,2013-12-07,0.0,0.0,vs
92924,Allen,Johnson C Smith,False,2022.0,2022-09-10T22:00:00.000Z,0.0,0.0,vs
93768,Winston-Salem,Lincoln (PA),False,2022.0,2022-10-01T17:30:00.000Z,0.0,0.0,vs
93874,San Diego,Stetson,False,2022.0,2022-10-01T20:00:00.000Z,0.0,0.0,vs
93921,Carnegie Mellon,Westminster PA,False,2022.0,2022-10-01T23:00:00.000Z,0.0,0.0,vs
94216,UFTL,Bluefield,True,2022.0,2022-10-08T22:00:00.000Z,0.0,0.0,vs
94393,Illinois Wesleyan,North Park,False,2022.0,2022-10-15T18:00:00.000Z,0.0,0.0,vs
96075,Alderson-Broaddus,California (PA),False,2023.0,2023-08-31T22:00:00.000Z,0.0,0.0,vs
96380,Pacific (Oregon),Chapman,False,2023.0,2023-09-03T02:00:00.000Z,0.0,0.0,vs
96439,Alderson-Broaddus,Glenville State,False,2023.0,2023-09-07T22:00:00.000Z,0.0,0.0,vs
96450,Franklin & Marshall,College of New Jersey,False,2023.0,2023-09-08T23:00:00.000Z,0.0,0.0,vs
96839,WV Wesleyan,Alderson-Broaddus,False,2023.0,2023-09-16T17:00:00.000Z,0.0,0.0,vs
97123,Alderson-Broaddus,Frostburg State,False,2023.0,2023-09-23T17:00:00.000Z,0.0,0.0,vs
97476,Fairmont State,Alderson-Broaddus,False,2023.0,2023-09-30T18:00:00.000Z,0.0,0.0,vs
97726,Alderson-Broaddus,Charleston (WV),False,2023.0,2023-10-07T17:00:00.000Z,0.0,0.0,vs
98040,West Virginia State,Alderson-Broaddus,False,2023.0,2023-10-14T17:00:00.000Z,0.0,0.0,vs
98327,Wheeling Jesuit,Alderson-Broaddus,False,2023.0,2023-10-21T17:00:00.000Z,0.0,0.0,vs
98635,Alderson-Broaddus,West Liberty,False,2023.0,2023-10-28T17:00:00.000Z,0.0,0.0,vs
98974,Alderson-Broaddus,UNC Pembroke,False,2023.0,2023-11-04T17:00:00.000Z,0.0,0.0,vs
99257,Notre Dame College,Alderson-Broaddus,False,2023.0,2023-11-11T17:00:00.000Z,0.0,0.0,vs

In [137]:

f=from2000[from2000.home=='Davidson']
f[f.season==2013]

           home          away neutral  season        date  homep  awayp venue1
79193  Davidson  Lenior-Rhyne   False  2013.0  2013-09-14   34.0   18.0     vs

array([2002., 2003., 2004., 2005., 2006., 2007., 2008., 2009., 2010.,
       2011., 2012., 2013., 2015., 2016., 2017., 2018., 2019., 2020.])

In [15]:
o=from2000
o[o.away=='Midland NE']

,home,away,neutral,season,date,homep,awayp,venue1
9734,Sioux Falls,Midland NE,False,1995.0,1995-09-16,30.0,19.0,vs
9783,Northwestern (IA),Midland NE,False,1995.0,1995-09-23,30.0,20.0,vs
9851,Dana,Midland NE,False,1995.0,1995-09-30,24.0,21.0,vs
9911,Hastings,Midland NE,False,1995.0,1995-10-14,21.0,20.0,@
10180,Dakota Wesleyan,Midland NE,False,1996.0,1996-09-14,32.0,30.0,vs
...,...,...,...,...,...,...,...,...
23476,Dakota Wesleyan,Midland NE,False,2023.0,2023-09-16,33.0,32.0,vs
23549,Morningside,Midland NE,False,2023.0,2023-09-23,48.0,17.0,vs
23568,Northwestern (IA),Midland NE,False,2023.0,2023-09-30,42.0,21.0,vs
23645,Mt Marty,Midland NE,False,2023.0,2023-10-14,28.0,21.0,@
23798,Hastings,Midland NE,False,2023.0,2023-11-04,37.0,32.0,vs

In [138]:
pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/fcs/2013fcs.csv")

,Unnamed: 0,ht,at,n,Date,Year,PTS,OPP,OT,Venue
0,0,Wake Forest,Presbyterian,False,20130829,2013,31,7,0,vs
1,1,Indiana,Indiana State,False,20130829,2013,73,35,0,vs
2,2,Ball State,Illinois State,False,20130829,2013,51,28,0,vs
3,3,E Kentucky,Robert Morris,False,20130829,2013,38,6,0,vs
4,4,Fordham,URI,False,20130829,2013,51,26,0,vs
...,...,...,...,...,...,...,...,...,...,...
932,932,E Washington,Jacksonville St,False,20131214,2013,35,24,0,vs
933,933,SE Louisiana,UNH,False,20131214,2013,17,20,0,vs
934,934,North Dakota St,UNH,False,20131220,2013,52,14,0,vs
935,935,E Washington,Towson,False,20131221,2013,31,35,0,vs
936,936,North Dakota St,Towson,True,20140104,2013,35,7,0,vs

In [33]:
s=input("School")
from2000=from2000.replace("Sterling A.C.","Sterling")
for key in set(from2000.home.tolist()+from2000.away.tolist()):
    if s in key:
        print(key)

School ON

York ON
Carleton ON
Western ON
Queens ON
Ottawa ON

In [82]:
import requests
months={"August":'08','September':"09",'October':"10",'November':"11",'December':"12"}
days=['Sun.','Sat.','Thu.','Mon.','Fri.']
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
html=requests.get("https://www.njcaa.org/sports/fball/2013-14/schedule",headers=headers)
html=html.text
from bs4 import BeautifulSoup
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
num=0
games=[]
didp=0
notes=table.find_all("td",{"class":"e_notes"})
for tr in table.find_all("tr"):
    
    if 'month' in str(tr):
        month=tr.text
    
    if num!=0 and 'month' not in str(tr) and 'notes' not in str(tr):
        if "\xa0" in td[0].text:
            m=1
        else:
            day=td[0].text
        date="2013"+month+day
        td=tr.find_all("td")
        away=td[1].text
        away=away.strip()
        aways=td[2].text
        aways=aways.strip()
        home=td[3].text
        home=home.strip()
        homes=td[4].text
        homes=homes.strip()
        notes=table.find_all("tr")[num+1]
        notes=notes.text
        note=notes
        n=False
        for dayz in days:
            date=date.replace(dayz,"")
        for m in months:
            date=date.replace(m,months[m])
        if(homes==0 and aways==1) or(homes==0 and aways==1):
            m=1
        else:
            date=date.replace(" ","")
            if 'Scrimmage' not in note and 'Final' in str(tr):
                if '@' in str(note):
                    n=True
                away=away.replace("\n","")
                home=home.replace("\n","")
                aways=aways.replace("\n","")
                homes=homes.replace("\n","")
                n=str(n)
                n=n.replace("\n","")
                date=date.replace("\n","")
                row=[away,aways,home,homes,n,date]
                
                
                games.append(row)
                    
            
            didp=1
    num+=1

In [71]:
df[df['at']=='Concordia Col.']

,Unnamed: 0,ht,at,n,Date,Year,PTS,OPP,OT,Venue
66,66,Abil Christian,Concordia Col.,False,20130831,2013,84,6,0,vs

In [76]:
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/fcs/2013fcs.csv")
replace=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams.json")
replace=replace.json()
replace2=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams1.json")
replace2=replace2.json()
replace3=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams2.json")
replace3=replace3.json()

for team in set(df.ht.tolist()+df['at'].tolist()):
    if team in replace:
        team=replace[team]
    if team in replace2:
        team=replace2[team]
    if team in replace3:
        team=replace3[team]
    if team not in eloLeaguez.ratingDict.keys():
        print(team)

In [79]:
df.columns=['index','Schl','Opp','neutral','Date','Year','PTS','OPP','OT','Venue']
df[df.neutral==True]

,index,Schl,Opp,neutral,Date,Year,PTS,OPP,OT,Venue
71,71,Florida A&M,Miss Valley St,True,20130901,2013,27,10,0,vs
107,107,Howard,Morehouse,True,20130907,2013,27,16,0,vs
194,194,Lincoln (MO),Grambling St,True,20130914,2013,47,34,0,vs
222,222,Jackson State,Tennessee St,True,20130914,2013,16,26,0,vs
255,255,SE Missouri St,S Illinois,True,20130921,2013,19,36,0,vs
272,272,S Carolina St,Benedict,True,20130921,2013,59,6,0,vs
340,340,Tennessee St,Central St,True,20130928,2013,73,6,0,vs
349,349,Abil Christian,Tarleton St,True,20130928,2013,34,41,1,vs
428,428,S Carolina St,NC A&T,True,20131005,2013,29,24,0,vs
436,436,PV A&M,Grambling St,True,20131005,2013,31,3,0,vs
489,489,Alcorn State,Grambling St,True,20131012,2013,48,0,0,vs
621,621,Alabama State,Alabama A&M,True,20131026,2013,31,7,0,vs
633,633,PV A&M,Jackson State,True,20131026,2013,38,51,0,vs
697,697,SF Austin,Sam Houston,True,20131102,2013,49,56,0,vs
880,880,Bethune-Cookman,Florida A&M,True,20131123,2013,29,10,0,vs
894,894,Villanova,Delaware,True,20131123,2013,35,34,0,vs
912,912,Grambling St,Southern,True,20131130,2013,17,40,0,vs
922,922,Jackson State,Southern,True,20131207,2013,27,34,1,vs
927,927,Jackson State,Southern,True,20131207,2013,27,34,1,vs
928,928,Harding,TX A&M-Commerce,True,20131207,2013,0,0,0,vs
929,929,Harding,TX A&M-Commerce,True,20131213,2013,44,3,0,vs
936,936,North Dakota St,Towson,True,20140104,2013,35,7,0,vs

In [125]:
fcsu={"1995":"https://masseyratings.com/scores.php?s=41840&sub=11605&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=11605&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=11605&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=11605&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=11605&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=11605&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=11605&all=1"}
ggg=[]
d3={"1995":"https://masseyratings.com/scores.php?s=41840&sub=11620&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=11620&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=11620&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=11620&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=11620&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=11620&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=11620&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=11620&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=11620&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=11620&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=11620&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=11620&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=11620&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=11620&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=11620&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=11620&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=11620&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=11620&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=11620&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=11620&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=11620&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=11620&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=11620&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=11620&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=11620&all=1"}
usports={"2009":"https://masseyratings.com/scores.php?s=94988&sub=10909&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=10909&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=10909&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=10909&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=10909&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=10909&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=10909&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=10909&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=10909&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=10909&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=10909&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=10909&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=10909&all=1"}
d3={"1995":"https://masseyratings.com/scores.php?s=41840&sub=11620&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=11620&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=11620&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=11620&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=11620&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=11620&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=11620","2002":"https://masseyratings.com/scores.php?s=41847&sub=11620&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=11620&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=11620&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=11620&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=11620&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=11620&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=11620&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=11620&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=11620&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=11620&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=11620&all=1"}
naia={"1995":"https://masseyratings.com/scores.php?s=41840&sub=12795&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=12795&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=12795&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=12795&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=12795&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=12795&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=12795&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=12795&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=12795&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=12795&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=12795&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=12795&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=12795&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=12795&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=12795&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=12795&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=12795&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=12795&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=12795&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=12795&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=12795&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=12795&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=12795&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=12795&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=12795&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=12795&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=12795&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=12795&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=12795&all=1"}
d2={"2014":"https://masseyratings.com/scores.php?s=262657&sub=11606&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=11606&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=11606&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=11606&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=11606&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=11606&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=11606&all=1","1995":"https://masseyratings.com/scores.php?s=41840&sub=11606&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=11606&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=11606&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=11606&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=11606&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=11606&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=11606&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=11606&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=11606&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=11606&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=11606&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=11606&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=11606&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=11606&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=11606&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=11606&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=11606&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=11606&all=1"}
nccaa={"2016":"https://masseyratings.com/scores.php?s=286577&sub=12799&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=12799&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=12799&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=12799&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=12799&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=12799&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=12799&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=12799&all=1"}
import re
fcs={"2002":"https://masseyratings.com/scores.php?s=41847&sub=11605&all=1","2003":"https://masseyratings.com/scores.php?s=41847&sub=11605&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=11605&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=11605&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=11605&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=11605&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=11605&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=11605&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=11605&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=11605&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=11605&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=11605&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=11605&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=11605&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=11605&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=11605&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=11605&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=11605&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=11605&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=11605&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=11605&all=1"}
cccaa={"2000":"https://masseyratings.com/scores.php?s=41845&sub=95204&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=95204&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=95204&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=95204&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=95204&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=95204&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=95204&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=95204&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=95204&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=95204&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=95204&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=95204&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=95204&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=95204&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=95204&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=95204&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=95204&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=95204&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=95204&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=95204&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=95204&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=95204&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=95204&all=1"}
njcaa={"2000":"https://masseyratings.com/scores.php?s=41845&sub=12814&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=12814&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=12814&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=12814&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=12814&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=12814&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=12814&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=12814&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=12814&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=12814&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=12814&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=12814&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=12814&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=12814&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=12814&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=12814&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=12814&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=12814&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=12814&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=12814&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=12814&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=12814&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=12814&all=1"}
import requests
from bs4 import BeautifulSoup
fcs['2014']='https://masseyratings.com/scores.php?s=262657&sub=11605&all=1'
for key in fcs:
    nof=fcs[key]
    
    nof=str(nof)
    nof=nof.split("&format=")
    nof=nof[0]
    nof=nof+"&mode=3&format=2"
    htmlz=requests.get(nof).text
    soupz=BeautifulSoup(htmlz)
    
    
    for line in soupz.text.split('\n')[:-1]:
        k=str(line)
        k=k.replace(" ","")
        k=k.split(",")
        string=str(k[0])
        string=string.replace(" ","")
    
    gg=[]
   
    r = requests.get(fcs[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            
            j=line[1]
            n=False
            line = list(line.split(','))
            v="vs"
            if "@" not in str(line):
                n=True
            
            if "@" in str(line[4]):
                v="@"
            if "@" in str(line[1]):
                v="vs"
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            row=[date,v,s,o,line[2],line[4],n,key]
            
            
            gg.append(row)
            ggg.append(row)

In [132]:
import pandas as pd
df=pd.DataFrame(ggg,columns=['Date','Venue','Schl','Opp','PTS','OPP','neutral','Year'])
df=df.astype({"Year":float})
df=df[df.Year<2021]
df.to_csv("updatedfcs.csv")

In [36]:
u=set(from2000.home.tolist()+from2000.away.tolist())
replace=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams.json")
replace=replace.json()
replace2=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams1.json")
replace2=replace2.json()
replace3=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams2.json")
replace3=replace3.json()
for team in set(df.Schl.tolist()+df.Opp.tolist()):
    if team in replace:
        team=replace[team]
    if team in replace2:
        team=replace2[team]
    if team in replace3:
        team=replace3[team]
    if team not in u:
        
        print(team)

Emporia State
UDLA Puebla

In [50]:
qw=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/updatedd2scores.csv")
qw.Year.unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012])

In [52]:
df=df.astype({"Year":float})
df=df[df.Year<2021]
df.to_csv("fcs2002-2020.csv")

In [53]:
df.to

,Date,Venue,Schl,Opp,PTS,OPP,neutral,Year
0,2002-08-29,vs,Austin Peay,Cumberland TN,17,16,False,2002.0
1,2002-08-29,vs,Bowling Green,Tennessee Tech,41,7,False,2002.0
2,2002-08-29,vs,C Michigan,Sam Houston St,34,10,False,2002.0
3,2002-08-29,vs,Delaware,Ga Southern,22,19,False,2002.0
4,2002-08-29,vs,Florida Intl,St Peters,27,3,False,2002.0
...,...,...,...,...,...,...,...,...
13682,2021-05-02,vs,Sam Houston St,N Dakota St,24,20,False,2020.0
13683,2021-05-02,vs,S Dakota St,S Illinois,31,26,False,2020.0
13684,2021-05-08,vs,Sam Houston St,James Madison,38,35,False,2020.0
13685,2021-05-08,vs,S Dakota St,Delaware,33,3,False,2020.0
13686,2021-05-16,vs,Sam Houston St,S Dakota St,23,21,False,2020.0

In [43]:
from2000=from2000.replace("Emporia College","Emporia State")
from2000[from2000.away=='Emporia State']

,home,away,neutral,season,date,homep,awayp,venue1
90352,Kansas,Emporia State,False,1901.0,1901-10-05T00:00:00.000Z,36.0,10.0,vs
91108,Kansas,Emporia State,False,1903.0,1903-09-28T00:00:00.000Z,32.0,0.0,vs
91216,Kansas,Emporia State,False,1903.0,1903-10-10T00:00:00.000Z,12.0,0.0,vs
91556,Kansas,Emporia State,False,1904.0,1904-09-24T00:00:00.000Z,6.0,0.0,vs
91593,Kansas,Emporia State,False,1904.0,1904-10-01T00:00:00.000Z,34.0,0.0,vs
...,...,...,...,...,...,...,...,...
84639,Northeastern Oklahoma State,Emporia State,False,2023.0,2023-09-16T23:00:00.000Z,0.0,38.0,vs
85209,Missouri Western,Emporia State,False,2023.0,2023-09-30T21:00:00.000Z,34.0,31.0,vs
85456,Pittsburgh State,Emporia State,False,2023.0,2023-10-07T19:00:00.000Z,33.0,25.0,vs
86060,Central Missouri,Emporia State,False,2023.0,2023-10-21T18:30:00.000Z,77.0,27.0,vs
86987,Fort Hays State,Emporia State,False,2023.0,2023-11-11T19:00:00.000Z,42.0,45.0,vs

In [ ]:
d3df=d3df.dropna()
d3df=d3df.replace("xa","")
d3df[d3df.Wins.str.contains("xa")]

In [ ]:
dfh=pd.concat([pd.DataFrame(arr)])
dfh.columns=['Schl','Opp','Venue','PTS',"OPP",'date','Season','neutral']

In [ ]:
eloLeaguez.ratingDict['Mississippi Industrial']

In [ ]:
dfh[dfh.Opp=='Eastern Michigan']

In [ ]:
fcsteamz=set(dfh.Schl.tolist()+dfh.Opp.tolist())
currteams=set(from2000.home.tolist()+from2000.away.tolist())
thedict={}
for key in fcsteamz:
    if key in currteams:
        
        thedict[key]='1'
sorted_dict = {key: value for key, value in sorted(thedict.items())}
sorted_dict

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from bs4 import BeautifulSoup
import requests
teams={}
arr=[]
for i in range(1973,1995):
    teams[i]=[]
for i in range(1973,1995):
    url="https://en.wikipedia.org/wiki/"+str(i)+"_NCAA_Division_III_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    my_table=soup.find_all("table",{"class":"standings-box"})
    index=0     
    for table in my_table:
        for j in table.find_all("tr")[1:]:
            statements="Team" not in str(j) and 'title' not in str(j) and 'legend' not in str(j)
        
        
        
                    
            if  'Team' not in str(j) and 'conference' not in str(j) and "style" not in str(j) and 'Division' not in str(j) and 'League' not in str(j) and 'legend' not in str(j) and 'header' not in str(j):
            
            
            
                row_data = j.find_all("td")
                team=row_data[0].text
                team=team.replace("$","")
                team=team.replace("\n","")
                team=team.replace("xy","")
                team=team.replace(" x","")
                team=team.replace(" y","")
                team=team.replace("^","")
                team=team.replace("+","")
                team=re.sub(r'^.*?1', '', team)
                team=re.sub(r'^.*?2', '', team)
                team=re.sub(r'^.*?3', '', team)
                team=team.replace("*","")
                team=team.replace("1","")
                team=team.replace("2","")
                team=re.sub(r'^.*?4', '', team)
                team=re.sub(r'^.*?5', '', team)
                team=re.sub(r'^.*?6', '', team)
                team=re.sub(r'^.*?7', '', team)
                team=re.sub(r'^.*?8', '', team)
                team=re.sub(r'^.*?9', '', team)
                team=re.sub(r'^.*?0', '', team)
                team=team.rstrip()
                wins=row_data[8].text
                wins=wins.replace("\n","")
                losses=row_data[10].text
                losses=losses.replace("\n","")
                team=team.strip()
                row = [team,wins,losses,i]
                arr.append(row)
                if team not in str(teams):
                
                    teams[i].append(team)

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from bs4 import BeautifulSoup
import requests
teams={}
arr=[]
for i in range(1969,1995):
    teams[i]=[]
for i in range(1969,1995):
    url="https://en.wikipedia.org/wiki/"+str(i)+"_NAIA_Division_II_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    my_table=soup.find_all("table",{"class":"standings-box"})
    index=0     
    for table in my_table:
        for j in table.find_all("tr")[1:]:
            statements="Team" not in str(j) and 'title' not in str(j) and 'legend' not in str(j)
        
        
        
                    
            if  'Team' not in str(j) and 'conference' not in str(j) and "style" not in str(j) and 'Division' not in str(j) and 'League' not in str(j) and 'legend' not in str(j) and 'header' not in str(j):
            
            
            
                row_data = j.find_all("td")
                team=row_data[0].text
                team=team.replace("$","")
                team=team.replace("\n","")
                team=team.replace("xy","")
                team=team.replace(" x","")
                team=team.replace(" y","")
                team=team.replace("^","")
                team=team.replace("+","")
                team=re.sub(r'^.*?1', '', team)
                team=re.sub(r'^.*?2', '', team)
                team=re.sub(r'^.*?3', '', team)
                team=team.replace("*","")
                team=team.replace("1","")
                team=team.replace("2","")
                team=re.sub(r'^.*?4', '', team)
                team=re.sub(r'^.*?5', '', team)
                team=re.sub(r'^.*?6', '', team)
                team=re.sub(r'^.*?7', '', team)
                team=re.sub(r'^.*?8', '', team)
                team=re.sub(r'^.*?9', '', team)
                team=re.sub(r'^.*?0', '', team)
                team=team.rstrip()
                wins=row_data[8].text
                wins=wins.replace("\n","")
                losses=row_data[10].text
                losses=losses.replace("\n","")
                team=team.strip()
                row = [team,wins,losses,i]
                arr.append(row)
                if team not in str(teams):
                
                    teams[i].append(team)
for i in range(1969,1995):
    url="https://en.wikipedia.org/wiki/"+str(i)+"_NAIA_Division_I_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    my_table=soup.find_all("table",{"class":"standings-box"})
    index=0 
    for table in my_table:
        
        
        for j in table.find_all("tr")[1:]:
            statements="Team" not in str(j) and 'title' not in str(j) and 'legend' not in str(j)
        
        
        
                    
            if  'Team' not in str(j) and 'conference' not in str(j) and "style" not in str(j) and 'legend' not in str(j) and 'header' not in str(j):
            
            
            
                row_data = j.find_all("td")
                team=row_data[0].text
                team=team.replace("$","")
                team=team.replace("\n","")
                team=team.replace("xy","")
                team=team.replace(" x","")
                team=team.replace(" y","")
                team=team.replace("^","")
                team=team.replace("*","")
                team=team.replace("+","")
                team=re.sub(r'^.*?1', '', team)
                team=re.sub(r'^.*?2', '', team)
                team=re.sub(r'^.*?3', '', team)
                team=re.sub(r'^.*?4', '', team)
                team=re.sub(r'^.*?5', '', team)
                team=re.sub(r'^.*?6', '', team)
                team=re.sub(r'^.*?7', '', team)
                team=re.sub(r'^.*?8', '', team)
                team=re.sub(r'^.*?9', '', team)
                team=re.sub(r'^.*?0', '', team)
        
                team=team.replace("1","")
                team=team.replace("2","")
                team=team.rstrip()
                wins=row_data[8].text
                wins=wins.replace("\n","")
                losses=row_data[10].text
                losses=losses.replace("\n","")
                team=team.strip()
                row = [team,wins,losses,i]
                arr.append(row)
                if team not in str(teams):
                
                    teams[i].append(team)
            
            
                    
                    
            

naiad1=teams

In [ ]:
row_data

In [ ]:
naiadf.to_csv("d2standings.csv")

In [35]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)

school Hawa

Hawaii
St. Louis Alumni-Hawaii
Hawaii All-Stars
Hawai'i

In [328]:
pd.read_html("http://www.dakstats.com/WebSync/Pages/Team/TeamSchedule.aspx?association=10&sg=MFB&sea=NAIMFB_2013&team=2206")[16]

     0
0  WVB

In [ ]:
naiadf=pd.DataFrame(arr,columns=['Team','Wins','Losses','Season'])
naiadf.to_csv("d3footballstandings.csv")

# scrape naia standings

In [ ]:
naiadf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d3footballstandings.csv")
y=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d3footballteams.json")
y=y.json()
naiadf['Team']=naiadf.Team.str.replace("/0 ","")
naiadf['Team']=naiadf.Team.str.replace("UPI ","")
naiadf['Team']=naiadf.Team.str.replace("AP / No. ","")
naiadf['Team']=naiadf.Team.str.replace("/NR","")
naiadf['Team']=naiadf.Team.str.replace("†","")
naiadf['Team']=naiadf.Team.str.replace("3","")
naiadf['Team']=naiadf.Team.str.replace("–","-")
naiadf['Team']=naiadf.Team.str.strip()
naiadf['Team']=naiadf['Team'].astype("str")
for team in y:
    naiadf['Team']=naiadf['Team'].replace(team,y[team])
for team in set(naiadf.Team.tolist()):
    if team not in eloLeaguez.ratingDict.keys():
        print(team)

In [ ]:
naiadf.to_csv("naia1969-1994.csv")

In [ ]:
naiadf.to_csv("naiastandings1969-1994.csv")

In [ ]:
j=1
for i in range(1978,2024):
    u=[]
    for key in teamzzz[i]:
        
        if key not in eloLeaguez.ratingDict.keys():
            if 'standings' not in str(key) and "Poll" not in str(key) and 'football' not in str(key):
                
                key=key.replace("  ","")
                u.append(key)

In [6]:
currentweek=from20000[from20000['date'].str.contains('2024-01-09')]
for row in currentweek.itertuples():
    hpen=0
    game=row
    apen=0
    if game.away not in str(fbsteams[game.season]) and game.away not in str(teamzzz[game.season]) and game.home in str(teamzzz[game.season]):
        apen=fcsv
    if game.home not in str(fbsteams[game.season]) and game.home not in str(teamzzz[game.season]) and game.away in str(teamzzz[game.season]):
        hpen=fcsv
    if row.home in str(fbsteams[row.season]) and row.away in str(teamzzz[row.season]):
        apen=fcs
    if row.away in str(fbsteams[row.season]) and row.home in str(teamzzz[row.season]):
        hpen=fcs
    if row.neutral==True:
        helo=eloLeaguez.ratingDict[row.home]-hpen
    else:
        helo=eloLeaguez.ratingDict[row.home]+100-hpen
    aelo=eloLeaguez.ratingDict[row.away]-apen
    
    if aelo>helo:
        
        spread=aelo-helo
        spread=spread/20
        spread=round(spread)
        if spread==0:
            spread=1
        print(row.away+" "+"beats "+" "+row.home+" "+ "by "+str(spread)+" <br/>")
    if helo>aelo or helo==aelo:
        spread=helo-aelo
        spread=spread/20
        spread=round(spread)
        if spread==0:
            spread=1
        print(row.home+" "+"beats "+" "+row.away+" "+ "by "+str(spread)+" <br/>")

Michigan beats  Washington by 12 <br/>

In [ ]:
tp=0
n={}
n['f']=0
n['t']=0
for row in fcs.itertuples():
    tp+=(row.homep+row.awayp)
    if 'True' in str(row.neutral):
        n['t']+=1
    else:
        n['f']+=1
    
tp

In [ ]:
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d31995-2022.csv")
df1['Schl']=df1['Schl'].str.replace("_"," ")
df1['Opp']=df1['Opp'].str.replace("_"," ")
    
h=[]
for team in set(df1.Schl.tolist()+df1.Opp.tolist()):
    if team not in eloLeaguez.ratingDict.keys():
        print(team)
        h.append(team)
print(len(h))

In [ ]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)

In [ ]:
from2000[from2000.home=='Virginia State']

In [ ]:
t1=input("t1")
t2=input("t2")

f=input("fcs")
h=200
if str(1) in f:
    ap=200
else:
    ap=0
t1e=eloLeaguez.ratingDict[t1]+h
t2e=eloLeaguez.ratingDict[t2]-ap
print(t1+" by "+str((t1e-t2e)/20))

In [ ]:
df2

In [ ]:
gz=[]
njcaaurlss={"2022":"https://masseyratings.com/scores.php?s=384031&sub=12814&all=1&mode=3&format=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=12814&all=1&mode=3&format=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=12814&all=1&mode=3&format=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=12814&all=1&mode=3&format=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=12814&all=1&mode=3&format=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=12814&all=1&mode=3&format=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=12814&all=1&mode=3&format=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=12814&all=1&mode=3&format=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=12814&all=1&mode=3&format=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=12814&all=1&mode=3&format=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=12814&all=1&mode=3&format=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=12814&all=1&mode=3&format=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=12814&all=1&mode=3&format=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=12814&all=1&mode=3&format=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=12814&all=1&mode=3&format=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=12814&all=1&mode=3&format=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=12814&all=1&mode=3&format=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=12814&all=1&mode=3&format=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=12814&all=1&mode=3&format=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=12814&all=1&mode=3&format=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=12814&all=1&mode=3&format=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=12814&all=1&mode=3&format=1"}
njcaaurls={"2023":"https://masseyratings.com/scores.php?s=539277&sub=12799&all=1&mode=3&format=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=12799&all=1&mode=3&format=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=12799&all=1&mode=3&format=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=12799&all=1&mode=3&format=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=12799&all=1&mode=3&format=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=12799&all=1&mode=3&format=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=12799&all=1&mode=3&format=1"}
for key in njcaaurls:
    gg=[]
    r = requests.get(njcaaurls[key])
    soup = bs(r.content, 'lxml')
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(bs(r.content, 'lxml'))
    q=aa
    q=q.split("\n")
    for line in q:
        
        
        
        
        line=str(line)
        
        
        
        line = list(line.split(', '))
        if "<" not in str(line):
            
            date=str(line[0])
            datey=date.split(",")
            date=datey[1]
            row=[datey[1],line[1],line[2],line[3],line[4],line[5],line[6],float(key)]
            gg.append(row)
        if "<p>" in str(line):
            line=str(line)
            line=line.split("<p>")
            line=line[1]
            line=list(line.split(', '))
            date=str(line[0])
            datey=date.split(",")
            date=datey[1]
            row=[datey[1],line[1],line[2],line[3],line[4],line[5],line[6],float(key)]
            gg.append(row)
    d22=pd.DataFrame(gg,columns=['Date','Schl','venue1','PTS','Opp','venue2','OPP','Year'])
    
    nof=njcaaurls[key]
    nof=str(nof)
    nof=nof.split("&format=")
    nof=nof[0]
    nof=nof+"&format=2"
    htmlz=requests.get(nof).text
    soupz=BeautifulSoup(htmlz)
    tds={}
    d22.reset_index(inplace=True)
    d22 = d22.astype({"Schl": str, "Opp": str})
    d22=d22.astype("string")
    d22['Schl']=d22['Schl'].str.replace("'","")
    d22['Opp']=d22['Opp'].str.replace("'","")
    d22['PTS']=d22['PTS'].str.replace("'","")
    d22['OPP']=d22['OPP'].str.replace("'","")
    d22['venue1']=d22['venue1'].str.replace("'","")
    d22['venue2']=d22['venue2'].str.replace("'","")
    for line in soupz.text.split('\n')[:-1]:
        k=str(line)
        k=k.replace(" ","")
        k=k.split(",")
  
        tds[float(k[0])]=k[1]
    for row in d22.itertuples():
        schl=str(row.Schl)
        schl=schl.replace(" ","")
        schl=float(schl)
        d22.at[row.Index,"Schl"]=tds[schl]
        o=str(row.Opp)
        o=o.replace(" ","")
        o=float(o)
        d22.at[row.Index,"Opp"]=tds[o]
    for row in d22.itertuples():
        ap=str(row.OPP)
        ap=ap.replace("]","")
        gz.append([row.Date,row.Schl,row.venue1,row.PTS,row.Opp,row.venue2,float(ap),row.Year])
    print(key)
d22=pd.DataFrame(gz,columns=['Date', 'Schl', 'venue1', 'PTS', 'Opp', 'venue2', 'OPP',
       'Year'])
d22=pd.DataFrame(gz,columns=['Date', 'Schl', 'venue1', 'PTS', 'Opp', 'venue2', 'OPP',
       'Year'])
d22.reset_index(inplace=True)
d22=d22.astype('string')

d22['venue1']=d22['venue1'].replace(" 0","vs")
d22['venue2']=d22['venue2'].replace(" 0","True")
d22['venue1']=d22['venue1'].replace(" 1","vs")
d22['venue1']=d22['venue1'].replace("-1","@")
d22=d22.rename(columns={'venue2':'neutral','venue1':'Venue'})
d22=d22.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','Venue':'venue1'})
d22['neutral']=d22['neutral'].str.replace("-1",'False')
d22['neutral']=d22['neutral'].str.replace("1",'False')
d22['neutral']=d22['neutral'].str.replace("0",'True')

In [ ]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)

In [ ]:
for key in set(d22.home.tolist()+d22.away.tolist()):
    if key not in eloLeaguez.ratingDict.keys():
        print(key)