msqe with 23:291.48765266821823
msqe with 22:290.261147611888
msqe with 21:290.1394455543427
msqe with 20:291.39622680369905

In [1]:
!pip install cfbd

Collecting cfbd
  Downloading cfbd-4.4.14-py3-none-any.whl (348 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 348.8/348.8 kB 5.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: urllib3>=1.23 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.26.13)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2.8.2)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2022.12.7)
Installing collected packages: cfbd
Successfully installed cfbd-4.4.14
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
dgz=list(set(file.home.tolist()+file.away.tolist()))+list(set(dfz.home.tolist()+dfz.away.tolist()))
def Convert(lst):
    res_dct = {lst[i]: 0 for i in range(0, len(lst), 2)}
    return res_dct
dg=Convert(dgz)
h=[]
for k in sorted(dg):
    
    h.append(k)
filez=open("keys.txt","w")
filez.write(str(h))  
filez.close()

In [ ]:
!pip install cfbd

In [ ]:
import pandas as pd
import math
from datetime import date,datetime,timedelta
can=1
import os
import pandas as pd

key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
dfz=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")
import cfbd
import datetime
import numpy as np
import pandas as pd
# configure API key
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] =key
configuration.api_key_prefix['Authorization'] = 'Bearer'
# instantiate a games API instance
api_config = cfbd.ApiClient(configuration)
games_api = cfbd.GamesApi(cfbd.ApiClient(configuration))
df=dfz[dfz.season>2024]
z=[]
gamesz =[]
games=[]
response = games_api.get_games(year=2022,season_type = 'both')
gamess = [*games, *response]
t=[]
z=[]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
response = games_api.get_games(year=2023,season_type = 'both')
gamess = [*games, *response]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
msqe=[]
lh=0
wh=0
n=0
from2000  = pd.DataFrame(z)
from2000=from2000.fillna(0)
from2000=from2000[(from2000.season_type=='regular')|(from2000.season_type=='postseason')]
from2000=from2000
df=from2000
from20000=from2000
from2000=from2000[(from2000.homep>0)|(from2000.awayp>0)]
from2000=from2000.sort_values(by='date')
from decimal import Decimal
import decimal
decimal.getcontext().prec = 100
decimal.getcontext().Emax=1000000000
decimal.getcontext().Emin=-1000000000
hfan=95
eloz={}
eloz['n']=0
eloz['wh']=0
eloz['lh']=0
class Elo:
  def __init__(self,k,g=1,homefield = 100):
    wh=0
    lh=0
    n=0
    self.ratingDict   = {}  
    self.k        = k
    self.g        = g
  def addPlayer(self,name,rating = 1500):
    self.ratingDict[name] = rating
  def gameOver(self, winner, loser, winnerHome,neutral,wins,loses):
    if 'True' in str(neutral):
        homef=0
    else:
        
        homef=100
    if winnerHome==True:
      eloz['wh']+=1
      result = self.expectResult(self.ratingDict[winner] + homef, self.ratingDict[loser])
    if winnerHome==0:
      eloz['lh']+=1
      result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser] + homef)
    else:
        
        result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser])

                    
    wins=float(wins)
    loses=float(loses)
    result=float(result)
    if wins==loses:
        mult=(math.log(0+1))*(2.2/1*0.001+2.2)
        shift=(self.k*mult)*(0.5 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
    if wins!=loses:
        win=eloLeaguez.ratingDict[winner]
        lose=eloLeaguez.ratingDict[loser]
        if 'True' in str(neutral):
          win=(eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome and 'True' not in str(neutral):
          win=(100+eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome!=True and 'True' not in str(neutral):
          lose=(100+eloLeaguez.ratingDict[loser])
          win=(eloLeaguez.ratingDict[winner])
        global zy
        if(win>lose):
          zy=(win-lose)
        if(win==lose):
          zy=(win-lose)+0.00001
        if(win<lose):
          zy=(win-lose)
        mult=(math.log((abs(wins-loses))+1))*(2.2/(zy)*0.001+2.2)
        shift=(self.k*float(mult))*(1 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
  from math import pow
  def expectResult(self, p1, p2):
    p2=Decimal(p2)
    p1=Decimal(p1)
    exp = Decimal((p2-p1))/Decimal(400.0)
    b=float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
    az['h']=str(b)
    return float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
teamss={}
az={}
az['h']='hello'
today = date.today()
allTeams  = set(dfz.away.tolist()+dfz.home.tolist())
allTeamsh  = set(dfz.home.tolist())
global st
eloLeaguez= Elo(k = 20,homefield=100)
dfz=dfz[(dfz.season_type=='postseason')|(dfz.season_type=='regular')]
from2000['homeconf'].fillna(0,inplace=True)
from2000['awayconf'].fillna(0,inplace=True)
df7=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d31995-2022.csv",skipinitialspace = True)
import re

import pandas as pd
import requests
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup as bs
tds={}

gz=[]
today=date.today()
if 1==1:
    d3urls={"2023":"https://masseyratings.com/scores.php?s=539277&sub=12795&all=1&mode=3&format=1"}
else:
    d3urls={}
for key in d3urls:
    gg=[]
    r = requests.get(d3urls[key])
    soup = bs(r.content, 'lxml')
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(bs(r.content, 'lxml'))
    q=aa
    q=q.split("\n")
    for line in q:
        
        
        
        
        line=str(line)
        
        
        
        line = list(line.split(', '))
        if "<" not in str(line):
            
            date=str(line[0])
            datey=date.split(",")
            date=datey[1]
            row=[datey[1],line[1],line[2],line[3],line[4],line[5],line[6],float(2023)]
            gg.append(row)
        if "<p>" in str(line):
            line=str(line)
            line=line.split("<p>")
            line=line[1]
            line=list(line.split(', '))
            date=str(line[0])
            datey=date.split(",")
            date=datey[1]
            row=[datey[1],line[1],line[2],line[3],line[4],line[5],line[6],float(2023)]
            gg.append(row)
    d22=pd.DataFrame(gg,columns=['Date','Schl','venue1','PTS','Opp','venue2','OPP','Year'])
    
    nof=d3urls[key]
    nof=str(nof)
    nof=nof.split("&format=")
    nof=nof[0]
    nof=nof+"&format=2"
    htmlz=requests.get(nof).text
    soupz=BeautifulSoup(htmlz)
    tds={}
    d22.reset_index(inplace=True)
    d22 = d22.astype({"Schl": str, "Opp": str})
    d22=d22.astype("string")
    d22['Schl']=d22['Schl'].str.replace("'","")
    d22['Opp']=d22['Opp'].str.replace("'","")
    d22['PTS']=d22['PTS'].str.replace("'","")
    d22['OPP']=d22['OPP'].str.replace("'","")
    d22['venue1']=d22['venue1'].str.replace("'","")
    d22['venue2']=d22['venue2'].str.replace("'","")
    for line in soupz.text.split('\n')[:-1]:
        k=str(line)
        k=k.replace(" ","")
        k=k.split(",")
  
        tds[float(k[0])]=k[1]
    for row in d22.itertuples():
        schl=str(row.Schl)
        schl=schl.replace(" ","")
        schl=float(schl)
        d22.at[row.Index,"Schl"]=tds[schl]
        o=str(row.Opp)
        o=o.replace(" ","")
        o=float(o)
        d22.at[row.Index,"Opp"]=tds[o]
    for row in d22.itertuples():
        ap=str(row.OPP)
        ap=ap.replace("]","")
        gz.append([row.Date,row.Schl,row.venue1,row.PTS,row.Opp,row.venue2,float(ap),row.Year])
    print(key)
d22=pd.DataFrame(gz,columns=['Date', 'Schl', 'venue1', 'PTS', 'Opp', 'venue2', 'OPP',
       'Year'])
d22.reset_index(inplace=True)
d22=d22.astype('string')

d22['venue1']=d22['venue1'].replace(" 0","vs")
d22['venue2']=d22['venue2'].replace(" 0","True")
d22['venue1']=d22['venue1'].replace(" 1","vs")
d22['venue1']=d22['venue1'].replace("-1","@")
d22=d22.rename(columns={'venue2':'neutral','venue1':'Venue'})
d22=d22.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','Venue':'venue1'})
d22['neutral']=d22['neutral'].str.replace("-1",'False')
d22['neutral']=d22['neutral'].str.replace("1",'False')
d22['neutral']=d22['neutral'].str.replace("0",'True')
df7=df7.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','Venue':'venue1'})
df7['neutral']=df7['neutral'].str.replace("-1",'False')
df7['neutral']=df7['neutral'].str.replace("1",'False')
df7['neutral']=df7['neutral'].str.replace("0",'True')
df3=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/fcs1995-2002.csv",skipinitialspace = True)

df3=df3.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','venue2':'neutral'})
df4=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/naia1995-2022.csv",skipinitialspace = True)
df4=df4.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date'})
df2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2d32002-2022.csv",skipinitialspace = True)
df2=df2.rename(columns={'ht':'home','at':'away','Year':'season','Date':'date','PTS':'homep','OPP':'awayp'})
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d21995-2022.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d22003-2022.csv")
df5=df5.rename(columns={"Schl":"home","Opp":"away",'Venue':"venue1","PTS":'homep','OPP':"awayp",'Year':"season",'Date':"date"})
df1=df1.rename(columns={"Schl":"home","Opp":"away",'Venue':"venue1","PTS":'homep','OPP':"awayp",'Year':"season",'Date':"date"})
df6=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/naia1995-2022.csv")
df6=df6.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','venue2':'neutral'})
df6=df6.astype("string")
df6['home']=df6['home'].str.replace("_"," ")
df6['away']=df6['away'].str.replace("_"," ")
df6['home']=df6['home'].str.replace("Chr","Christian")
df6['away']=df6['away'].str.replace("Chr","Christian")
df6['home']=df6['home'].str.replace(" St"," State")
df6['away']=df6['away'].str.replace(" St"," State")
import pandas as pd
teams={}
from bs4 import BeautifulSoup
import requests
for i in range(1978,1995):
    teams[i]=[]
for i in range(1978,1995):
    print(i)
    url="https://en.wikipedia.org/wiki/"+str(i)+"_NCAA_Division_I-AA_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    tablez=soup.find_all("table",{"class":"standings-box"})
    for table in tablez:
        links=table.find_all("a")
        for a in links:
            if 'football team' in str(a):
                a=str(a)
                a=a.split(">")
                a=a[1]
                a=a.split("<")
                a=a[0]
                teams[i].append(a)
arrz=[]
for i in range(1978,1995):
    ts=teams[i]
    for team in ts:
        arrz.append([team,i])
standingstable=pd.concat([pd.DataFrame(arrz)])
standingstable.columns=['Team','Season']
teamstor={'North Carolina A&amp;T':"North Carolina A&T","Grambling State":"Grambling","North Texas State":"North Texas","Northeast Louisiana":"Louisiana Monroe","UCF":"Central Florida","Texas-Arlington":"Texas Arlington","Florida A&amp;M":"Florida A&M","SW Texas State":"Texas State","NE Louisiana":"Louisiana Monroe","William &amp; Mary":"William & Mary","Southwest Texas State":"Texas State","Troy State":"Troy","Texas–Arlington":"Texas Arlington"}
for team in teamstor:
    standingstable=standingstable.replace(team,teamstor[team])
standingstable=standingstable[standingstable.Team!='New Mexico State']
standingstable=standingstable[standingstable.Team!='Tulsa']
standingstable=standingstable[standingstable.Team!='Wichita State']
teams={}
for i in range(1978,1995):
    teams[i]=[]
for row in standingstable.itertuples():
    teams[float(row.Season)].append(str(row.Team))
from bs4 import BeautifulSoup
import requests
html=requests.get("https://ontheroadtovote.com/ncaaf/fcs/index.php")
soup=BeautifulSoup(html.text)
links=soup.find_all("a")
arr=[]
y=0
pts={}
arrz=[]
ns={}

for a in links:
    y+=1
    url='https://ontheroadtovote.com/ncaaf/fcs/'+a['href']
    
    if '.txt' in str(a) and 'teams' not in str(a):
        df=pd.read_csv(url)
        df=df.replace("Eastern Washngton","Eastern Washington")
        df=df.replace("Nofrolk State",'Norfolk State')
        for row in df.itertuples():
            if row.Schl not in pts:
                pts[row.Schl]=0
                
            if 'Year' in str(row):
                s=row.Year 
            if 'Season' in str(row):
                s=row.Season
            if 'season' in str(row):
                s=row.season
            if 'netural' in str(row):
                n=row.netural
            if 'neutral' in str(row):
                n=row.neutral
            schl=str(row.Schl)
            opp=str(row.Opp)
            didf=0
            if 'for' in schl:
                schl=schl.split("(")
                schl=schl[0]
                if row.PTS==1 and row.OPP==0:
                    didf=1
                if row.PTS==0 and row.OPP==1:
                    didf=1
            if 'for' in opp:
                opp=opp.split("(")
                opp=opp[0]
                if row.PTS==1 and row.OPP==0:
                    didf=1
                if row.PTS==0 and row.OPP==1:
                    didf=1
            if float(s)<1995:
                na=row.Opp+row.Schl+row.Date+str(row.OPP)+str(row.PTS)
            
                if na not in arrz:
                    if row.Schl in teams[float(s)]:
                        inarr=1
                        if didf==0:
                            arrz.append(row.Schl+row.Opp+row.Date+str(row.PTS)+str(row.OPP))
                            arr.append([schl,opp,row.Venue,row.PTS,row.OPP,row.Date,s,n])
                        
        
df=pd.concat([pd.DataFrame(arr)])
df.columns=['Schl','Opp','Venue','PTS',"OPP",'date','Season','neutral']
df=df[df.Season<1995]
df.sort_values(by='date') 
for row in df.itertuples():
    if row.Opp not in pts:
        pts[row.Opp]=0
    pts[row.Schl]+=float(row.PTS)
    pts[row.Opp]+=float(row.OPP)
    g=str(row.Schl)
    g=g.rstrip()
        
    gz=str(row.Opp)
    gz=gz.rstrip()
    df.at[row.Index,'Schl']=g
    df.at[row.Index,'Opp']=gz
df=df.rename(columns={'Schl':'home','Opp':"away","PTS":"homep",'OPP':'awayp','Season':'season','Venue':'venue1'})
fcs=df
fcs=fcs.replace("Nicholls State State","Nicholls State")
fcs=fcs.replace("Middle Tennessee State State","Middle Tennessee State")
fcs=fcs.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
fcs['date']= pd.to_datetime(fcs['date'])

file=pd.concat([df3,df5,df1,df6,fcs,df7,d22])
teamsf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/teams.txt")
teamz={}
file=file.astype("string")
file.reset_index(inplace=True)
file['home'].str.replace(' ', '')
file['away'].str.replace(' ', '')
file['home']=file['home'].replace("Charleston So ","Charleston Southern")
file['home']=file['home'].str.rstrip()
file['away']=file['away'].str.rstrip()
file['away']=file['away'].replace("Charleston So ","Charleston Southern")
teamw={}
teamw['Charleston So']='Charleston Southern'
y=[]
ga=[]
thiss=pd.DataFrame(z)
thiss=thiss[thiss.season==2023]
for row in thiss.itertuples():
    ga.append([row.home,row.away,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
for row in file.itertuples():
    g=str(row.home)
    g=g.rstrip()
        
    gz=str(row.away)
    gz=gz.rstrip()
    file.at[row.Index,'home']=g
    file.at[row.Index,'away']=gz
    
for row in file.itertuples():
    if row.home in teamw:
        file.at[row.Index,'home']=teamw[row.home]
    if row.away in teamw:
        file.at[row.Index,'away']=teamw[row.away]
    if row.home in teamz:
        y.append(row.home)
        file.at[row.Index,'home']=teamz[row.home]
    if row.away in teamz:
        y.append(row.away)
        file.at[row.Index,'away']=teamz[row.away]
file['home'] = file.home.str.replace('_', ' ')
file['away'] = file.away.str.replace('_', ' ')


fcsa=[]
css=2023

from2000=from2000.replace("]","")
from2000=from2000.replace("[","")
from2000=from2000.astype({'season':float,'homep':float,'awayp':float})
from2000=from2000.drop_duplicates()
from2000.sort_values(by='date',inplace=True)
from2000=from2000

from2000['date'] = pd.to_datetime(from2000['date'], errors='coerce',utc=True)

from2000['date'] = pd.to_datetime(from2000.date,utc=True)
from2000['date'] = from2000['date'].dt.strftime('%Y-%m-%d')
currd=from2000
currteams=set(currd.home.tolist()+currd.away.tolist())
allconfs={}
print('ready')
import requests
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=18etXXj90qIsO6OR6Qx9uWzHd9Dn5IBvZefGwtjcxtI0&output=csv')
data = r.content
import pandas as pd
from io import BytesIO
hdf = pd.read_csv(BytesIO(data))
w=0
l=0
regm=0
df=dfz
currSeason=1869
from20000=from2000
y=0
dobye=0
dc=0
rev=(0.30)
tds={}

import requests
html=requests.get("https://ontheroadtovote.com/ncaaf/fcs/teams.json")
html=html.json()
htmlz=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d2d3teams.json")
htmlz=htmlz.json()
htmlzz=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d2d3teams.json")
htmlzz=htmlzz.json()
eloLeaguez.addPlayer("Morris Brown")
for row in file.itertuples():
    ht=row.home
    date=row.date
    at=row.away
    if row.home in htmlz:
        ht=htmlz[row.home]
    if row.away in htmlz:
        at=htmlz[row.away]
    if row.home in htmlzz:
        ht=htmlzz[row.home]
    if row.away in htmlzz:
        at=htmlzz[row.away]
    if row.home in html:
        ht=html[row.home]
    if row.away in html:
        at=html[row.away]
    if '-1' in str(row.venue1):
        venue='@'
    if str(row.venue1)=='1' or '0' in str(row.venue1):
        venue='vs'
    if '1' and '0' not in str(row.venue1):
        venue=row.venue1
    ga.append([ht,at,row.neutral,row.season,date,row.homep,row.awayp,venue])
for row in dfz.itertuples():
    ht=row.home
    at=row.away
    if (row.date>str("1995-11-25"))and float(row.homep)==0 and float(row.awayp)==0:
        m=1
    if (row.date<str("1995-11-26"))and float(row.homep)==0 and float(row.awayp)==0:
        ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
    
    if row.home in htmlz:
        ht=htmlz[row.home]
    if row.away in htmlz:
        at=htmlz[row.away]
    if row.home in html:
        ht=html[row.home]
    if row.away in html:
        at=html[row.away]
        
    if ((float(row.homep)==0 and float(row.awayp)==0)==False):
        if 'i' in str(row.hd) and 'i' in str(row.ad):
            if row.season!=2023:
                m=1
            else:
                ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
        else:
            
            ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
    
    
    
from2000=pd.DataFrame(ga)
from2000.columns=['home','away','neutral','season','date','homep','awayp','venue1']
for season in from2000.season.unique():
    tds[season]={ }
for row in from2000.itertuples():
    tds[row.season][row.home]='yes'
    tds[row.season][row.away]='yes'
doms=1
dc=1
confm=1
eloLeaguez.addPlayer("St John's (NY)")
eloLeaguez.addPlayer("Fairfield")
from2000=from2000.astype("string")
from2000=from2000.astype({"homep":float,'awayp':float,'season':float})
from2000['venue1']=from2000['venue1'].replace("-1","@")
from2000['venue1']=from2000['venue1'].replace("1","vs")
teams=set(from2000.home.tolist()+from2000.away.tolist())
for team in teams:
    eloLeaguez.addPlayer(str(team),rating=1500)
from2000=from2000.drop_duplicates()
from2000.sort_values(by='date',inplace=True)
from20000=from2000
from2000=from2000[from2000.date<str(today)]
from2000=from2000[from2000.homep.notna()]
from2000=from2000[from2000.awayp.notna()]
for game in from2000.itertuples():
    
    
    if (float(game.season) >currSeason):
        for key in eloLeaguez.ratingDict.keys():
             eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1500) * (1/3.))

        currSeason=game.season
    if 'vs' in str(game.venue1):
        
        ht=game.home
        at=game.away
        hp=game.homep
        ap=game.awayp
    else:
        at=game.home
        ht=game.away
        ap=game.homep
        hp=game.awayp
    if (hp > ap)or(hp==ap):
        
        
    
        eloLeaguez.gameOver(ht,at,True,game.neutral,hp,ap)
    
    
    if ap>hp:
        
        eloLeaguez.gameOver(at, ht,False,game.neutral,ap,hp)
print("{")
a=0
tp=0
for team in eloLeaguez.ratingDict.keys():
  if tp==1:
      my=[]
      print(team,":",eloLeaguez.ratingDict[team])
txtz='"','Team','"',':','20'
print('"','Team','"',':','20')
print("}")

from2000.dtypes

In [87]:
1500 - ((1500 - 1500) * (1/3.))

1500.0

In [44]:
eloLeaguez.ratingDict['Mercer']=1500

eloLeaguez.addPlayer("Mercer",rating=1500)

In [66]:
from2000.awayp.unique()

array([  4.,   0.,   3.,   2.,   5.,   1.,   6.,  13.,   9.,   7.,   8.,
        10.,  94.,  20.,  14.,  18.,  49.,  93.,  11.,  59.,  23.,  76.,
        42., 113.,  31.,  29.,  34.,  36.,  16.,  12.,  55.,  57.,  51.,
        30.,  64.,  86.,  53.,  82.,  33.,  54.,  62.,  61.,  26.,  91.,
        84., 158.,  15.,  28.,  68.,  52., 106.,  74.,  50.,  22.,  95.,
        66.,  38.,  70.,  46.,  44.,  39.,  80.,  45.,  40.,  24.,  63.,
        60.,  17.,  48.,  72.,  98.,  71.,  67.,  32.,  41.,  85.,  27.,
        58.,  21.,  25.,  47.,  56.,  19.,  35., 104.,  37.,  43.,  73.,
        97.,  75., 109., 102.,  78.,  65.,  83.,  99.,  77.,  92., 107.,
        96.,  69.,  81., 103.,  89.,  79.])

In [68]:
from2000

,home,away,neutral,season,date,homep,awayp,venue1
76863,Rutgers,Princeton,False,1869.0,1869-11-06T00:00:00.000Z,6.0,4.0,vs
76864,Princeton,Rutgers,False,1869.0,1869-11-13T00:00:00.000Z,8.0,0.0,vs
76865,Rutgers,Columbia,False,1870.0,1870-11-05T00:00:00.000Z,6.0,3.0,vs
76866,Princeton,Rutgers,False,1870.0,1870-11-12T00:00:00.000Z,6.0,2.0,vs
76867,Rutgers,Columbia,False,1872.0,1872-11-02T00:00:00.000Z,0.0,0.0,vs
...,...,...,...,...,...,...,...,...
95,Muhlenberg,Moravian,False,2023.0,2023-09-01T23:00:00.000Z,53.0,12.0,vs
97,Miami,Miami (OH),False,2023.0,2023-09-01T23:00:00.000Z,38.0,3.0,vs
99,Lebanon Valley,Franklin & Marshall,False,2023.0,2023-09-01T23:00:00.000Z,12.0,16.0,vs
100,Ursinus,Alvernia University,False,2023.0,2023-09-01T23:30:00.000Z,38.0,6.0,vs
101,Georgia Tech,Louisville,True,2023.0,2023-09-01T23:30:00.000Z,34.0,39.0,vs

In [ ]:
fcs=fcs.replace("Nicholls State State","Nicholls State")
fcs=fcs.replace("Middle Tennessee State State","Middle Tennessee State")
fcs.away.unique()

In [54]:
currentweek=from20000[from20000['date'].str.contains('2023-09-02')]
for row in currentweek.itertuples():
    if row.neutral==True:
        helo=eloLeaguez.ratingDict[row.home]
    else:
        helo=eloLeaguez.ratingDict[row.home]+100
    aelo=eloLeaguez.ratingDict[row.away]
    
    if aelo>helo:
        
        spread=aelo-helo
        spread=spread/20 
        print(row.away+" "+"beats "+" "+row.home+" "+ "by "+str(spread)+" <br/>")
    if helo>aelo or helo==aelo:
        spread=helo-aelo
        spread=spread/20
        print(row.home+" "+"beats "+" "+row.away+" "+ "by "+str(spread)+" <br/>")

South Dakota Mines beats  Valley City State by 5.349861276986007 <br/>
Hardin-Simmons beats  Albright by 32.30535296345714 <br/>
Kansas beats  Missouri State by 5.342728147650746 <br/>
Hawai'i beats  Stanford by 3.5005519636250484 <br/>
Central Connecticut beats  American International by 5.723334395965992 <br/>
Guilford beats  Greensboro by 12.64024570569519 <br/>
Concord beats  Emory & Henry by 13.346052501586598 <br/>
Marietta beats  St. John Fisher by 10.25242379432467 <br/>
Denison beats  Capital by 16.119444671306677 <br/>
Duquesne beats  Edinboro by 6.859890933121915 <br/>
Mississippi Valley State beats  Central State by 12.237222510929655 <br/>
Holy Cross beats  Merrimack by 13.619990537226874 <br/>
Lyon College beats  Grinnell by 17.533080615258267 <br/>
Findlay beats  Truman State by 2.3730481297430854 <br/>
San Diego beats  Cal Poly by 6.338092115660709 <br/>
Davidson beats  VMI by 13.575227825300567 <br/>
University of Texas of the Permian Basin beats  Texas College by 20.10597334852879 <br/>
Texas Southern beats  Prairie View by 8.477540382837697 <br/>
Lake Erie College beats  Franklin Pierce by 6.438942184724897 <br/>
Western State beats  West Texas A&M by 11.7350454765471 <br/>
St. Thomas (MN) beats  Black Hills State by 14.394622417486175 <br/>
Notre Dame College beats  Ohio Dominican by 9.752064256793119 <br/>
North Carolina Central beats  Winston-Salem by 17.28733534482101 <br/>
Villanova beats  Lehigh by 4.596503999515869 <br/>
Westminster beats  Rhodes by 3.7143558105863463 <br/>
Sacramento State beats  Nicholls by 17.568102103706885 <br/>
Montana State beats  Utah Tech by 22.443991023892067 <br/>
Davenport beats  Thomas More by 5.377454485450334 <br/>
Johns Hopkins beats  Ithaca by 2.14477864214316 <br/>
Randolph-Macon beats  NC Wesleyan by 18.50891142596213 <br/>
Boston College beats  Northern Illinois by 8.803238791797606 <br/>
Tiffin beats  McKendree by 15.195650771442638 <br/>
Utica beats  Rochester by 11.140643794154084 <br/>
Oklahoma beats  Arkansas State by 17.252870766356843 <br/>
Western Connecticut State beats  Merchant Marine by 5.353346274776788 <br/>
Alma College beats  Ohio Northern by 6.810601935351758 <br/>
Fresno State beats  Purdue by 2.0123294141667656 <br/>
Kentucky beats  Ball State by 14.664367754713192 <br/>
Kean beats  Morrisville State by 2.4811210616163293 <br/>
TCU beats  Colorado by 29.48711369244993 <br/>
Endicott College beats  St Lawrence by 5.0 <br/>
Union beats  Hilbert College by 10.086091132173305 <br/>
Liberty beats  Bowling Green by 10.289944188546873 <br/>
Gallaudet beats  Keystone by 8.127602075120308 <br/>
Kalamazoo beats  Oberlin by 13.602927166843653 <br/>
Assumption beats  Kutztown by 0.009777006028514279 <br/>
Ohio Wesleyan beats  Otterbein by 12.574906396129302 <br/>
Bentley beats  West Chester by 7.300445154099407 <br/>
Tennessee beats  Virginia by 24.725688653420615 <br/>
Wilkes beats  King's College (PA) by 10.699123655856772 <br/>
SMU beats  Louisiana Tech by 15.367003958082398 <br/>
Delaware Valley beats  SUNY Cortland by 11.955616178576804 <br/>
College of New Jersey beats  Eastern University by 2.051917323403643 <br/>
Dean College beats  Fitchburg State by 5.0 <br/>
Michigan beats  East Carolina by 18.141695110722242 <br/>
Bridgewater State beats  MIT by 0.8020278937595663 <br/>
Shepherd beats  Southern Connecticut State by 29.096305656143365 <br/>
Newberry beats  Shippensburg by 5.300700853574824 <br/>
Iowa beats  Utah State by 17.019823245500675 <br/>
Georgetown beats  Marist by 5.148222292099115 <br/>
Baldwin-Wallace beats  Mount St. Joseph by 2.727184168739734 <br/>
University of New England beats  Coast Guard by 12.345371871729345 <br/>
New Hampshire beats  Stonehill by 5.500441173124818 <br/>
Wilmington (OH) beats  Wooster by 7.0119049806656335 <br/>
Wabash College beats  Hampden-Sydney by 0.2191601704570985 <br/>
Illinois State beats  Dayton by 3.157725547949201 <br/>
Warner beats  Brevard College by 2231.8104893033137 <br/>
Bowie State beats  Delaware State by 10.671114217672562 <br/>
Rensselaer beats  Dickinson by 9.070064897907377 <br/>
Waynesburg beats  Allegheny by 6.59686799718205 <br/>
Salisbury beats  Washington & Lee by 2.3577199483911273 <br/>
Air Force beats  Robert Morris by 33.728836128380784 <br/>
Washington & Jefferson beats  St. Vincent by 5.888790774992719 <br/>
WV Wesleyan beats  Johnson C Smith by 0.36610930202728015 <br/>
Westminster PA beats  Grove City College by 2.544665599601319 <br/>
Husson beats  Norwich by 12.53469440730196 <br/>
Widener beats  Lycoming by 3.0018237573747 <br/>
Muskingum beats  Ferrum by 13.277906974056577 <br/>
Springfield beats  Western New England by 5.287628146353325 <br/>
Alfred State College beats  Misericordia by 0.7929349950843971 <br/>
Gettysburg beats  Juniata by 10.51301721092069 <br/>
William Paterson beats  FDU-Florham by 5.0 <br/>
Trinity (TX) beats  St. Johns (MN) by 10.106621685156062 <br/>
Apprentice School beats  Averett by 6.846245562144236 <br/>
Elizabeth City State beats  Catawba by 4.253488275341715 <br/>
Castleton State College beats  Plymouth State by 3.128226104858186 <br/>
Maryville TN beats  Sewanee Univ. of the South by 7.958126521819986 <br/>
Susquehanna beats  Bridgewater (VA) by 7.911828748119149 <br/>
Shenandoah beats  Methodist by 14.208493372925886 <br/>
Centre beats  Hanover by 8.728518826072104 <br/>
Franklin beats  Olivet College by 0.2854423272262352 <br/>
Mount Union beats  Defiance by 29.55882414710178 <br/>
Iowa State beats  Northern Iowa by 0.6776075564760162 <br/>
William Jewell College beats  Fort Lewis by 24.040622834997908 <br/>
Temple beats  Akron by 6.682190750757934 <br/>
UW-River Falls beats  Mary Hardin-Baylor by 5.0 <br/>
Chicago beats  Claremont by 10.829430586104888 <br/>
John Carroll beats  UW-Whitewater by 17.546004816017536 <br/>
North Central beats  Roosevelt by 21.132087537914675 <br/>
Jacksonville State beats  East Tennessee State by 24.40459041553762 <br/>
Ole Miss beats  Mercer by 696367.0582728873 <br/>
Virginia State beats  Norfolk State by 4.852821169988306 <br/>
Coe beats  Cornell College (IA) by 10.526781938218381 <br/>
Ripon beats  St. Norbert by 0.9638548724091833 <br/>
Gustavus Adolphus beats  Buena Vista by 19.957408525792687 <br/>
Augustana (SD) beats  University of Mary by 16.171017597698516 <br/>
Ohio beats  Long Island University by 15.914649841017773 <br/>
Dubuque beats  Wittenberg by 8.805819921390025 <br/>
Washington (MO) beats  Hendrix College by 8.062010297206076 <br/>
Austin College beats  Nebraska Wesleyan University by 5.0 <br/>
Wisconsin-Eau Claire beats  Concordia (MN) by 4.0237732199692235 <br/>
Albion beats  Carthage by 14.009091134139158 <br/>
Adrian beats  Elmhurst by 15.110202819382312 <br/>
Aurora beats  Hope by 11.93076127479245 <br/>
Greenville beats  Concordia (IL) by 1.4750707309140807 <br/>
Concordia (WI) beats  Martin Luther College by 4.980761473705809 <br/>
Augsburg beats  Northwestern (MN) by 7.143718870919645 <br/>
Montana beats  Butler by 11.433141939522784 <br/>
UW-Stout beats  St. Ambrose by 2.655462619948969 <br/>
Crown College beats  Hamline by 153644.40860117652 <br/>
St. Olaf College beats  Central by 5.0 <br/>
UW-Oshkosh beats  Texas Lutheran by 8.697360992685764 <br/>
Colorado Mesa beats  Texas A&M-Kingsville by 2.651078991529232 <br/>
Oregon beats  Portland State by 22.808343828543002 <br/>
Lane beats  Miles by 8.783363920274486 <br/>
Hampton beats  Grambling by 4.75959862886574 <br/>
North Dakota State beats  Eastern Washington by 23.829374356700917 <br/>
Western Kentucky beats  South Florida by 22.726767870254115 <br/>
Texas beats  Rice by 22.841863093210257 <br/>
Washington beats  Boise State by 10.313186778457203 <br/>
Pittsburgh beats  Wofford by 27.56759731991749 <br/>
Wisconsin beats  Buffalo by 10.84500246323521 <br/>
Cincinnati beats  Eastern Kentucky by 12.659422878669783 <br/>
Ohio State beats  Indiana by 13.960405512505849 <br/>
Maryland beats  Towson by 12.121742599842424 <br/>
Notre Dame beats  Tennessee State by 25.695511129012438 <br/>
Auburn beats  UMass by 18.187784749205218 <br/>
Appalachian State beats  Gardner-Webb by 3.4856045793936348 <br/>
Arkansas beats  Western Carolina by 21.51027432864937 <br/>
Syracuse beats  Colgate by 15.478431762615651 <br/>
Lewis & Clark beats  Puget Sound by 0.48759686699308985 <br/>
UNLV beats  Bryant by 3.1386498160588188 <br/>
SUNY Maritime beats  Hartwick by 3.452733453680446 <br/>
North Dakota beats  Drake by 15.546977946660752 <br/>
La Verne beats  Willamette by 9.335053076259044 <br/>
Mississippi State beats  Southeastern Louisiana by 8.592274817156284 <br/>
Cal Lutheran beats  Southwestern University by 4.78786216918968 <br/>
Pacific Lutheran beats  Redlands by 4.641096175118707 <br/>
North Texas beats  California by 9.253920735443945 <br/>
Christopher Newport beats  Southern Virginia by 17.989018631239162 <br/>
Charlotte beats  South Carolina State by 8.098020110499977 <br/>
Benedict College beats  Shaw by 18.416313225703824 <br/>
Trine beats  Anderson (IN) by 2.2297274654742862 <br/>
Richmond beats  Morgan State by 18.87662804494922 <br/>
James Madison beats  Bucknell by 26.834763985083327 <br/>
Marshall beats  Albany by 14.313496301530847 <br/>
Edward Waters beats  Florida Memorial University by 11.081412036711948 <br/>
Sacred Heart beats  Lafayette by 8.787581424216365 <br/>
Manchester beats  North Park by 0.7647935676306019 <br/>
Alabama State beats  Southern by 0.8318691140480496 <br/>
Lenoir-Rhyne beats  St. Augustine's by 30.83458957490534 <br/>
Florida Atlantic beats  Monmouth by 5.604808303782647 <br/>
Bluefield beats  Livingstone by 9.623573704007242 <br/>
Lock Haven beats  Post University by 2.004340189063362 <br/>
Georgia Southern beats  The Citadel by 14.25629797656153 <br/>
Indianapolis beats  Hillsdale by 16.513917473484423 <br/>
Allen beats  Erskine by 8.632027266511955 <br/>
Fordham beats  Wagner by 18.909751826523596 <br/>
Georgia beats  UT Martin by 26.663196360451877 <br/>
Berry College beats  Huntingdon by 1.4230558059238205 <br/>
Slippery Rock beats  Wayne State (MI) by 21.56362555886826 <br/>
St. Thomas University (Fl) beats  Stetson by 2298.47018441792 <br/>
Maine beats  Florida International by 1.6958112842926767 <br/>
USC beats  Nevada by 27.30725243859873 <br/>
Southern Mississippi beats  Alcorn State by 10.829646735649032 <br/>
Valdosta State beats  Point University by 17.929494066322253 <br/>
Oklahoma State beats  Central Arkansas by 4.0138372666637 <br/>
Southern Illinois beats  Austin Peay by 3.7317041129201813 <br/>
Minnesota-Morris beats  Macalester by 153678.00110652027 <br/>
Kansas State beats  Southeast Missouri State by 14.796691317005616 <br/>
Southeastern University beats  Savannah State by 6.7011280288824535 <br/>
Rose-Hulman beats  DePauw by 2.2379039140705457 <br/>
Chattanooga beats  North Alabama by 10.450406862216221 <br/>
Bluffton beats  Kenyon by 1.74545219098261 <br/>
Texas A&M beats  New Mexico by 21.85352771929438 <br/>
Houston beats  UT San Antonio by 1.7008318576457895 <br/>
Army beats  Louisiana Monroe by 5.178069951302712 <br/>
Anna Maria College beats  Westfield State by 5.0 <br/>
Augustana (IL) beats  Simpson College by 5.933397977558559 <br/>
Illinois College beats  Millikin by 6.167934306086579 <br/>
UVA-Wise beats  Union College by 13.743044932945065 <br/>
Lake Forest beats  Wisconsin Lutheran by 10.264416280582088 <br/>
Loras College beats  Benedictine College by 5.0 <br/>
Eureka College beats  Knox College by 9.483873887857339 <br/>
Arkansas Baptist beats  Houston Christian by 0.42410082697020923 <br/>
Baylor beats  Texas State by 15.30869266698652 <br/>
Thiel College beats  Case Western Reserve by 5.0 <br/>
Troy beats  Stephen F. Austin by 14.944139992388376 <br/>
Southwest Baptist beats  OK Panhandle St by 5.50648058065367 <br/>
Washington State beats  Colorado State by 4.117192017918432 <br/>
Murray State beats  Presbyterian College by 18.535364318364145 <br/>
Vanderbilt beats  Alabama A&M by 12.587216103524622 <br/>
Memphis beats  Bethune-Cookman by 20.322119853757385 <br/>
Penn State beats  West Virginia by 18.82171066125551 <br/>
Carnegie Mellon beats  Geneva College by 10.934405753663759 <br/>
Alabama beats  Middle Tennessee by 22.63565431175615 <br/>
Illinois beats  Toledo by 6.597982631316495 <br/>
Texas Tech beats  Wyoming by 4.494660334353943 <br/>
Louisiana beats  Northwestern State by 13.406976539128493 <br/>
North Carolina beats  South Carolina by 2.135647452198259 <br/>

In [48]:
from20000

,home,away,neutral,season,date,homep,awayp,venue1
76863,Rutgers,Princeton,False,1869.0,1869-11-06T00:00:00.000Z,6.0,4.0,vs
76864,Princeton,Rutgers,False,1869.0,1869-11-13T00:00:00.000Z,8.0,0.0,vs
76865,Rutgers,Columbia,False,1870.0,1870-11-05T00:00:00.000Z,6.0,3.0,vs
76866,Princeton,Rutgers,False,1870.0,1870-11-12T00:00:00.000Z,6.0,2.0,vs
76867,Rutgers,Columbia,False,1872.0,1872-11-02T00:00:00.000Z,0.0,0.0,vs
...,...,...,...,...,...,...,...,...
76858,Webber International,St. Andrews,False,2023.0,20230826,49.0,14.0,@
76859,Taylor,St. Ambrose,False,2023.0,20230826,37.0,34.0,vs
76848,Morningside,Benedictine KS,False,2023.0,20230826,20.0,17.0,@
76862,Reinhardt,Faulkner,False,2023.0,20230831,36.0,3.0,vs
76861,Carroll (Montana),Montana Tech,False,2023.0,20230831,21.0,19.0,@

## eloLeaguez.ratingDict['Alabama-Birmingham']

In [30]:
currentweek

,home,away,neutral,season,date,homep,awayp,venue1
102,South Dakota Mines,Valley City State,False,2023.0,2023-09-02T00:00:00.000Z,NaN,NaN,2023-09-02T00:00:00.000Z
103,Hardin-Simmons,Albright,False,2023.0,2023-09-02T00:00:00.000Z,47.0,3.0,2023-09-02T00:00:00.000Z
104,Kansas,Missouri State,False,2023.0,2023-09-02T00:00:00.000Z,41.0,17.0,2023-09-02T00:00:00.000Z
105,Hawai'i,Stanford,False,2023.0,2023-09-02T03:00:00.000Z,24.0,37.0,2023-09-02T03:00:00.000Z
111,Central Connecticut,American International,False,2023.0,2023-09-02T04:00:00.000Z,NaN,NaN,2023-09-02T04:00:00.000Z
...,...,...,...,...,...,...,...,...
309,Louisiana,Northwestern State,False,2023.0,2023-09-02T23:30:00.000Z,NaN,NaN,2023-09-02T23:30:00.000Z
308,Penn State,West Virginia,False,2023.0,2023-09-02T23:30:00.000Z,NaN,NaN,2023-09-02T23:30:00.000Z
307,Geneva College,Carnegie Mellon,False,2023.0,2023-09-02T23:30:00.000Z,NaN,NaN,2023-09-02T23:30:00.000Z
306,Wyoming,Texas Tech,False,2023.0,2023-09-02T23:30:00.000Z,NaN,NaN,2023-09-02T23:30:00.000Z
305,North Carolina,South Carolina,True,2023.0,2023-09-02T23:30:00.000Z,NaN,NaN,2023-09-02T23:30:00.000Z

In [ ]:
tp=0
n={}
n['f']=0
n['t']=0
for row in fcs.itertuples():
    tp+=(row.homep+row.awayp)
    if 'True' in str(row.neutral):
        n['t']+=1
    else:
        n['f']+=1
    
tp

In [ ]:
229626==229626

In [ ]:
df7

In [ ]:
fcs.away.unique()

In [ ]:
fcs=fcs.replace("Maryland Eastern Shore","Maryland-Eastern Shore")

In [ ]:
import pandas as pd
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning

requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

dates=pd.date_range(start="2022-08-01",end="2022-12-29")
d=[]
errorz=0
for date in dates:
    date=str(date)
    date=date.replace("00:00:00","")
   
    
    date=date.replace(" ","")
    datez=date.replace("-","")
    e="https://site.api.espn.com/apis/site/v2/sports/football/college-football/scoreboard?dates="+str(datez)+"&groups=35&limit=500000"
    html=requests.get(e,verify=False)
    jsonz=html.json()
    if "'code': 400" not in str(jsonz) and "'code': 404" not in str(jsonz) and 'gateway' not in str(jsonz):
        
        events=jsonz['events']
        season=jsonz['leagues'][0]['season']['year']
    
        for idz in events:
            teams=idz['name']
            season=idz['season']['year']
            teamss=str(teams)
            teams=teamss.split("at")
            ht=teams[1]
            at=teams[0]
            competitions=idz['competitions']
    
            competitors=idz['competitions'][0]['competitors']
    
            c=idz['competitions'][0]
            hn=competitors[0]['team']['location']
            an=competitors[1]['team']['location']
            n=c['neutralSite']
            hts=competitors[0]['score']
            ats=competitors[1]['score']
            active=competitors[1]['team']['isActive']
            status=idz['status']
            completed=status['type']['completed']
        
            st=status['type']['detail']
            st=str(st)
            st=st.replace("[","")
            stt=st.replace("]","")
            stt=stt
            st=stt.split("at")
            if ("at" in stt):
                st=st[1]
            if ("at" not in stt):
                st=stt
            if("Final") in stt:
                r="Final"
            if("Final") not in stt:
                r="Start Time:"+str(st)
                hn=str(hn)
                an=str(an)
            if "OT" in str(st):
                ot=1
            if "OT" not in str(st):
                ot=0
            d.append([hn,an,n,datez,season,hts,ats,ot])
    else:
        print('error',date)
        errorz+=1
g=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

In [ ]:
fcs[fcs.away=='Boston Harvard']

In [ ]:
df7

In [ ]:
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d31995-2022.csv")
df1['Schl']=df1['Schl'].str.replace("_"," ")
df1['Opp']=df1['Opp'].str.replace("_"," ")
    
h=[]
for team in set(df1.Schl.tolist()+df1.Opp.tolist()):
    if team not in eloLeaguez.ratingDict.keys():
        print(team)
        h.append(team)
print(len(h))

In [ ]:
fcs=fcs.replace("Sam Houton State",'Sam Houston State')
fcs=fcs.replace("Nothern Arizona","Northern Arizona")
fcs=fcs.replace("Nofrolk State",'Norfolk State')

In [ ]:
a

In [24]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)
osz=input("String to replace")
a[osz]=0
rs=input("Replace with")
a[osz]=str(rs)

school Hamline

Hamline

KeyboardInterrupt: Interrupted by user

s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)
osz=input("String to replace")
a[osz]=0
rs=input("Replace with")
a[osz]=str(rs)

In [ ]:
a={}

In [ ]:
len(a)

In [39]:
t1=input("t1")
t2=input("t2")
n=input("neutral") 
if str(0) in str(n):
    h=100
else:
    h=0
t1e=eloLeaguez.ratingDict[t1]+h
t2e=eloLeaguez.ratingDict[t2]
print(t1+" by "+str((t1e-t2e)/21))

t1 Ole Miss
t2 Mercer
neutral 0

Ole Miss by 659258.6933177217

In [45]:
eloLeaguez.ratingDict['Mercer']

-16180084.67533752