msqe with 23:291.48765266821823
msqe with 22:290.261147611888
msqe with 21:290.1394455543427
msqe with 20:291.39622680369905

In [143]:
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d21995-2002.csv")
df1=df1.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date'})
df2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2d32002-2022.csv")
df2=df2.rename(columns={'ht':'home','at':'away','Year':'season','Date':'date','PTS':'homep','OPP':'awayp'})
df3=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/fcs1995-2002.csv")

df3=df3.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date'})
df4=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/naia1995-2022.csv")
df4=df4.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date'})
file=pd.concat([dfz,df3,df2,df1,df4])
file

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,...,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre,Venue,OT
0,0,Rutgers,NaN,6.0,Princeton,NaN,4.0,NaN,False,1869.0,...,1.0,1.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Princeton,NaN,8.0,Rutgers,NaN,0.0,NaN,False,1869.0,...,2.0,2.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Rutgers,NaN,6.0,Columbia,NaN,3.0,NaN,False,1870.0,...,1.0,3.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Princeton,NaN,6.0,Rutgers,NaN,2.0,NaN,False,1870.0,...,2.0,4.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Rutgers,NaN,0.0,Columbia,NaN,0.0,NaN,False,1872.0,...,1.0,5.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8329,8329,Keiser,NaN,29.0,Morningside,NaN,28.0,NaN,1,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@,NaN
8330,8330,Northwestern_IA,NaN,52.0,Marian_IN,NaN,27.0,NaN,-1,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vs,NaN
8331,8331,Keiser,NaN,38.0,Grand_View,NaN,21.0,NaN,1,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@,NaN
8332,8332,Northwestern_IA,NaN,38.0,IN_Wesleyan,NaN,7.0,NaN,-1,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vs,NaN
8333,8333,Northwestern_IA,NaN,35.0,Keiser,NaN,25.0,NaN,True,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vs,NaN

In [93]:
import pandas as pd
import math
from datetime import date,datetime,timedelta
can=1
import os
import pandas as pd

key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
dfz=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")
import cfbd
import datetime
import numpy as np
import pandas as pd
# configure API key
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] =key
configuration.api_key_prefix['Authorization'] = 'Bearer'
# instantiate a games API instance
api_config = cfbd.ApiClient(configuration)
games_api = cfbd.GamesApi(cfbd.ApiClient(configuration))
df=dfz[dfz.season>2024]
z=[]
gamesz =[]
games=[]
response = games_api.get_games(year=2022,season_type = 'both')
gamess = [*games, *response]
t=[]
z=[]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
msqe=[]
from2000  = pd.DataFrame(z)
from2000=from2000.fillna(0)
from2000=from2000[(from2000.season_type=='regular')|(from2000.season_type=='postseason')]
from2000=from2000
df=from2000
from20000=from2000
from2000=from2000[(from2000.homep>0)|(from2000.awayp>0)]
from2000=from2000.sort_values(by='date')
from decimal import Decimal
import decimal
decimal.getcontext().prec = 100
decimal.getcontext().Emax=1000000000
decimal.getcontext().Emin=-1000000000
hfan=95
class Elo:
  def __init__(self,k,g=1,homefield = 182.5):
    self.ratingDict   = {}  
    self.k        = k
    self.g        = g
  def addPlayer(self,name,rating = 1500):
    self.ratingDict[name] = rating
  def gameOver(self, winner, loser, winnerHome,neutral,wins,loses):
    homef=hfan
    if winnerHome and neutral!=True:
      result = self.expectResult(self.ratingDict[winner] + homef, self.ratingDict[loser])
    if winnerHome==0 and neutral!=True:
      result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser] + homef)
    else:
      result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser])
    wins=float(wins)
    loses=float(loses)
    if wins==loses:
        tie=True
    else:
        tie=False
    if tie:
        mult=(math.log(0+1))*(2.2/1*0.001+2.2)
        shift=(self.k*mult)*(0.5 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
    if tie !=True:
        win=eloLeaguez.ratingDict[winner]
        lose=eloLeaguez.ratingDict[loser]
        if neutral==True:
          win=(eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome and neutral!=True:
          win=(homef+eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome!=True and neutral!=True:
          lose=(homef+eloLeaguez.ratingDict[loser])
          win=(eloLeaguez.ratingDict[winner])
        global zy
        if(win>lose):
          zy=(win-lose)
        if(win==lose):
          zy=(win-lose)+0.00001
        if(win<lose):
          zy=(win-lose)
        mult=(math.log((wins-loses)+1))*(2.2/(zy)*0.001+2.2)
        shift=(self.k*mult)*(1 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
  from math import pow
  def expectResult(self, p1, p2):
    p2=Decimal(p2)
    p1=Decimal(p1)
    exp = Decimal((p2-p1))/Decimal(400.0)
    return float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
teamss={}
today = date.today()
allTeams  = set(dfz.away.tolist()+dfz.home.tolist())
allTeamsh  = set(dfz.home.tolist())
global st
eloLeaguez   = Elo(k = 20,homefield=146)
for t in allTeams:
    eloLeaguez.addPlayer(t,rating=1500)
from2000=dfz
print('dt')
from2000.sort_values(by='date')
from2000=from2000[(from2000.season_type=='postseason')|(from2000.season_type=='regular')]
from2000['homeconf'].fillna(0,inplace=True)
from2000['awayconf'].fillna(0,inplace=True)
from2000.at[15687,'date']='1928-11-29'
from2000.sort_values(by='season',inplace=True)
from2000=from2000[from2000.index!=96402]
from2000=from2000.drop(97471)
from2000=from2000.drop(97530)
fcsdf=from2000[from2000.hd=='fcs']
fcsteams=set(fcsdf.home.tolist())
fcsa=[]
css=2023
fcsdf=from2000[from2000.season>css-11]
for year in fcsdf.season.unique():
    h=fcsdf[fcsdf.season==year]
    fcsaa=[]
    for row in h.itertuples():
        if row.ad=='fcs' and row.hd=='fbs':
            fcsaa.append(row.homep-row.awayp)
        if row.ad=='fbs' and row.hd=='fcs':
            fcsaa.append(row.awayp-row.homep)
    fcsa.append(np.mean(fcsaa))
fcsr=1500-(20*np.mean(fcsa))
fcsr=round(fcsr)
for team in fcsteams:
    eloLeaguez.addPlayer(team,rating=fcsr)
from2000=from2000[from2000.date<str("2022-11-08")]
from2000.sort_values(by='date',inplace=True)
from2000=from2000
currd=from2000
currteams=set(currd.home.tolist()+currd.away.tolist())
allconfs={}
print('ready')
import requests
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=18etXXj90qIsO6OR6Qx9uWzHd9Dn5IBvZefGwtjcxtI0&output=csv')
data = r.content
import pandas as pd
from io import BytesIO
hdf = pd.read_csv(BytesIO(data))
w=0
l=0
regm=0
df=dfz
currSeason = 1869
from20000=from2000
y=0
dobye=0
dc=0
rev=(0.30)
tds={}
from2000=from2000[from2000.date<str("2022-11-26")]
for season in from2000.season.unique():
    tds[season]={ }
for row in from2000.itertuples():
    tds[row.season][row.home]='yes'
    tds[row.season][row.away]='yes'
doms=1
dc=1
confm=1
for game in from2000.itertuples():
    
    
    if (game.season >currSeason):
        lsdf=from2000[from2000.season<game.season]
        lt=set(lsdf.home.tolist()+lsdf.away.tolist())
        cdf=from2000[from2000.season==game.season]
        ct=set(cdf.home.tolist()+cdf.away.tolist())
        for key in eloLeaguez.ratingDict.keys():
            
            if(key in ct and key in lt):
            
                eloLeaguez.ratingDict[key]=((1-rev)*eloLeaguez.ratingDict[key])+(1500*(rev))
            
        currSeason=game.season
    if (game.homep > game.awayp)or(game.homep==game.awayp):
        
        
    
        eloLeaguez.gameOver(game.home,game.away,True,game.neutral,game.homep,game.awayp)
    if game.awayp>game.homep:
        if(eloLeaguez.ratingDict[game.home]>eloLeaguez.ratingDict[game.away]):
            l+=1
        if(eloLeaguez.ratingDict[game.home]<eloLeaguez.ratingDict[game.away]):
            w+=1
        eloLeaguez.gameOver(game.away, game.home,0,game.neutral,game.awayp,game.homep)
    from sklearn.metrics import mean_squared_error
    if(doms==1):
        spread=19
        hs=game.homep-game.awayp
        hf=hfan
        if(game.neutral==True):
            hf=0
        ps=((eloLeaguez.ratingDict[game.home]+hf)-eloLeaguez.ratingDict[game.away])/spread
        hs=[hs]
        ps=round(ps)
        if(ps==0):
            ps=1
        ps=[ps]
        msqe.append(np.square(np.subtract(hs,ps)).mean())
print("{")
a=0
tp=0
for team in eloLeaguez.ratingDict.keys():
  if tp==1:
      my=[]
      print(team,":",eloLeaguez.ratingDict[team])
txtz='"','Team','"',':','20'
print('"','Team','"',':','20')
print("}")

dt

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/opt/conda/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

ready
{
" Team " : 20
}

In [ ]:
d2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2d32002-2022.csv")
d2=d2.rename(columns={'PTS':'homep',"OPP":'awayp','Year':'season'})
d2=d2.rename(columns={'at':'away','ht':'home'})
k=dfz[(dfz.ad!='ii')&(dfz.hd!='ii')]
k=k[(k.ad!='iii')&(k.hd!='iii')]
l=pd.concat([k,d2])
y=l[l.season<2003]
y=y[(y.ad=='fcs')|(y.hd=='fcs')]
o=l[l.season>2002]
o=o[((o.hd=='fbs')&(o.ad=='fbs'))]

In [122]:
l=dfz[dfz.season>2002]
k=l[(l.hd=='fbs')&(l.ad=='fbs')]

In [123]:
k

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,date,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre
65283,65283,Kansas State,Big 12,10.0,California,Pac-10,7.0,50823.0,False,2003,2003-08-23T23:45:00.000Z,1,232352306,regular,False,fbs,fbs,1569.0,1977.0
65284,65284,North Texas,Sun Belt,17.0,Memphis,Conference USA,27.0,0.0,False,2003,2003-12-17T01:00:00.000Z,1,233500249,postseason,False,fbs,fbs,1616.0,1513.0
65285,65285,Louisville,Conference USA,28.0,Miami (OH),Mid-American,49.0,0.0,False,2003,2003-12-19T01:30:00.000Z,1,233520097,postseason,False,fbs,fbs,1977.0,1554.0
65286,65286,Kansas,Big 12,26.0,NC State,ACC,56.0,0.0,False,2003,2003-12-22T23:30:00.000Z,1,233562305,postseason,False,fbs,fbs,1750.0,1353.0
65287,65287,Boise State,Western Athletic,34.0,TCU,Conference USA,31.0,0.0,False,2003,2003-12-24T01:30:00.000Z,1,233570068,postseason,False,fbs,fbs,1635.0,1986.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97627,97627,Tulane,American Athletic,45.0,UCF,American Athletic,28.0,NaN,False,2022,2022-12-03T21:00:00.000Z,14,401437008,regular,True,fbs,fbs,1647.0,1675.0
97628,97628,Boise State,Mountain West,16.0,Fresno State,Mountain West,28.0,NaN,False,2022,2022-12-03T21:00:00.000Z,14,401437034,regular,True,fbs,fbs,1676.0,1750.0
97630,97630,Michigan,Big Ten,43.0,Purdue,Big Ten,22.0,NaN,True,2022,2022-12-04T01:00:00.000Z,14,401437031,regular,True,fbs,fbs,1622.0,2144.0
97631,97631,North Carolina,ACC,10.0,Clemson,ACC,39.0,NaN,True,2022,2022-12-04T01:00:00.000Z,14,401437009,regular,True,fbs,fbs,1821.0,1599.0
97638,97638,Army,FBS Independents,20.0,Navy,American Athletic,17.0,NaN,True,2022,2022-12-10T20:00:00.000Z,15,401404145,regular,False,fbs,fbs,1462.0,1494.0

In [136]:
fcs

,Unnamed: 0,Date,Schl,Venue,PTS,Opp,neutral,OPP,Year
0,0,19950831,E_Washington,@,31,Appalachian_St,1,13,1995.0
1,1,19950831,Morris_Brown,@,35,W_Illinois,1,14,1995.0
2,2,19950831,Rhode_Island,@,30,S_Illinois,1,27,1995.0
3,3,19950831,St_Peter's,vs,31,Fairfield,-1,7,1995.0
4,4,19950902,Alabama_A&M,@,13,SUNY_Albany,1,3,1995.0
...,...,...,...,...,...,...,...,...,...
4611,4611,20021207,WKU,@,31,W_Illinois,1,28,2002.0
4612,4612,20021214,Grambling,vs,31,Alabama_A&M,True,19,2002.0
4613,4613,20021214,McNeese_St,vs,39,Villanova,-1,28,2002.0
4614,4614,20021214,WKU,@,31,Ga_Southern,1,28,2002.0
4615,4615,20021220,WKU,vs,34,McNeese_St,True,14,2002.0

In [138]:
t=dfz
fcs=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/fcs1995-2002.csv")
fcs=fcs.rename(columns={'Date':'date','Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season'})
d2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/")
h=pd.concat([t,fcs])
h

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,date,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre,Venue
0,0,Rutgers,NaN,6.0,Princeton,NaN,4.0,NaN,False,1869.0,1869-11-06T00:00:00.000Z,1.0,1.0,regular,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Princeton,NaN,8.0,Rutgers,NaN,0.0,NaN,False,1869.0,1869-11-13T00:00:00.000Z,2.0,2.0,regular,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Rutgers,NaN,6.0,Columbia,NaN,3.0,NaN,False,1870.0,1870-11-05T00:00:00.000Z,1.0,3.0,regular,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Princeton,NaN,6.0,Rutgers,NaN,2.0,NaN,False,1870.0,1870-11-12T00:00:00.000Z,2.0,4.0,regular,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Rutgers,NaN,0.0,Columbia,NaN,0.0,NaN,False,1872.0,1872-11-02T00:00:00.000Z,1.0,5.0,regular,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611,4611,WKU,NaN,31.0,W_Illinois,NaN,28.0,NaN,1,2002.0,20021207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@
4612,4612,Grambling,NaN,31.0,Alabama_A&M,NaN,19.0,NaN,True,2002.0,20021214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vs
4613,4613,McNeese_St,NaN,39.0,Villanova,NaN,28.0,NaN,-1,2002.0,20021214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vs
4614,4614,WKU,NaN,31.0,Ga_Southern,NaN,28.0,NaN,1,2002.0,20021214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@
4615,4615,WKU,NaN,34.0,McNeese_St,NaN,14.0,NaN,True,2002.0,20021220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vs

In [131]:
dfz

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,date,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre
0,0,Rutgers,NaN,6.0,Princeton,NaN,4.0,NaN,False,1869,1869-11-06T00:00:00.000Z,1,1,regular,NaN,NaN,NaN,NaN,NaN
1,1,Princeton,NaN,8.0,Rutgers,NaN,0.0,NaN,False,1869,1869-11-13T00:00:00.000Z,2,2,regular,NaN,NaN,NaN,NaN,NaN
2,2,Rutgers,NaN,6.0,Columbia,NaN,3.0,NaN,False,1870,1870-11-05T00:00:00.000Z,1,3,regular,NaN,NaN,NaN,NaN,NaN
3,3,Princeton,NaN,6.0,Rutgers,NaN,2.0,NaN,False,1870,1870-11-12T00:00:00.000Z,2,4,regular,NaN,NaN,NaN,NaN,NaN
4,4,Rutgers,NaN,0.0,Columbia,NaN,0.0,NaN,False,1872,1872-11-02T00:00:00.000Z,1,5,regular,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97636,97636,South Dakota State,MVFC,41.0,Holy Cross,Patriot,21.0,NaN,False,2022,2022-12-10T17:00:00.000Z,15,401507651,regular,False,fcs,fcs,NaN,NaN
97637,97637,Ferris State,GLIAC,NaN,West Florida,Gulf South,NaN,NaN,False,2022,2022-12-10T17:00:00.000Z,15,401507610,regular,False,ii,ii,NaN,NaN
97638,97638,Army,FBS Independents,20.0,Navy,American Athletic,17.0,NaN,True,2022,2022-12-10T20:00:00.000Z,15,401404145,regular,False,fbs,fbs,1462.0,1494.0
97639,97639,Colorado Mines,Rocky Mountain,NaN,Shepherd,Pennsylvania State Athletic,NaN,NaN,False,2022,2022-12-10T20:30:00.000Z,15,401507611,regular,False,ii,ii,NaN,NaN
97640,97640,North Central,CCIW,NaN,Mary Hardin-Baylor,American Southwest,NaN,NaN,False,2022,2022-12-10T20:30:00.000Z,15,401507553,regular,False,iii,iii,NaN,NaN

In [114]:
a

['d2=d2.replace("Central Missouri","Central Missouri State")',
 'd2=d2.replace("Belhaven University","Belhaven College")',
 'd2=d2.replace("Harding University","Harding")',
 'd2=d2.replace("Baldwin Wallace","Baldwin-Wallace")',
 'd2=d2.replace("Dean","Dean College")']

In [104]:
d2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2d32002-2022.csv")
d2=d2.rename(columns={'at':'away','ht':'home'})
j=[]
k=dfz
for key in set(d2.home.tolist()+d2.away.tolist()):
    if key not in eloLeaguez.ratingDict.keys():
        j.append(key)
        print(key)

Miles College
East Tennessee St.
Campbellsville
Hiram College
Grambling State
Springfield College
Benedictine University (IL)
Southwestern Assemblies of God
Utica College
University of St. Thomas (MN)
Western State Colorado
Western Colorado
Pomona-Pitzer Colleges
Tufts University
Carthage College
The College of New Jersey
Augustana College (IL)
Thaddeus Stevens
Concordia-Chicago
Wittenberg University
Wright State
Washington & Lee University
Capital University
Siena Heights
College at Brockport
Dixie State College
SUNY Morrisville
Pace University
Colorado School of Mines
Florida Intl
St. Vincent College
Dixie State University
Oklahoma Panhandle State
Edward Waters College Fla
Rockford University
Virginia-Wise
Wilmington College
Salve Regina University
Wesleyan University
Stevenson University
UVA Wise
Principia College
Seton Hill
Washington-Missouri
Northwood University
Tennessee-Martin
McNeese State
Brockport
Wilkes University
College of Faith
West Virginia State
Valley City State
California Lutheran
Minnesota-Crookston
Dixie State
Central State (OH)
Westminster College (PA)
Wartburg College
Rhodes College
Tiffin University
Paine
Trinity College (CT)
St. John's
MacMurray College
Prairie View A&M
Southeastern University
Mount Ida College
Centre College
Lenoir-Rhyne University
Colby College
North Carolina Pembroke
Susquehanna University
Trine University
Jamestown
Augustana University (SD)
Bridgewater College (VA)
Castleton
Shenandoah University
Ursinus College
Catholic University DC
Williams College
Wheeling University
Central College
Westminster College (MO)
Univ. of Northwestern-St. Paul
Lindenwood Belleville
St. John's (MN)
Minnesota Duluth
Wheaton College Illinois
Kean University
College of Wooster
Randolph-Macon College
Menlo College
Williamson Trade
Peru State College
Plymouth State College
Claremont Mudd Scripps College
UMASS Dartmouth
Maranatha Baptist College
Shepherd Tech
Curry College
Widener University
St. Norbert College
Robert Morris (IL)
Maryville College
Alderson Broaddus
George Mason
Tarleton
Rowan University
Brit Columbia
Chapman University
Trinity (IL)
Morris Brown
Waynesburg University
Haskell Indian Nations
Sul Ross State University
Greensboro College
Lakeland College
Rensselaer Polytechnic Institute
Salisbury University
Hudson Valley CC
Morehouse College
Trinity University (TX)
Union College (NY)
Coe College
Stonehill College
Millersville University
Maine Maritime
Paul Quinn
St. John Fisher College
Stephen F Austin
Becker College
Thomas More College
West Virginia Wesleyan
Crown
Nicholls State
Cole College
Whittier College
Bridgewater State (MA)
Fairfield
Dean
Baldwin Wallace
Harding University
Belhaven University
Central Missouri

In [105]:
len(j)

145

In [120]:
k=dfz[(dfz.ad!='ii')&(dfz.hd!='ii')]
k=k[(k.ad!='iii')&(k.hd!='iii')]
l=pd.concat([k,d2])

In [121]:
l

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,...,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre,Date,OT
0,0,Rutgers,NaN,6.0,Princeton,NaN,4.0,NaN,False,1869,...,1.0,1.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Princeton,NaN,8.0,Rutgers,NaN,0.0,NaN,False,1869,...,2.0,2.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Rutgers,NaN,6.0,Columbia,NaN,3.0,NaN,False,1870,...,1.0,3.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Princeton,NaN,6.0,Rutgers,NaN,2.0,NaN,False,1870,...,2.0,4.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Rutgers,NaN,0.0,Columbia,NaN,0.0,NaN,False,1872,...,1.0,5.0,regular,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,7401,Ferris State,NaN,38.0,West Florida,NaN,17.0,NaN,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221210.0,0.0
7524,7402,North Central,NaN,49.0,Mary Hardin-Baylor,NaN,14.0,NaN,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221210.0,0.0
7525,7403,Colorado School of Mines,NaN,44.0,Shepherd,NaN,13.0,NaN,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221210.0,0.0
7526,7404,North Central,NaN,28.0,Mount Union,NaN,21.0,NaN,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221216.0,0.0
7527,7405,Ferris State,NaN,41.0,Colorado School of Mines,NaN,14.0,NaN,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221217.0,0.0

In [113]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)
os=input("String to replace")
rs=input("Replace with")
a.append('d2=d2.replace("'+os+'","'+str(rs)+'")')

school Fairfield

KeyboardInterrupt: Interrupted by user

In [90]:
a=[]

In [ ]:
a

In [ ]:
import os, shutil
folder = '/kaggle/working'
for filename in os.listdir(folder):
    file_path = os.path.join(folder, filename)
    try:
        if os.path.isfile(file_path) or os.path.islink(file_path):
            os.unlink(file_path)
        elif os.path.isdir(file_path):
            shutil.rmtree(file_path)
    except Exception as e:
        print('Failed to delete %s. Reason: %s' % (file_path, e))

In [127]:
import pandas as pd
import requests
dates=pd.date_range(start="2002-08-01",end="2023-01-10")
d=[]
for date in dates:
    date=str(date)
    date=date.replace("00:00:00","")
   
    
    date=date.replace(" ","")
    datez=date.replace("-","")
    e="https://site.api.espn.com/apis/site/v2/sports/football/college-football/scoreboard?dates="+str(datez)+"&groups=81&limit=50000"
    html=requests.get(e)
    jsonz=html.json()
    if "'code': 400" not in str(jsonz) and "'code': 404" not in str(jsonz) and 'gateway' not in str(jsonz):
        
        events=jsonz['events']
        season=jsonz['leagues'][0]['season']['year']
    
        for idz in events:
            teams=idz['name']
            season=idz['season']['year']
            teamss=str(teams)
            teams=teamss.split("at")
            ht=teams[1]
            at=teams[0]
            competitions=idz['competitions']
    
            competitors=idz['competitions'][0]['competitors']
    
            c=idz['competitions'][0]
            hn=competitors[0]['team']['location']
            an=competitors[1]['team']['location']
            n=c['neutralSite']
            hts=competitors[0]['score']
            ats=competitors[1]['score']
            active=competitors[1]['team']['isActive']
            status=idz['status']
            completed=status['type']['completed']
        
            st=status['type']['detail']
            st=str(st)
            st=st.replace("[","")
            stt=st.replace("]","")
            stt=stt
            st=stt.split("at")
            if ("at" in stt):
                st=st[1]
            if ("at" not in stt):
                st=stt
            if("Final") in stt:
                r="Final"
            if("Final") not in stt:
                r="Start Time:"+str(st)
                hn=str(hn)
                an=str(an)
            if "OT" in str(st):
                ot=1
            if "OT" not in str(st):
                ot=0
            d.append([hn,an,n,datez,season,hts,ats,ot])
g=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

KeyboardInterrupt:

In [129]:
q=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])
q[q.Date=='20060826']

Empty DataFrame
Columns: [ht, at, neutral, Date, Year, PTS, OPP, OT]
Index: []

In [126]:
e

'https://site.api.espn.com/apis/site/v2/sports/football/college-football/scoreboard?dates=20060831&groups=81&limit=50000'

In [ ]:
g.to_csv("2002fcs.csv")

In [ ]:
d2=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

In [ ]:
d3=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

In [ ]:
df=pd.concat([d3,d2])
df=df[df.Year<2023]
df.to_csv("d2d32002-2022.csv")

In [ ]:
t1=input("t1")
t2=input("t2")
n=input("neutral") 
if str(0) in str(n):
    h=100
else:
    h=0
t1e=eloLeaguez.ratingDict[t1]+h
t2e=eloLeaguez.ratingDict[t2]
print(t1+" by "+str((t1e-t2e)/21))

In [ ]:
import pandas as pd
df=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")
df['homeconf']=df['homeconf'].str.replace("-","")
df['awayconf']=df['awayconf'].str.replace("-","")
df['homeconf']=df['homeconf'].replace("'","")
df['awayconf']=df['awayconf'].replace("'","")
yz=df
yz.fillna(0)
confs=set(yz.awayconf.tolist()+yz.homeconf.tolist())
for conf in confs:
    conf=str(conf)
    conf=conf.replace(" ","")
    confz=conf.replace("'","")
    o="confz['"+str(conf)+"']"
    oz="confz['"+str(conf)+"']"
    ozz="conff['"+str(conf)+"']"
    i="np.mean("+ozz+")"
    print("                for key "+ "in "+oz+":eloLeaguez.ratingDict[key]=(("+"eloLeaguez.ratingDict[key]*2/3)+(float("+i+")*1/3))")
import pandas as pd