msqe with 23:291.48765266821823
msqe with 22:290.261147611888
msqe with 21:290.1394455543427
msqe with 20:291.39622680369905

In [ ]:
dfz[dfz.away=='Abilene Christian']

In [ ]:
dgz=list(set(file.home.tolist()+file.away.tolist()))+list(set(dfz.home.tolist()+dfz.away.tolist()))
def Convert(lst):
    res_dct = {lst[i]: 0 for i in range(0, len(lst), 2)}
    return res_dct
dg=Convert(dgz)
h=[]
for k in sorted(dg):
    
    h.append(k)
filez=open("keys.txt","w")
filez.write(str(h))  
filez.close()

In [1]:
!pip install cfbd

Collecting cfbd
  Downloading cfbd-4.4.12-py3-none-any.whl (348 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 348.8/348.8 kB 6.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: urllib3>=1.23 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.26.13)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2.8.2)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2022.12.7)
Installing collected packages: cfbd
Successfully installed cfbd-4.4.12
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [189]:
import pandas as pd
import math
from datetime import date,datetime,timedelta
can=1
import os
import pandas as pd

key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
dfz=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")
import cfbd
import datetime
import numpy as np
import pandas as pd
# configure API key
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] =key
configuration.api_key_prefix['Authorization'] = 'Bearer'
# instantiate a games API instance
api_config = cfbd.ApiClient(configuration)
games_api = cfbd.GamesApi(cfbd.ApiClient(configuration))
df=dfz[dfz.season>2024]
z=[]
gamesz =[]
games=[]
response = games_api.get_games(year=2022,season_type = 'both')
gamess = [*games, *response]
t=[]
z=[]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
msqe=[]
lh=0
wh=0
n=0
from2000  = pd.DataFrame(z)
from2000=from2000.fillna(0)
from2000=from2000[(from2000.season_type=='regular')|(from2000.season_type=='postseason')]
from2000=from2000
df=from2000
from20000=from2000
from2000=from2000[(from2000.homep>0)|(from2000.awayp>0)]
from2000=from2000.sort_values(by='date')
from decimal import Decimal
import decimal
decimal.getcontext().prec = 100
decimal.getcontext().Emax=1000000000
decimal.getcontext().Emin=-1000000000
hfan=95
eloz={}
eloz['n']=0
eloz['wh']=0
eloz['lh']=0
class Elo:
  def __init__(self,k,g=1,homefield = 182.5):
    wh=0
    lh=0
    n=0
    self.ratingDict   = {}  
    self.k        = k
    self.g        = g
  def addPlayer(self,name,rating = 1500):
    self.ratingDict[name] = rating
  def gameOver(self, winner, loser, winnerHome,neutral,wins,loses):
    
    homef=100
    if winnerHome and ('True' not in str(neutral)):
      eloz['wh']+=1
      result = self.expectResult(self.ratingDict[winner] + 100, self.ratingDict[loser])
    if winnerHome==0 and ('True' not in str(neutral)) :
      eloz['lh']+=1
      result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser] + 100)
    else:
      eloz['n']+=1
      result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser])
    wins=float(wins)
    loses=float(loses)
    if wins==loses:
        tie=True
    else:
        tie=False
    if tie:
        mult=(math.log(0+1))*(2.2/1*0.001+2.2)
        shift=(self.k*mult)*(0.5 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
    if tie !=True:
        win=eloLeaguez.ratingDict[winner]
        lose=eloLeaguez.ratingDict[loser]
        if 'True' in str(neutral):
          win=(eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome and 'True' not in str(neutral):
          win=(100+eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome!=True and 'True' not in str(neutral):
          lose=(100+eloLeaguez.ratingDict[loser])
          win=(eloLeaguez.ratingDict[winner])
        global zy
        if(win>lose):
          zy=(win-lose)
        if(win==lose):
          zy=(win-lose)+0.00001
        if(win<lose):
          zy=(win-lose)
        mult=(math.log((abs(wins-loses))+1))*(2.2/(zy)*0.001+2.2)
        shift=(self.k*mult)*(1 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
  from math import pow
  def expectResult(self, p1, p2):
    p2=Decimal(p2)
    p1=Decimal(p1)
    exp = Decimal((p2-p1))/Decimal(400.0)
    return float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
teamss={}
today = date.today()
allTeams  = set(dfz.away.tolist()+dfz.home.tolist())
allTeamsh  = set(dfz.home.tolist())
global st
eloLeaguez   = Elo(k = 20,homefield=146)
dfz=dfz[(dfz.season_type=='postseason')|(dfz.season_type=='regular')]
from2000['homeconf'].fillna(0,inplace=True)
from2000['awayconf'].fillna(0,inplace=True)
from2000.at[15687,'date']='1928-11-29'

df3=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/fcs1995-2002.csv",skipinitialspace = True)

df3=df3.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','venue2':'neutral'})
df4=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/naia1995-2022.csv",skipinitialspace = True)
df4=df4.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date'})
df2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2d32002-2022.csv",skipinitialspace = True)
df2=df2.rename(columns={'ht':'home','at':'away','Year':'season','Date':'date','PTS':'homep','OPP':'awayp'})
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d21995-2022.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d22003-2022.csv")
df5=df5.rename(columns={"Schl":"home","Opp":"away",'Venue':"venue1","PTS":'homep','OPP':"awayp",'Year':"season",'Date':"date"})
df1=df1.rename(columns={"Schl":"home","Opp":"away",'Venue':"venue1","PTS":'homep','OPP':"awayp",'Year':"season",'Date':"date"})
df6=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/naia1995-2022.csv")
df6=df6.astype("string")
df6['Schl']=df6['Schl'].str.replace("_"," ")
df6['Opp']=df6['Opp'].str.replace("_"," ")
df6['Schl']=df6['Schl'].str.replace("Chr","Christian")
df6['Opp']=df6['Opp'].str.replace("Chr","Christian")
df6['Schl']=df6['Schl'].str.replace(" St"," State")
df6['Opp']=df6['Opp'].str.replace(" St"," State")
file=pd.concat([df3,df5,df1,df6])
file['awayp']=file['OPP']
file['homep']=file['PTS']
file['season']=file['Year']
file['home']=file['Schl']
file['away']=file['Opp']
file['neutral']=file['venue1']
teamsf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/teams.txt")
teamz={}
for row in teamsf.itertuples():
    teamz[row.Abbreviated]=row.Unabbreviated
file=file.astype("string")
file['neutral']=file['neutral'].replace("-1","False")
file['neutral']=file['neutral'].replace("1","False")
file['neutral']=file['neutral'].replace("0","True")
file.reset_index(inplace=True)
file['home'].str.replace(' ', '')
file['away'].str.replace(' ', '')
file['home']=file['home'].replace("Charleston So ","Charleston Southern")
file['home']=file['home'].str.rstrip()
file['away']=file['away'].str.rstrip()
file['away']=file['away'].replace("Charleston So ","Charleston Southern")
teamw={}
teamw['Charleston So']='Charleston Southern'
y=[]
ga=[]

for row in file.itertuples():
    g=str(row.home)
    g=g.rstrip()
    gz=str(row.away)
    gz=gz.rstrip()
    file.at[row.Index,'home']=g
    file.at[row.Index,'away']=gz
    
for row in file.itertuples():
    if row.home in teamw:
        file.at[row.Index,'home']=teamw[row.home]
    if row.away in teamw:
        file.at[row.Index,'away']=teamw[row.away]
    if row.home in teamz:
        y.append(row.home)
        file.at[row.Index,'home']=teamz[row.home]
    if row.away in teamz:
        y.append(row.away)
        file.at[row.Index,'away']=teamz[row.away]
file['home'] = file.home.str.replace('_', ' ')
file['away'] = file.away.str.replace('_', ' ')

ga=[]
fcsa=[]
css=2023


from2000=from2000.astype({'season':float,'homep':float,'awayp':float})

from2000.sort_values(by='date',inplace=True)
from2000=from2000
currd=from2000
currteams=set(currd.home.tolist()+currd.away.tolist())
allconfs={}
print('ready')
import requests
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=18etXXj90qIsO6OR6Qx9uWzHd9Dn5IBvZefGwtjcxtI0&output=csv')
data = r.content
import pandas as pd
from io import BytesIO
hdf = pd.read_csv(BytesIO(data))
w=0
l=0
regm=0
df=dfz
currSeason = 1869
from20000=from2000
y=0
dobye=0
dc=0
rev=(0.30)
tds={}

import requests
html=requests.get("https://ontheroadtovote.com/ncaaf/fcs/teams.json")
html=html.json()
htmlz=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d2d3teams.json")
htmlz=htmlz.json()
htmlzz=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d2d3teams.json")
htmlzz=htmlzz.json()
eloLeaguez.addPlayer("Morris Brown")
for row in file.itertuples():
    ht=row.home
    at=row.away
    if row.home in htmlz:
        ht=htmlz[row.home]
    if row.away in htmlz:
        at=htmlz[row.away]
    if row.home in htmlzz:
        ht=htmlzz[row.home]
    if row.away in htmlzz:
        at=htmlzz[row.away]
    if row.home in html:
        ht=html[row.home]
    if row.away in html:
        at=html[row.away]
    if '-1' in str(row.venue1):
        venue='@'
    else:
        venue='vs'
    if 'N' in str(row.Date):
        date=row.date
    if 'N' in str(row.date):
        date=row.Date
    ga.append([ht,at,row.neutral,row.season,date,row.homep,row.awayp,venue])
for row in dfz.itertuples():
    ht=row.home
    at=row.away
    if (row.date>str("1995-11-25"))and float(row.homep)==0 and float(row.awayp)==0:
        m=1
    if (row.date<str("1995-11-26"))and float(row.homep)==0 and float(row.awayp)==0:
        ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
    
    if row.home in htmlz:
        ht=htmlz[row.home]
    if row.away in htmlz:
        at=htmlz[row.away]
    if row.home in html:
        ht=html[row.home]
    if row.away in html:
        at=html[row.away]
        
    if ((float(row.homep)==0 and float(row.awayp)==0)==False):
        if 'i' in str(row.hd) and 'i' in str(row.ad):
            m=1
        else:
            
            ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
    
    
    
from2000=pd.DataFrame(ga)
from2000.columns=['home','away','neutral','season','date','homep','awayp','venue1']
for season in from2000.season.unique():
    tds[season]={ }
for row in from2000.itertuples():
    tds[row.season][row.home]='yes'
    tds[row.season][row.away]='yes'
doms=1
dc=1
confm=1
eloLeaguez.addPlayer("St John's (NY)")
eloLeaguez.addPlayer("Fairfield")
from2000=from2000.astype("string")
from2000=from2000.astype({"homep":float,'awayp':float,'season':float})
from2000['venue1']=from2000['venue1'].replace("-1","@")
from2000['venue1']=from2000['venue1'].replace("1","vs")
for team in set(from2000.home.tolist()+from2000.away.tolist()):
    eloLeaguez.addPlayer(team,rating=1500)
from2000.sort_values(by='date',inplace=True)
for game in from2000.itertuples():
    
    
    if (game.season >currSeason):
        lsdf=from2000[from2000.season<game.season]
        lt=set(lsdf.home.tolist()+lsdf.away.tolist())
        cdf=from2000[from2000.season==game.season]
        ct=set(cdf.home.tolist()+cdf.away.tolist())
        for key in eloLeaguez.ratingDict.keys():
            
            if(key in ct and key in lt):
            
                eloLeaguez.ratingDict[key]=(eloLeaguez.ratingDict[key]*(2/3))+(1500*(1/3))
            
        currSeason=game.season
    ht=game.home
    at=game.away
    hp=game.homep
    ap=game.awayp
    if (game.homep > game.awayp)or(game.homep==game.awayp):
        
        
    
        eloLeaguez.gameOver(ht,at,True,game.neutral,hp,ap)
    
    
    if game.awayp>game.homep:
        if(eloLeaguez.ratingDict[game.home]>eloLeaguez.ratingDict[game.away]):
            l+=1
        if(eloLeaguez.ratingDict[game.home]<eloLeaguez.ratingDict[game.away]):
            w+=1
        
        eloLeaguez.gameOver(at, ht,0,game.neutral,ap,hp)
    from sklearn.metrics import mean_squared_error
    if(doms==1):
        spread=19
        hs=game.homep-game.awayp
        hf=hfan
        if('True' in str(game.neutral)):
            hf=0
        ps=((eloLeaguez.ratingDict[game.home]+100)-eloLeaguez.ratingDict[game.away])/spread
        hs=[hs]
        ps=round(ps)
        if(ps==0):
            ps=1
        ps=[ps]
        msqe.append(np.square(np.subtract(hs,ps)).mean())
print("{")
a=0
tp=0
for team in eloLeaguez.ratingDict.keys():
  if tp==1:
      my=[]
      print(team,":",eloLeaguez.ratingDict[team])
txtz='"','Team','"',':','20'
print('"','Team','"',':','20')
print("}")

ready
{
" Team " : 20
}

In [184]:
isn=0
for row in file.itertuples():
    if 'N' in str(row.Date):
        isn+=1

In [191]:
eloLeaguez.ratingDict['Northwestern IA']

2129.5907103708973

In [ ]:
import pandas as pd
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d21995-2002.csv")
len(df1)

In [ ]:
df1

In [ ]:
q=from2000[from2000.away=='Elon']
q.season.unique()

In [ ]:
df2.neutral.unique()

In [ ]:
eloLeaguez.ratingDict['Penn State']

In [170]:
file['neutral']=file['venue1']

,level_0,Unnamed: 0,date,home,venue1,homep,away,neutral,awayp,season,index,Date,Schl,PTS,Opp,venue2,OPP,Year
0,0,0,19950831.0,<NA>,-1,<NA>,<NA>,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1,1,19950831.0,<NA>,-1,<NA>,<NA>,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2,2,19950831.0,<NA>,-1,<NA>,<NA>,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,3,3,19950831.0,<NA>,1,<NA>,<NA>,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,4,4,19950902.0,<NA>,-1,<NA>,<NA>,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38140,8329,8329,<NA>,Keiser,-1,29,Morningside,<NA>,28,2022.0,<NA>,20221126,Keiser,29,Morningside,1,28,2022.0
38141,8330,8330,<NA>,Northwestern IA,1,52,Marian IN,<NA>,27,2022.0,<NA>,20221126,Northwestern IA,52,Marian IN,-1,27,2022.0
38142,8331,8331,<NA>,Keiser,-1,38,Grand View,<NA>,21,2022.0,<NA>,20221203,Keiser,38,Grand View,1,21,2022.0
38143,8332,8332,<NA>,Northwestern IA,1,38,IN Wesleyan,<NA>,7,2022.0,<NA>,20221203,Northwestern IA,38,IN Wesleyan,-1,7,2022.0
38144,8333,8333,<NA>,Northwestern IA,0,35,Keiser,<NA>,25,2022.0,<NA>,20221217,Northwestern IA,35,Keiser,0,25,2022.0

In [1]:
!pip install cfb

Collecting cfb
  Downloading cfb-0.8.3-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from cfb) (1.15.0)
Installing collected packages: cfb
Successfully installed cfb-0.8.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
import pandas as pd
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning

requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

dates=pd.date_range(start="2022-08-01",end="2022-12-29")
d=[]
errorz=0
for date in dates:
    date=str(date)
    date=date.replace("00:00:00","")
   
    
    date=date.replace(" ","")
    datez=date.replace("-","")
    e="https://site.api.espn.com/apis/site/v2/sports/football/college-football/scoreboard?dates="+str(datez)+"&groups=35&limit=500000"
    html=requests.get(e,verify=False)
    jsonz=html.json()
    if "'code': 400" not in str(jsonz) and "'code': 404" not in str(jsonz) and 'gateway' not in str(jsonz):
        
        events=jsonz['events']
        season=jsonz['leagues'][0]['season']['year']
    
        for idz in events:
            teams=idz['name']
            season=idz['season']['year']
            teamss=str(teams)
            teams=teamss.split("at")
            ht=teams[1]
            at=teams[0]
            competitions=idz['competitions']
    
            competitors=idz['competitions'][0]['competitors']
    
            c=idz['competitions'][0]
            hn=competitors[0]['team']['location']
            an=competitors[1]['team']['location']
            n=c['neutralSite']
            hts=competitors[0]['score']
            ats=competitors[1]['score']
            active=competitors[1]['team']['isActive']
            status=idz['status']
            completed=status['type']['completed']
        
            st=status['type']['detail']
            st=str(st)
            st=st.replace("[","")
            stt=st.replace("]","")
            stt=stt
            st=stt.split("at")
            if ("at" in stt):
                st=st[1]
            if ("at" not in stt):
                st=stt
            if("Final") in stt:
                r="Final"
            if("Final") not in stt:
                r="Start Time:"+str(st)
                hn=str(hn)
                an=str(an)
            if "OT" in str(st):
                ot=1
            if "OT" not in str(st):
                ot=0
            d.append([hn,an,n,datez,season,hts,ats,ot])
    else:
        print('error',date)
        errorz+=1
g=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

In [157]:
df6[df6.Schl=='Northwestern IA']

,Unnamed: 0,Date,Schl,venue1,PTS,Opp,venue2,OPP,Year
17,17,19950909,Northwestern IA,1,39,Dakota State,-1,6,1995.0
72,72,19950923,Northwestern IA,1,30,Midland NE,-1,20,1995.0
107,107,19950930,Northwestern IA,-1,26,NE Wesleyan,1,25,1995.0
236,236,19951028,Northwestern IA,1,33,Concordia NE,-1,10,1995.0
275,275,19951104,Northwestern IA,-1,31,Dana,1,0,1995.0
...,...,...,...,...,...,...,...,...,...
8281,8281,20221112,Northwestern IA,-1,41,Hastings,1,10,2022.0
8325,8325,20221119,Northwestern IA,1,49,Dickinson State ND,-1,7,2022.0
8330,8330,20221126,Northwestern IA,1,52,Marian IN,-1,27,2022.0
8332,8332,20221203,Northwestern IA,1,38,IN Wesleyan,-1,7,2022.0
8333,8333,20221217,Northwestern IA,0,35,Keiser,0,25,2022.0

In [156]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)
osz=input("String to replace")
a[osz]=0
rs=input("Replace with")
a[osz]=str(rs)

school Northwestern

Northwestern Dental
Northwestern (Wisconsin)
Northwestern State
Northwestern Alumni
Northwestern Academy
Northwestern
Northwestern Oklahoma State

KeyboardInterrupt: Interrupted by user

In [155]:
eloLeaguez.ratingDict['Northwestern']

1219.6702794073979

In [152]:
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/nccaa/nccaa2017-2022.csv")
df1=df1.astype("string")
df1['Schl']=df1['Schl'].str.replace("_"," ")
df1['Opp']=df1['Opp'].str.replace("_"," ")
df1['Schl']=df1['Schl'].str.replace("Chr","Christian")
df1['Opp']=df1['Opp'].str.replace("Chr","Christian")
df1['Schl']=df1['Schl'].str.replace(" St"," State")
df1['Opp']=df1['Opp'].str.replace(" St"," State")

    
h=[]
for team in set(df1.Schl.tolist()+df1.Opp.tolist()):
    if team not in eloLeaguez.ratingDict.keys() and team not in htmlz:
        print(team)
        h.append(team)
print(len(h))

SW Univ TX
R Morris Chi
Southeastern FL
St Thomas MN
M Hardin-Baylor
Bethany KS
Finlandia
Concordia WI
Case Western
Greenville
 Fort Valley State
Siena Hts
Anderson IN
Olivet Naz
St Scholastica
Olivet MI
WI Stateout
Hope
WI Oshkosh
Midland NE
S Carolina State
Trinity Bib
Campbellsville
Southern Univ
Millikin
SW Assemb God
WI Whitewater
Augsburg
Martin Luther
Sul Ross
Bethany WV
Westminster MO
Lindenwood-Belle
Point
WI Lutheran
Avila
Judson IL
E Texas Bap
Roosevelt
Carleton MN
Claremont M.S.
WI River Falls
McPherson
Lyon
Ottawa KS
Wheaton IL
TX Lutheran
St Vincent
Northwestern MN
Lewis-Clark ID
Bluefield State
Wartburg
Mt State Joseph
MS Valley State
Austin Col
Ft Lauderdale
Central IA
Rockford
SF Austin
VA-Lynchburg
Cincinnati Christian
MacMurray
Manchester
Citadel
St John's MN
Tabor
Wash & Jeff
67

In [153]:
a={}

In [146]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)
osz=input("String to replace")
a[osz]=0
rs=input("Replace with")
a[osz]=str(rs)

school Bet

Bethany (KS)
Bethel Col
Bethel (MN)
Bethany (WV)
Bethune-Cookman
Bethany Co
Bethel (TN)

String to replace Bethel KS
Replace with Bethel Col

In [145]:
a={}

In [147]:
a

{'Bethel KS': 'Bethel Col'}

s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)
osz=input("String to replace")
a[osz]=0
rs=input("Replace with")
a[osz]=str(rs)

In [47]:
from2000[from2000.home=='San Francisco']

,home,away,neutral,season,date,homep,awayp,venue1
47286,San Francisco,Gonzaga,False,1931.0,1931-09-19T00:00:00.000Z,6.0,21.0,vs
47306,San Francisco,BYU,False,1931.0,1931-09-25T00:00:00.000Z,25.0,0.0,vs
47575,San Francisco,St. Mary's (CA),False,1931.0,1931-10-17T00:00:00.000Z,6.0,14.0,vs
47958,San Francisco,Stanford,False,1932.0,1932-09-24T00:00:00.000Z,7.0,20.0,vs
48073,San Francisco,West Coast Navy,False,1932.0,1932-10-01T00:00:00.000Z,14.0,21.0,vs
...,...,...,...,...,...,...,...,...
60048,San Francisco,San José State,False,1951.0,1951-09-21T00:00:00.000Z,39.0,2.0,vs
60220,San Francisco,Camp Pendleton,False,1951.0,1951-10-07T00:00:00.000Z,26.0,0.0,vs
60347,San Francisco,San Diego Navy,False,1951.0,1951-10-26T00:00:00.000Z,26.0,7.0,vs
60461,San Francisco,Santa Clara,False,1951.0,1951-11-04T00:00:00.000Z,26.0,7.0,vs
60624,San Francisco,Loyola Marymount,False,1951.0,1951-11-25T00:00:00.000Z,20.0,2.0,vs

In [46]:
for w in sorted(eloLeaguez.ratingDict, key=eloLeaguez.ratingDict.get, reverse=True)[:25]:
    print(w, eloLeaguez.ratingDict[w])

Ferris State 2512.2160970282375
Georgia 2260.2059826505256
Colorado Mines 2258.244977075682
Grand Valley State  2176.4170600257335
South Dakota State 2151.6342164903717
Alabama 2149.388321803246
West Florida 2143.1083115066513
Michigan 2106.0527590455213
Pittsburg State 2087.8794795560952
Shepherd 2084.6516783624816
Angelo State 2078.1133368669016
Randolph Field 2064.0775322077916
Northwest Missouri State 2058.567741806913
Iowa Pre-Flight 2047.7182750974084
TCU 2010.477694619948
Mankato State 2005.2977312495698
Ohio State 2004.656848531946
San Francisco 2000.3398729008718
Penn State 1995.8258785694493
North Dakota State 1988.088608191837
Tennessee 1982.3372231243875
West Georgia 1981.1906215931385
Notre Dame 1955.5584186293386
Kansas State 1952.6448190378303
Montana State 1946.4710464050106

In [45]:
t1=input("t1")
t2=input("t2")
n=input("neutral") 
if str(0) in str(n):
    h=100
else:
    h=0
t1e=eloLeaguez.ratingDict[t1]+h
t2e=eloLeaguez.ratingDict[t2]
print(t1+" by "+str((t1e-t2e)/21))

t1 Elon
t2 Furman
neutral 0

Elon by -4.426595857703552