msqe with 23:291.48765266821823
msqe with 22:290.261147611888
msqe with 21:290.1394455543427
msqe with 20:291.39622680369905

In [ ]:
!pip install cfbd

In [ ]:
import requests
from bs4 import BeautifulSoup
urls={"2007":"https://masseyratings.com/scores.php?s=73929&sub=95204&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=68033&sub=95204&all=1&mode=3&format=2","2005":"https://masseyratings.com/scores.php?s=41850&sub=95204&all=1&mode=3&format=2","2004":"https://masseyratings.com/scores.php?s=41849&sub=95204&all=1&mode=3&format=2","2003":"https://masseyratings.com/scores.php?s=41848&sub=95204&all=1&mode=3&format=2","2002":'https://masseyratings.com/scores.php?s=41847&sub=95204&all=1&mode=3&format=2',"2001":"https://masseyratings.com/scores.php?s=41846&sub=95204&all=1&mode=3&format=2","2000":"https://masseyratings.com/scores.php?s=41845&sub=95204&all=1&mode=3&format=2"}
calteams={}
for i in range(2000,2008):
    calteams[i]=[]
for url in urls:
    html=requests.get(urls[url]).text
    for line in html.split("\n"):
        if line!='':
            team=line.split(",")[1]
        team=team.replace("_"," ")
        team=team.strip()
        calteams[float(url)].append(team)

In [16]:
teams

{2000: [],
 2001: [],
 2002: [],
 2003: [],
 2004: [],
 2005: [],
 2006: [],
 2007: ['Allan Hancock',
  'American River',
  'Antelope Val CC',
  'Bakersfield Col',
  'Butte Col',
  'Cabrillo',
  'Cerritos Col',
  'Chabot',
  'Chaffey',
  'Citrus Col',
  'City Col San Fran',
  'Col Marin',
  'Col of the Canyons',
  'Col of the Desert',
  'Col of the Redwoods',
  'Col of the Sequoias',
  'Col San Mateo',
  'Contra Costa',
  'De Anza Col',
  'Diablo Val',
  'East LA Col',
  'El Camino Col',
  'El Camino-Compton',
  'Feather River',
  'Foothill Col',
  'Fresno City Col',
  'Fullerton Col',
  'Gavilan',
  'Glendale CA',
  'Golden West',
  'Grossmont',
  'Hartnell',
  'LA Harbor',
  'LA Pierce',
  'LA Southwest',
  'LA Valley Col',
  'Laney',
  'Long Beach City Col',
  'Los Medanos',
  'Mendocino',
  'Merced Col',
  'Modesto JC',
  'Monterey Peninsula',
  'Moorpark',
  'Mt San Antonio',
  'Mt San Jacinto',
  'Orange Coast',
  'Palomar Col',
  'Pasadena City Col',
  'Reedley',
  'Riverside CC',
  'Sacramento City',
  'Saddleback',
  'San Bernardino Val',
  'San Diego Mesa',
  'San Joaquin Delta',
  'San Jose City Col',
  'Santa Ana Col',
  'Santa Barbara City',
  'Santa Monica Col',
  'Santa Rosa JC',
  'Shasta Col',
  'Sierra Col',
  'Siskiyous',
  'Solano CC',
  'Southwestern CA',
  'Ventura Col',
  'Victor Valley',
  'West Hills',
  'West LA Col',
  'West Valley Col',
  'Yuba',
  'Yuba']}

In [ ]:
import cfbd
import numpy as np
# configure API key
configuration = cfbd.Configuration()
key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
configuration.api_key['Authorization'] =key
configuration.api_key_prefix['Authorization'] = 'Bearer'
# instantiate a games API instance
api_config = cfbd.ApiClient(configuration)
games_api = cfbd.GamesApi(cfbd.ApiClient(configuration))
df=dfz[dfz.season>2024]
z=[]
gamesz =[]
games=[]
response = games_api.get_games(year=2020,season_type = 'both')
gamess = [*games, *response]
t=[]
z=[]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
response = games_api.get_games(year=2019,season_type = 'both')
gamess = [*games, *response]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)

In [ ]:
!pip install cfbd

In [ ]:

import math
from datetime import date,datetime,timedelta
can=1
import os
import pandas as pd

key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
dfz=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")

import numpy as np
# configure API key

z=[]
ga=[]

lh=0
wh=0
n=0
from decimal import Decimal
import decimal
decimal.getcontext().prec = 100
decimal.getcontext().Emax=1000000000
decimal.getcontext().Emin=-1000000000
hfan=95
eloz={}
eloz['n']=0
eloz['wh']=0
eloz['lh']=0
class Elo:
  def __init__(self,k,g=1,homefield = 100):
    wh=0
    lh=0
    n=0
    self.ratingDict   = {}  
    self.k        = k
    self.g        = g
  def addPlayer(self,name,rating = 1500):
    self.ratingDict[name] = rating
  def gameOver(self, winner, loser, winnerHome,neutral,wins,loses,wpen,lpen,wd,ld,hfa):
    if 'True' in str(neutral):
        homef=0
    else:
        
        homef=hfa
    if winnerHome==True and 'False' in str(neutral):
        eloz['wh']+=1
        result = self.expectResult(self.ratingDict[winner]-wpen + homef, self.ratingDict[loser]-lpen)
    if winnerHome==0 and 'False' in str(neutral):
        
        
        eloz['lh']+=1
        result = self.expectResult(self.ratingDict[winner]-wpen, self.ratingDict[loser]-lpen + homef)
    if 'True' in str(neutral):
        
        result = self.expectResult(self.ratingDict[winner]-wpen, self.ratingDict[loser]-lpen)

                    
    wins=float(wins)
    loses=float(loses)
    result=float(result)
    isneutral='True'  in str(neutral) or '0' in str(neutral)
    if wins==loses:
        mult=(math.log(0+1))*(2.2/1*0.001+2.2)
        shift=(self.k*mult)*(0.5 - result)  
        if wd==False and ld==True:
            self.ratingDict[loser]  -=shift
        if wd==True and ld==True:
            self.ratingDict[winner] +=shift
            self.ratingDict[loser]  -=shift
        if wd==True and ld==False:
            self.ratingDict[winner] +=shift
        if wd==False and ld==False:
            self.ratingDict[winner] +=shift
            self.ratingDict[loser]  -=shift
    if wins!=loses:
        win=eloLeaguez.ratingDict[winner]-wpen
        lose=eloLeaguez.ratingDict[loser]-lpen
        if isneutral:
            win=(eloLeaguez.ratingDict[winner]-wpen)
            lose=(eloLeaguez.ratingDict[loser]-lpen)
        if winnerHome and isneutral==False:
            win=(100+eloLeaguez.ratingDict[winner]-wpen)
            lose=(eloLeaguez.ratingDict[loser]-lpen)
        if winnerHome!=True and 'True' not in str(neutral) and '0' not in str(neutral):
            
            lose=(100+eloLeaguez.ratingDict[loser]-lpen)
            win=(eloLeaguez.ratingDict[winner]-wpen)
        global zy
        if(win>lose):
            
            zy=(win-lose)
        if(win==lose):
            zy=(win-lose)+0.00001
        if(win<lose):
            zy=(win-lose)
        mult=(math.log((abs(wins-loses))+1))*(2.2/(zy)*0.001+2.2)
        shift=(self.k*float(mult))*(1 - result)  
        if wd==False and ld==True:
            self.ratingDict[loser]  -=shift
        if wd==True and ld==True:
            self.ratingDict[winner] +=shift
            self.ratingDict[loser]  -=shift
        if wd==True and ld==False:
            self.ratingDict[winner] +=shift
        if wd==False and ld==False:
            self.ratingDict[winner] +=shift
            self.ratingDict[loser]  -=shift
    from math import pow
  def expectResult(self, p1, p2):
    
    p2=Decimal(p2)
    p1=Decimal(p1)
    exp = Decimal((p2-p1))/Decimal(400.0)
    b=float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
    az['h']=str(b)
    return float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
teamss={}
az={}
az['h']='hello'
today = date.today()
allTeams  = set(dfz.away.tolist()+dfz.home.tolist())
allTeamsh  = set(dfz.home.tolist())
global st
eloLeaguez= Elo(k = 25,homefield=100)
dfz=dfz[(dfz.season_type=='postseason')|(dfz.season_type=='regular')]

import re

import requests
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup as bs
tds={}

gz=[]
today=date.today()


import pandas as pd
fbsteams={}
for i in range(1978,2024):
    fbsteams[i]=[]
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/d2/fbsstandings.csv")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("Ole Miss","Mississippi")
df=df.replace("UMass","Massachusetts")
df=df.replace("San José State","San Jose State")
df=df.replace("Texas-El Paso","UTEP")
teamss=requests.get("https://ontheroadtovote.com/ncaaf/d2/teams.json").json()
for row in df.itertuples():
    team=row.Team
    if team in teamss:
        team=teamss[team]
    fbsteams[float(row.Year)].append(team)
import requests
import json


from bs4 import BeautifulSoup
import requests
html=requests.get("https://ontheroadtovote.com/ncaaf/fcs/index.php")
soup=BeautifulSoup(html.text)
links=soup.find_all("a")
arr=[]
y=0
pts={}
arrz=[]
import requests
from bs4 import BeautifulSoup
urls={"2007":"https://masseyratings.com/scores.php?s=73929&sub=95204&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=68033&sub=95204&all=1&mode=3&format=2","2005":"https://masseyratings.com/scores.php?s=41850&sub=95204&all=1&mode=3&format=2","2004":"https://masseyratings.com/scores.php?s=41849&sub=95204&all=1&mode=3&format=2","2003":"https://masseyratings.com/scores.php?s=41848&sub=95204&all=1&mode=3&format=2","2002":'https://masseyratings.com/scores.php?s=41847&sub=95204&all=1&mode=3&format=2',"2001":"https://masseyratings.com/scores.php?s=41846&sub=95204&all=1&mode=3&format=2","2000":"https://masseyratings.com/scores.php?s=41845&sub=95204&all=1&mode=3&format=2"}
calteams={}
for i in range(1995,2024):
    calteams[i]=[]
for url in urls:
    html=requests.get(urls[url]).text
    for line in html.split("\n"):
        if line!='':
            team=line.split(",")[1]
        team=team.replace("_"," ")
        team=team.strip()
        calteams[float(url)].append(team)
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/d2/updatedfcsstandings.csv")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("UMass","Massachusetts")
df=df.replace("North Carolina Central",'NC Central')
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("St. Thomas (MN)","St. Thomas")
fcsteams={}
for i in range(1978,2024):
    fcsteams[i]=[]
for row in df.itertuples():
    if row.Team not in fbsteams[float(row.Year)]:
        fcsteams[float(row.Year)].append(row.Team)
ns={}

arrz=[]
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/gsss.csv")
ts=requests.get("https://ontheroadtovote.com/ncaaf/prefbs/ts.json").json()
df=df.replace("UTSA","UT San Antonio")
df=df[df.homep.notnull()]
for row in df.itertuples():
    ht=row.home
    at=row.away
    ht=ht.strip()
    at=at.strip()
    if row.away in ts:
        at=ts[row.away]
    if row.home in ts:
        ht=ts[row.home]
    date=str(row.Date)
    date=date.replace("Feb","02")
    date=date.replace("Mar","03")
    date=date.replace("Apr","04")
    date=date.replace("May","05")
    date=date.replace("Jun","06")
    date=date.replace("Jul","07")
    date=float(date)
    n=False
    v=row.Venue
    if "" in str(row.Venue):
        v='vs'
    if 'N' in str(row.Venue):
        n=True
        v='vs'
        
    ga.append([ht,at,n,row.season,date,row.homep,row.awayp,v])
for a in links:
    y+=1
    url='https://ontheroadtovote.com/ncaaf/fcs/'+a['href']
    
    if '.txt' in str(a) and 'teams' not in str(a):
        df=pd.read_csv(url)
        df=df.replace("Eastern Washngton","Eastern Washington")
        df=df.replace("Nofrolk State",'Norfolk State')
        for row in df.itertuples():
            if row.Schl not in pts:
                pts[row.Schl]=0
                
            if 'Year' in str(row):
                s=row.Year 
            if 'Season' in str(row):
                s=row.Season
            if 'season' in str(row):
                s=row.season
            if 'netural' in str(row):
                n=row.netural
            if 'neutral' in str(row):
                n=row.neutral
            schl=str(row.Schl)
            opp=str(row.Opp)
            didf=0
            if 'for' in schl:
                schl=schl.split("(")
                schl=schl[0]
                if row.PTS==1 and row.OPP==0:
                    didf=1
                if row.PTS==0 and row.OPP==1:
                    didf=1
            if 'for' in opp:
                opp=opp.split("(")
                opp=opp[0]
                if row.PTS==1 and row.OPP==0:
                    didf=1
                if row.PTS==0 and row.OPP==1:
                    didf=1
            if float(s)<1995:
                na=row.Opp+row.Schl+row.Date+str(row.OPP)+str(row.PTS)
            
                if na not in arrz:
                    if row.Schl in fcsteams[float(s)]:
                        inarr=1
                        if didf==0:
                            arrz.append(row.Schl+row.Opp+row.Date+str(row.PTS)+str(row.OPP))
                            arr.append([schl,opp,row.Venue,row.PTS,row.OPP,row.Date,s,n])
                        
        
df=pd.concat([pd.DataFrame(arr)])
df.columns=['Schl','Opp','Venue','PTS',"OPP",'date','Season','neutral']
df=df[df.Season<1995]
df.sort_values(by='date') 
for row in df.itertuples():
    if row.Opp not in pts:
        pts[row.Opp]=0
    pts[row.Schl]+=float(row.PTS)
    pts[row.Opp]+=float(row.OPP)
    g=str(row.Schl)
    g=g.rstrip()
        
    gz=str(row.Opp)
    gz=gz.rstrip()
    df.at[row.Index,'Schl']=g
    df.at[row.Index,'Opp']=gz
df=df.rename(columns={'Schl':'home','Opp':"away","PTS":"homep",'OPP':'awayp','Season':'season','Venue':'venue1'})
fcs=df
fcs=fcs.replace("Nicholls State State","Nicholls State")
fcs=fcs.replace("Middle Tennessee State State","Middle Tennessee State")
fcs=fcs.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
fcs['date']= pd.to_datetime(fcs['date'])
print("didfcs")

r = requests.get('https://ontheroadtovote.com/ncaaf/fbsteams.json')
y=r.json()
nccaa=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/nccaafootball.csv")

file=fcs
teamsf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/teams.txt")
teamz={}
file=file.astype("string")
file.reset_index(inplace=True)
file['home'].str.replace(' ', '')
file['away'].str.replace(' ', '')
file['home']=file['home'].replace("Charleston So ","Charleston Southern")
file['home']=file['home'].str.rstrip()
file['away']=file['away'].str.rstrip()
file['away']=file['away'].replace("Charleston So ","Charleston Southern")
teamw={}
teamw['Charleston So']='Charleston Southern'
y=[]
names=set()

for row in file.itertuples():
    g=str(row.home)
    g=g.rstrip()
        
    gz=str(row.away)
    gz=gz.rstrip()
    file.at[row.Index,'home']=g
    file.at[row.Index,'away']=gz

file['home'] = file.home.str.replace('_', ' ')
file['away'] = file.away.str.replace('_', ' ')


fcsa=[]
css=2023

allconfs={}
print('ready')
import requests
w=0
l=0
regm=0
df=dfz
currSeason=1869
y=0
dobye=0
dc=0
rev=(0.30)
tds={}

import requests
replace=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams.json")
replace=replace.json()
replace2=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams1.json")
replace2=replace2.json()
replace3=requests.get("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/teams2.json")
replace3=replace3.json()
fcs=pd.DataFrame(arr,columns=['home','away','venue','homep','awayp','date','season','neutral'])
j=fcs
z=pd.DataFrame(z)

num=0

for row in fcs.itertuples():
    
    ht=row.home
    at=row.away
    if ht in replace:
        ht=replace[ht]
    if at in replace:
        at=replace[at]
    if ht in replace2:
        ht=replace2[ht]
    if at in replace2:
        at=replace2[at]
    if ht in replace3:
        ht=replace3[ht]
    if at in replace3:
        at=replace3[at]
    if ht in teamss:
        ht=teamss[ht]
    if at in teamss:
        at=teamss[at]
    if 'NA' in ht:
        if 'NAS' not in ht:
            print(row)
    if 'NA' in at:
        if 'NAS' not in at:
            print(row)
    name1=row.date+row.home
    name2=row.date+row.away
    date=str(row.date)
    date=date.replace("-","")
    v=row.venue
    if row.neutral==True or row.neutral==1:
        v='vs'
    ga.append([ht,at,row.neutral,row.season,date,row.homep,row.awayp,v]) 
print(num)       
fcsdf=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/fcsscores.csv")
dfz=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")
teamss=requests.get("https://ontheroadtovote.com/ncaaf/d2/teams.json").json()
dfz=dfz[dfz.season<1995]
for row in dfz.itertuples():
    ht=row.home
    at=row.away
    if ht in replace:
        ht=replace[ht]
    if at in replace:
        at=replace[at]
    if ht in replace2:
        ht=replace2[ht]
    if at in replace2:
        at=replace2[at]
    if ht in replace3:
        ht=replace3[ht]
    if at in replace3:
        at=replace3[at]
    if ht in teamss:
        ht=teamss[ht]
    if at in teamss:
        at=teamss[at]
    date=str(row.date)
    if 'NA' in ht:
        if 'NAS' not in ht:
            print(row)
    if 'NA' in at:
        if 'NAS' not in at:
            print(row)
    if 'T' in str(date):
        date=date.split("T")[0]
    
    name1=date+row.home
    name2=date+row.away
    date=str(row.date)
    date=date.replace("T00:00:00.000Z","")
    date=date.replace("00:00:00","")
    date=date.replace(" ","")
    date=date.replace("-","")
    ht=str(ht)
    at=str(at)
    s1='NAS' not in ht and 'Fort' not in ht and 'Field' not in ht and 'Naval' not in ht and 'Flight' not in ht
    s2='NAS' not in at and 'Fort' not in at and 'Field' not in at and 'Naval' not in at and 'Flight' not in at
    if s1 or s2:
        ga.append([ht,at,row.neutral,row.season,date,row.homep,row.awayp,'vs'])
    names.add(name1)
    names.add(name2)
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/allcfb.csv")
teamss=requests.get("https://ontheroadtovote.com/ncaaf/d2/teams.json").json()

notes=pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/uptodatenotes.txt")
names=set()
notes=notes.replace("Florida A&amp;M","Florida A&M")
notes=notes.replace("Alabama A&amp;M","Alabama A&M")
for row in notes.itertuples():
    ht=str(row.Schl)
    at=str(row.Opp)
    ht=ht.strip()
    at=at.strip()
    ht=ht.replace("&amp;","&")
    at=at.replace("&amp;","&")
    if at in teamss:
        at=teamss[at]
    if ht in teamss:
        ht=teamss[ht]
    date=str(row.Date)
    date=date.replace("-","")
    name=date+ht
    
    names.add(name)
    name=date+at
    names.add(name)
    v='vs'
    ga.append([ht,at,row.neutral,row.Year,date,row.PTS,row.OPP,v])
for row in df.itertuples():
    ht=row.Schl
    at=row.Opp
    ht=ht.replace("&amp;","&")
    at=at.replace("&amp;","&")
    date=str(row.Date)
    date=date.replace("-","")
    if ht  in calteams[float(row.Year)]  and at  in calteams[float(row.Year)]:
        m=1
    v=row.Venue
    if row.neutral==True or row.neutral==1:
        v='vs'
        
    else:
        if (ht in fbsteams[float(row.Year)]) or (at  in fbsteams[float(row.Year)]):
            m=1
        else:
            name=str(date)+ht
            namez=str(date)+at
            if name not in names and namez not in names:
                ga.append([ht,at,row.neutral,row.Year,date,row.PTS,row.OPP,v])
from2000=pd.DataFrame(ga)
from2000.columns=['home','away','neutral','season','date','homep','awayp','venue1']

for season in from2000.season.unique():
    tds[season]={ }
for row in from2000.itertuples():
    tds[row.season][row.home]='yes'
    tds[row.season][row.away]='yes'
eloLeaguez.addPlayer("St John's (NY)")
eloLeaguez.addPlayer("Fairfield")
from2000=from2000.astype({"homep":float,'awayp':float,'season':float,"date":float,"home":"string","away":"string"})
from2000=from2000.replace("Coastal Car","Coastal Carolina")
from2000=from2000.replace("Ole Miss","Mississippi")
from2000=from2000.replace("UMass","Massachusetts")
from2000=from2000.replace("NC A&amp;T","North Carolina A&T")
from2000=from2000.replace("San José State","San Jose State")
from2000=from2000.replace("Texas-El Paso","UTEP")
from2000['venue1']=from2000['venue1'].replace("-1","@")
from2000=from2000.replace("S Carolina St","South Carolina State")
from2000[from2000.home=='Florida A&amp;M']
from2000=from2000.replace("Florida A&amp;M","Florida A&M")
from2000=from2000.replace("Alabama A&amp;M","Alabama A&M")
from2000['venue1']=from2000['venue1'].replace("1","vs")
from2000.sort_values(by='date',inplace=True)
from datetime import date
today=date.today()
r = requests.get('https://ontheroadtovote.com/ncaaf/fbsteams.json')
y=r.json()
r = requests.get('https://ontheroadtovote.com/ncaaf/fcs/teams.json')
y=r.json()
for team in y:
    from2000=from2000.replace(team,y[team])
from2000=from2000.replace("Miami FL","Miami")
from2000=from2000.replace("Miami (FL)","Miami")
teams=set(from2000.home.tolist()+from2000.away.tolist())
for team in teams:
    eloLeaguez.addPlayer(str(team),rating=1500)
fcss=[]
fcsvnon=[]
print("going through games")
from2000=from2000.drop_duplicates()
hfa={}
hfa['fcs']={}
hfa['fbs']={}
hfa['nond1']={}
from2000=from2000.astype({"neutral":"string"})
from2000=from2000.replace("Citadel","The Citadel")
from2000['neutral']=from2000['neutral'].str.replace("True ","True")
nn=from2000[from2000.neutral=='False']
from2000=from2000.replace("Hawaii","Hawai'i")
for i in range(1978,2024):
    hfa['nond1'][i]=[]
    hfa['fcs'][i]=[]
for i in range(1869,2024):
    if i!=1871:
        hfa['fbs'][i]=[]
for row in nn.itertuples():
    if 'vs' in str(row.venue1):
        diff=row.homep-row.awayp
        if row.season>1977:
            if row.home in fcsteams[row.season]:
                hfa['fcs'][row.season].append(diff)
            if row.home in fbsteams[row.season]:
                hfa['fbs'][row.season].append(diff)
            if row.home not in fbsteams[row.season] and row.home not in fcsteams[row.season]:
                hfa['nond1'][row.season].append(diff)
        else:
            hfa['fbs'][row.season].append(diff)
    if '@' in str(row.venue1):
        diff=row.awayp-row.homep
        if row.season>1977:
            if row.away in fcsteams[row.season]:
                hfa['fcs'][row.season].append(diff)
            if row.away in fbsteams[row.season]:
                hfa['fbs'][row.season].append(diff)
            if row.away not in fbsteams[row.season] and row.away not in fcsteams[row.season]:
                hfa['nond1'][row.season].append(diff)
        else:
            hfa['fbs'][row.season].append(diff)
hfaz={}
hfaz['fcs']=[]
hfaz['fbs']=[]
hfaz['nond1']=[]
k=0
for key in hfa['fbs']:
    if key!=1871:
        hfaz['fbs'].append(np.mean(hfa['fbs'][key]))
for key in hfa['fcs']:
    if key!=1871:
        hfaz['fcs'].append(np.mean(hfa['fcs'][key]))
for key in hfa['nond1']:
    if key!=1871 and len(hfa['nond1'][key])>0:
        hfaz['nond1'].append(np.mean(hfa['nond1'][key]))
def roundup(x):
    return math.ceil(x / 10.0) * 10
hfa={}
msqe={}
for i in range(5,51):
    msqe[i]=[]
hfa['fbs']=75
hfa['fcs']=75
hfa['nond1']=75
print(hfa)
from sklearn.metrics import mean_squared_error 
from2000=from2000.astype({"date":float})

from2000.sort_values('date',inplace=True)
from2000['date'] = pd.to_numeric(from2000['date'])
from2000=from2000.sort_values(by=['season','date'])
for game in from2000.itertuples():
    if game.season>1977:
        if game.home in str(fbsteams[game.season]) and game.away in str(fcsteams[game.season]):
            fcss.append(game.awayp-game.homep)
        if game.away in str(fbsteams[game.season]) and game.home in str(fcsteams[game.season]):
            fcss.append(game.homep-game.awayp)
        if game.away not in str(fbsteams[game.season]) and game.away not in str(fcsteams[game.season]) and game.home in str(fcsteams[game.season]):
            fcsvnon.append(game.homep-game.awayp)
        if game.home not in str(fbsteams[game.season]) and game.home not in str(fcsteams[game.season]) and game.away in str(fcsteams[game.season]):
            fcsvnon.append(game.awayp-game.homep)

for game in from2000.itertuples():
    fcs=abs(round(np.mean(fcss))*20)*2
    fcsv=abs(round(np.mean(fcsvnon))*20)*2
    hpen=0
    apen=0
    if game.season>1977:
        if 'vs' in str(game.venue1):
            if game.home not in fbsteams[game.season] and game.home not in fcsteams[game.season]:
                hf=hfa['nond1']
            if game.home  in fbsteams[game.season] and game.home not in fcsteams[game.season]:
                hf=hfa['fbs']
            if game.home not in fbsteams[game.season] and game.home  in fcsteams[game.season]:
                hf=hfa['fcs']
        else:
            if game.away not in fbsteams[game.season] and game.away not in fcsteams[game.season]:
                hf=hfa['nond1']
            if game.away  in fbsteams[game.season] and game.away not in fcsteams[game.season]:
                hf=hfa['fbs']
            if game.away not in fbsteams[game.season] and game.away  in fcsteams[game.season]:
                hf=hfa['fcs']
        if game.away not in str(fbsteams[game.season]) and game.away not in str(fcsteams[game.season]) and game.home in str(fcsteams[game.season]):
            apen=fcsv
        if game.home not in str(fbsteams[game.season]) and game.home not in str(fcsteams[game.season]) and game.away in str(fcsteams[game.season]):
            hpen=fcsv
        if game.home in str(fbsteams[game.season]) and game.away in str(fcsteams[game.season]):
            apen=fcs
        if game.away in str(fbsteams[game.season]) and game.home in str(fcsteams[game.season]):
            hpen=fcs
        if game.away in str(fbsteams[game.season]) and game.home in str(fbsteams[game.season]):
            hpen=0
            apen=0
        if game.away in str(fcsteams[game.season]) and game.home in str(fcsteams[game.season]):
            hpen=0
            apen=0
        if game.away not in str(fbsteams[game.season]) and game.away not in str(fcsteams[game.season]) and game.home not in str(fbsteams[game.season]) and game.home not in str(fcsteams[game.season]):
            hpen=0
            apen=0
    else:
        
        
        
        hf=hfa['fcs']
    season=game.season
    if (season >currSeason):
        print(season)
        
       
        lsdf=from2000[from2000.season<game.season]
        ls=set(lsdf.home.tolist()+lsdf.away.tolist())
        
        for key in ls:
            eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1500) * (1/3.))
                

        currSeason=game.season
    homeff=75
    hp=hpen
    ap=apen
    if 'True' in str(game.neutral):
        homeff=0
    if game.venue1=='vs':
        hr=eloLeaguez.ratingDict[game.home]+homeff+hp
        ar=eloLeaguez.ratingDict[game.away]+ap
    else:
        hr=eloLeaguez.ratingDict[game.home]+hp
        ar=eloLeaguez.ratingDict[game.away]+ap+homeff
    if 'vs' in str(game.venue1):
        
        ht=game.home
        at=game.away
        hp=game.homep
        ap=game.awayp
        
    else:
        at=game.home
        ht=game.away
        ap=game.homep
        hp=game.awayp
    if (hp > ap)or(hp==ap):
        ld1=True
        wd1=True
        if hpen==fcsv:
            wd1=False
        if apen==fcsv:
            ld1=False
        eloLeaguez.gameOver(ht,at,True,game.neutral,hp,ap,hpen,apen,wd1,ld1,hf)
    if ap>hp:
        ld1=True
        wd1=True
        if hpen==fcsv:
            ld1=False
        if apen==fcsv:
            wd1=False
        eloLeaguez.gameOver(at, ht,False,game.neutral,ap,hp,apen,hpen,wd1,ld1,hf)
    
    t=game.homep-game.awayp
    for i in range(5,51):
        p=(hr-ar)/i
        p=round(p)
        if p==0:
            p=1
        
        p=[p]
        msqe[i].append(mean_squared_error([t],p) )
print("{")
a=0
tp=0
for team in eloLeaguez.ratingDict.keys():
  if tp==1:
      my=[]
      print(team,":",eloLeaguez.ratingDict[team])
txtz='"','Team','"',':','20'
print('"','Team','"',':','20')
print("}")

In [17]:
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/allcfb.csv")
ho=df[df.Date=='2023-11-18']
ho[ho.neutral==True]

,Unnamed: 0,Schl,Opp,PTS,OPP,Year,neutral,Date,Yearz,Venue
123798,123798,Florida A&amp;M,Bethune-Cookman,24,7,2023,True,2023-11-18,2023,@

float("2024011

In [21]:
fam=from2000[from2000.home=='Florida A&amp;M']
fam[fam.season==2023]

Empty DataFrame
Columns: [home, away, neutral, season, date, homep, awayp, venue1]
Index: []

In [ ]:
from2000=from2000.replace("Miami FL","Miami")
from2000=from2000.replace("Miami (FL)","Miami")

In [7]:
"Miami" in fbsteams[2023]

True

In [277]:
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/updatedwithnotes.txt")
arr=[]
for row in df.itertuples():
    opp=row.Opp
    opp=opp.replace("@","")
    s=row.Schl
    s=s.replace("@","")
    if s in fbsteams[row.Year] or opp in fbsteams[row.Year]:
        m=1
    else:
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Year,row.neutral,row.Date,row.Notes])

In [280]:
df=pd.DataFrame(arr,columns=['Schl','Opp','PTS',"OPP",'Year','neutral','Date','Notes'])
df.to_csv("uptodatenotes.txt")

In [279]:
len(df)

2189

In [193]:
from2000=from2000.astype({"date":"string"})

from20000=from2000
from20000['date'] = pd.to_datetime(from20000['date'], format='%Y-%m-%d')

ValueError: time data 1995092.0 doesn't match format specified

In [195]:
df

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,date,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre
0,0,Rutgers,NaN,6.0,Princeton,NaN,4.0,NaN,False,1869,1869-11-06T00:00:00.000Z,1,1,regular,NaN,NaN,NaN,NaN,NaN
1,1,Princeton,NaN,8.0,Rutgers,NaN,0.0,NaN,False,1869,1869-11-13T00:00:00.000Z,2,2,regular,NaN,NaN,NaN,NaN,NaN
2,2,Rutgers,NaN,6.0,Columbia,NaN,3.0,NaN,False,1870,1870-11-05T00:00:00.000Z,1,3,regular,NaN,NaN,NaN,NaN,NaN
3,3,Princeton,NaN,6.0,Rutgers,NaN,2.0,NaN,False,1870,1870-11-12T00:00:00.000Z,2,4,regular,NaN,NaN,NaN,NaN,NaN
4,4,Rutgers,NaN,0.0,Columbia,NaN,0.0,NaN,False,1872,1872-11-02T00:00:00.000Z,1,5,regular,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97636,97636,South Dakota State,MVFC,41.0,Holy Cross,Patriot,21.0,NaN,False,2022,2022-12-10T17:00:00.000Z,15,401507651,regular,False,fcs,fcs,NaN,NaN
97637,97637,Ferris State,GLIAC,NaN,West Florida,Gulf South,NaN,NaN,False,2022,2022-12-10T17:00:00.000Z,15,401507610,regular,False,ii,ii,NaN,NaN
97638,97638,Army,FBS Independents,20.0,Navy,American Athletic,17.0,NaN,True,2022,2022-12-10T20:00:00.000Z,15,401404145,regular,False,fbs,fbs,1462.0,1494.0
97639,97639,Colorado Mines,Rocky Mountain,NaN,Shepherd,Pennsylvania State Athletic,NaN,NaN,False,2022,2022-12-10T20:30:00.000Z,15,401507611,regular,False,ii,ii,NaN,NaN
97640,97640,North Central,CCIW,NaN,Mary Hardin-Baylor,American Southwest,NaN,NaN,False,2022,2022-12-10T20:30:00.000Z,15,401507553,regular,False,iii,iii,NaN,NaN

In [237]:
from2000['date'] = pd.to_numeric(from2000['date'])
from2000=from2000.sort_values(by=['season','date'])

from2000

,home,away,neutral,season,date,homep,awayp,venue1
155385,Rutgers,Princeton,False,1869.0,18691106.0,6.0,4.0,vs
155386,Princeton,Rutgers,False,1869.0,18691113.0,8.0,0.0,vs
155387,Rutgers,Columbia,False,1870.0,18701105.0,6.0,3.0,vs
155388,Princeton,Rutgers,False,1870.0,18701112.0,6.0,2.0,vs
155389,Rutgers,Columbia,False,1872.0,18721102.0,0.0,0.0,vs
...,...,...,...,...,...,...,...,...
149279,Michigan,Alabama,True,2023.0,20240101.0,27.0,20.0,vs
149278,Louisiana State,Wisconsin,True,2023.0,20240101.0,35.0,31.0,vs
121499,South Dakota State,Montana,True,2023.0,20240107.0,23.0,3.0,@
149283,Michigan,Washington,True,2023.0,20240108.0,34.0,13.0,vs
121500,Michigan,Washington,True,2023.0,20240108.0,34.0,13.0,@

In [224]:
arr=[]
for year in range(1995,2024):
    print(year)
    html=requests.get("https://www.sports-reference.com/cfb/years/"+str(year)+"-schedule.html").text
    soup=BeautifulSoup(html)
    table=soup.find("table")
    for tr in table.find_all("tr"):
        tds=tr.find_all("td")
        if "Rk" not in str(tr):
            if year>2012:
                date=tds[1].text
                date=date.replace("Aug","08")
                date=date.replace("Sep","09")
                date=date.replace("Oct","10")
                date=date.replace("Nov","11")
                date=date.replace("Dec","12")
                date=date.replace("Jan","01")
                date=date.replace(",","")
                parts=date.split(" ")
                p1=parts[1]
                for i in range(1,9):
                    if str(i)==p1:
                        p1="0"+str(i)
                date=parts[2]+parts[0]+p1
                ht=tds[4].text
                for i in range(1,26):
                    string="("+str(i)+")"
                    ht=ht.replace(string,"")
                hts=tds[5].text
                loc=tds[6].text
                at=tds[7].text
                for i in range(1,26):
                    string="("+str(i)+")"
                    at=at.replace(string,"")
                ats=tds[8].text
            else:
                date=tds[1].text
                date=date.replace("Aug","08")
                date=date.replace("Sep","09")
                date=date.replace("Oct","10")
                date=date.replace("Nov","11")
                date=date.replace("Dec","12")
                date=date.replace("Jan","01")
                date=date.replace(",","")
                parts=date.split(" ")
                
                date=parts[2]+parts[0]+parts[1]
                ht=tds[3].text
                for i in range(1,26):
                    string="("+str(i)+")"
                    ht=ht.replace(string,"")
                hts=tds[4].text
                loc=tds[5].text
                at=tds[6].text
                for i in range(1,26):
                    string="("+str(i)+")"
                    at=at.replace(string,"")
                ats=tds[7].text
            arr.append([date,ht,hts,loc,at,ats,year])

1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [225]:
df=pd.DataFrame(arr,columns=['Date','home','homep','Venue','away','awayp','season'])
df.to_csv("gsss.csv")
df.homep.unique()

array(['18', '38', '24', '17', '36', '28', '64', '33', '45', '41', '21',
       '46', '37', '55', '43', '31', '49', '70', '42', '51', '23', '34',
       '13', '29', '27', '14', '26', '47', '20', '40', '76', '39', '25',
       '56', '19', '32', '50', '35', '66', '30', '16', '62', '77', '9',
       '12', '68', '52', '10', '22', '7', '57', '67', '54', '59', '58',
       '44', '48', '72', '65', '63', '6', '73', '5', '3', '61', '11',
       '15', '53', '71', '60', '82', '69', '80', '8', '79', '87', '75',
       '74', '83', '84', '', '78', '81'], dtype=object)

In [18]:
fa=from2000[from2000.home=='Florida A&M']
fa[fa.season==1995]

,home,away,neutral,season,date,homep,awayp,venue1
88715,Florida A&M,Tuskegee,False,1995.0,19950902.0,28.0,16.0,vs
89092,Florida A&M,Jackson State,False,1995.0,19950916.0,15.0,12.0,vs
89351,Florida A&M,Tennessee State,False,1995.0,19950923.0,24.0,7.0,vs
89611,Florida A&M,Howard,False,1995.0,19950930.0,29.0,18.0,@
89881,Florida A&M,NC A&amp;T,False,1995.0,19951007.0,20.0,3.0,@
90154,Florida A&M,Delaware State,False,1995.0,19951014.0,24.0,21.0,vs
90699,Florida A&M,Morgan State,False,1995.0,19951028.0,47.0,9.0,vs
91231,Florida A&M,South Carolina State,False,1995.0,19951111.0,28.0,21.0,@

In [155]:
teams={}
for i in range(1869,2024):
    teams[i]=[]

for row in from2000.itertuples():
    teams[row.season].append(row.away)
    teams[row.season].append(row.home)

In [156]:
wrong={}
for i in range(1869,2024):
    wrong[i]=[]
for i in range(1978,2024):
    for team in fcsteams[i]:
        if team not in teams[i]:
            wrong[i].append(team)

In [231]:
pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/gsss.csv")

,Unnamed: 0,Date,home,homep,Venue,away,awayp,season
0,0,19950826,Michigan,18.0,NaN,Virginia,17.0,1995
1,1,19950827,Ohio State,38.0,N,Boston College,6.0,1995
2,2,19950831,Appalachian State,24.0,@,Wake Forest,22.0,1995
3,3,19950831,Ball State,17.0,@,Miami (OH),15.0,1995
4,4,19950831,Iowa State,36.0,NaN,Ohio,21.0,1995
...,...,...,...,...,...,...,...,...
22796,22796,20240101,Michigan,27.0,N,Alabama,20.0,2023
22797,22797,20240101,Oregon,45.0,N,Liberty,6.0,2023
22798,22798,20240101,Tennessee,35.0,N,Iowa,0.0,2023
22799,22799,20240101,Washington,37.0,N,Texas,31.0,2023
22800,22800,20240108,Michigan,34.0,N,Washington,13.0,2023

In [62]:
arrz=[]
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/gs.csv")
from2000=from2000.replace("Coastal Car","Coastal Carolina")
from2000=from2000.replace("Ole Miss","Mississippi")
from2000=from2000.replace("UMass","Massachusetts")
from2000=from2000.replace("San José State","San Jose State")
from2000=from2000.replace("Texas-El Paso","UTEP")
ts=requests.get("https://ontheroadtovote.com/ncaaf/prefbs/ts.json").json()
df=df.replace("UTSA","UT San Antonio")
for team in set(df.home.tolist()+df.away.tolist()):
    team=team.rstrip()
    team=team.lstrip()
    if team in ts:
        team=ts[team]
    if team not in set(from2000.home.tolist()+from2000.away.tolist()):
        print(team)

UTSA
UTSA

In [72]:
from2000[from2000.away=="St Francis (PA)"]

,home,away,neutral,season,date,homep,awayp,venue1
141401,WV Wesleyan,St Francis (PA),False,1915.0,19150925,61.0,0.0,vs
144846,Lehigh,St Francis (PA),False,1922.0,19221007,37.0,0.0,vs
132375,Wagner,St Francis (PA),False,1993.0,19931023,31.0,21.0,vs
127747,Canisius,St Francis (PA),False,1993.0,19931030,28.0,10.0,vs
130451,Monmouth,St Francis (PA),False,1994.0,19941008,29.0,7.0,vs
...,...,...,...,...,...,...,...,...
117161,Robert Morris,St Francis (PA),False,2023.0,20230909,31.0,21.0,vs
117586,Delaware,St Francis (PA),False,2023.0,20230916,42.0,14.0,vs
117972,Sacred Heart,St Francis (PA),False,2023.0,20230923,37.0,34.0,@
119522,Duquesne,St Francis (PA),False,2023.0,20231021,38.0,35.0,vs
120365,LIU Post,St Francis (PA),False,2023.0,20231104,29.0,28.0,@

In [52]:
mean_squared_error([t],p)

400.0

In [12]:
for team in set(from2000.home.tolist()+from2000.away.tolist()):
    if 'Florida' in str(team):
        print(team)

Florida International
South Florida
Florida Southern
Florida A&amp;M
Florida State
Florida
West Florida
Florida Tech
Central Florida
Florida A&M
Florida St

In [15]:
from2000[from2000.home=='Florida A&amp;M']
from2000=from2000.replace("Florida A&amp;M","Florida A&M")
from2000=from2000.replace("Alabama A&amp;M","Alabama A&M")
fam=from2000[from2000.away=='Florida A&M']
fam[fam.season==2023]

,home,away,neutral,season,date,homep,awayp,venue1
22049,South Florida,Florida A&M,False,2023.0,2023099.0,38.0,24.0,vs

from2000=from2000home]

In [53]:
msqez={}
for i in range(5,51):
    msqez[i]=0
for key in msqe:
    me=np.mean(msqe[key])
    me='{:f}'.format(me)
    msqez[key]=(me)

In [6]:
chi=from2000[from2000.home=='Georgia Tech']
chi[chi.season==1917]

,home,away,neutral,season,date,homep,awayp,venue1
142373,Georgia Tech,Furman,False,1917.0,19170928,25.0,0.0,vs
142377,Georgia Tech,Wake Forest,False,1917.0,19170929,33.0,0.0,vs
142453,Georgia Tech,Pennsylvania,False,1917.0,19171006,41.0,0.0,vs
142490,Georgia Tech,Davidson,False,1917.0,19171013,32.0,10.0,vs
142538,Georgia Tech,Washington & Lee,False,1917.0,19171020,63.0,0.0,vs
142664,Georgia Tech,Vanderbilt,False,1917.0,19171103,83.0,0.0,vs
142732,Georgia Tech,Carlisle,False,1917.0,19171117,98.0,0.0,vs
142839,Georgia Tech,Auburn,False,1917.0,19171129,68.0,7.0,vs

In [20]:
mean_squared_error(np.array([3]),p)

64.0

In [17]:
mvs=from2000[(from2000.home=='Mississippi Valley State')|(from2000.away=='Mississippi Valley State')]
mvs=mvs[mvs.season>1976]
mvs=mvs[mvs.season<2024]
mvs.to_csv("mvsuscores.csv")

In [18]:
mvs

,home,away,neutral,season,date,homep,awayp,venue1
179794,Mississippi Valley State,Bishop,False,1977.0,19770903,27.0,10.0,vs
179886,Lincoln (PA),Mississippi Valley State,False,1977.0,19770910,0.0,55.0,vs
179943,Mississippi Valley State,Arkansas-Pine Bluff,False,1977.0,19770917,12.0,9.0,vs
180003,Mississippi Valley State,Jackson State,False,1977.0,19770924,13.0,37.0,vs
180086,Mississippi Valley State,Southern,False,1977.0,19771001,35.0,13.0,vs
...,...,...,...,...,...,...,...,...
119536,Jackson State,Mississippi Valley State,False,2023.0,20231021,21.0,6.0,@
119945,Alcorn State,Mississippi Valley State,False,2023.0,20231028,24.0,3.0,vs
120280,Bethune-Cookman,Mississippi Valley State,False,2023.0,20231102,20.0,7.0,vs
120795,Alabama State,Mississippi Valley State,False,2023.0,20231111,20.0,3.0,@
121102,Alabama A&M,Mississippi Valley State,False,2023.0,20231116,30.0,21.0,vs

In [29]:
hfa={}
hfa['fcs']=[]
hfa['fbs']=[]
hfa['nond1']=[]
didp=0
nn=from2000[from2000.neutral=='False']
for row in nn.itertuples():
    if 'vs' in str(row.venue1):
        diff=row.homep-row.awayp
        if row.season>1977:
            if row.home in fcsteams[row.season]:
                hfa['fcs'].append(diff)
            if row.home in fbsteams[row.season]:
                hfa['fbs'].append(diff)
            if row.home not in fbsteams[row.season] and row.home not in fcsteams[row.season]:
                hfa['nond1'].append(diff)
        else:
            hfa['fbs'].append(diff)
    if '@' in str(row.venue1):
        diff=row.awayp-row.homep
        if row.season>1977:
            if row.away in fcsteams[row.season]:
                hfa['fcs'].append(diff)
                if didp==0:
                    print(row)
                    didp=1
            if row.away in fbsteams[row.season]:
                hfa['fbs'].append(diff)
            if row.away not in fbsteams[row.season] and row.away not in fcsteams[row.season]:
                hfa['nond1'].append(diff)
                
        else:
            hfa['fbs'].append(diff)

Pandas(Index=131663, home='Southern', away='Texas Southern', neutral='False', season=1978.0, date='19780916', homep=11.0, awayp=20.0, venue1='@')

In [32]:
np.mean(hfa['nond1'])

13.997596920413649

In [24]:

from2000=from2000.astype({"neutral":"string"})
from2000['neutral']=from2000['neutral'].str.replace("True ","True")

In [25]:
from2000.neutral.unique()

<StringArray>
[<NA>, 'True', 'False']
Length: 3, dtype: string

In [28]:
len(from2000[(from2000.away=='Grambling')|(from2000.home=='Grambling')])

541

In [ ]:
np.mean(fcsvnon)

In [ ]:
eloLeaguez.ratingDict['Alabama']

In [ ]:
hfa={}
nn=from2000[from2000.neutral==False]
for i in range(1869,2024):
    hfa[i]=[]
for row in nn.itertuples():
    if 'vs' in str(row.venue1):
        diff=row.homep-row.awayp
        hfa[row.season].append(diff)
    if '@' in str(row.venue1):
        diff=row.awayp-row.homep
        hfa[row.season].append(diff)
hfaz=[]
k=0
for key in hfa:
    if 'nan' in str(hfa[key]):
        k+=1
    if key!=1871:
        hfaz.append(np.mean(hfa[key]))
print(np.mean(hfaz))

np.mean

In [ ]:
k=0
nanz=[]
for row in from2000.itertuples():
    if 'nan' in str(row.homep) or 'nan' in str(row.awayp):
        k+=1
        nanz.append(row)
print(k)

In [ ]:
round()

In [ ]:
hfaz=[]
k=0
for key in hfa:
    if 'nan' in str(hfa[key]):
        k+=1
    if key!=1871:
        hfaz.append(np.mean(hfa[key]))
print(np.mean(hfaz))
print(k)

In [ ]:
eloLeaguez.ratingDict['Florida A&M']==1892.562785587963

In [ ]:
from2000[from2000.away=='Bethune-Cookman']

In [ ]:
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/2013njcaa.txt")
for team in set(df.Schl.tolist()+df.Opp.tolist()):
    if team not in set(from2000.home.tolist()+from2000.away.tolist()):
        print(team)

In [ ]:
import requests
ss={}

for i in range(1978,2024):
    ss[i]=[]
import re
def removing_leading_whitespaces(text):
     return re.sub(r"^\s+","",text)
arr=[]
import time
for y in range(1978,2024):
    print(y)
    headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
    html=requests.get("https://www.sports-reference.com/cfb/years/"+str(y)+"-standings.html",timeout=3,headers=headers)
    print(html.status_code)
    html=html.text
    soup=BeautifulSoup(html)
    
    for table in soup.find_all("table"):
        for team in table.find_all("td",{"data-stat":"school_name"}):
            team=team.text
            ss[y].append(team)
            arr.append([team,str(y)])

In [10]:
len('[]')

2

In [ ]:
df=pd.DataFrame(arr,columns=['Team','Year'])
df=df.astype({"Team":"string"})
df['Team']=df['Team'].str.replace("No. T– ","")
df['Team']=df['Team'].str.replace(" †","")
df['Team']=df['Team'].str.replace("†","")
df['Team']=df['Team'].str.replace("Statey","State")
df['Team']=df['Team'].str.replace(" y","")
df['Team']=df['Team'].str.replace("‡","")
df['Team']=df['Team'].str.replace("+","")
df['Team']=df['Team'].str.replace("ny","n")
df['Team']=df['Team'].str.replace("–","-")
df.to_csv("fcsstandings.csv")
teamss=requests.get("https://ontheroadtovote.com/ncaaf/d2/teams.json").json()
standings=[]
ys=[]
for row in df.itertuples():
    if row.Year not in ys:
        print(row.Year)
        ys.append(row.Year)
    if team not in set(from2000.home.tolist()+from2000.away.tolist()):
        team=row.Team
        if team in teamss:
            team=teamss[team]
    standings.append([team,row.Year])

In [ ]:
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/d2/fbsstandings.csv")
teamss=requests.get("https://ontheroadtovote.com/ncaaf/d2/teams.json").json()
for team in set(df.Team.tolist()):
    if team in teamss:
        team=teamss[team]
    if team not in set(from2000.home.tolist()+from2000.away.tolist()):
        print(team)

In [ ]:
s=input("School")

for key in set(from2000.home.tolist()+from2000.away.tolist()):
    if s in key:
        print(key)

In [ ]:
dfz=dfz.astype({"date":"string"})
k=0
dfz['date']=dfz['date'].str.replace("00:00:00","")
for row in dfz.itertuples():
    if ':' in str(row.date):
        ty=str(row)
        k+=1

In [ ]:
k

In [ ]:
s=input("School")

for key in set(from2000.home.tolist()+from2000.away.tolist()):
    if s in key:
        print(key)

In [ ]:
import requests
months={"August":'08','September':"09",'October':"10",'November':"11",'December':"12"}
days=['Sun.','Sat.','Thu.','Mon.','Fri.']
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
html=requests.get("https://www.njcaa.org/sports/fball/2013-14/schedule",headers=headers)
html=html.text
from bs4 import BeautifulSoup
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
num=0
games=[]
didp=0
notes=table.find_all("td",{"class":"e_notes"})
for tr in table.find_all("tr"):
    
    if 'month' in str(tr):
        month=tr.text
    
    if num!=0 and 'month' not in str(tr) and 'notes' not in str(tr):
        if "\xa0" in td[0].text:
            m=1
        else:
            day=td[0].text
        date="2013"+month+day
        td=tr.find_all("td")
        away=td[1].text
        away=away.strip()
        aways=td[2].text
        aways=aways.strip()
        home=td[3].text
        home=home.strip()
        homes=td[4].text
        homes=homes.strip()
        notes=table.find_all("tr")[num+1]
        notes=notes.text
        note=notes
        n=False
        for dayz in days:
            date=date.replace(dayz,"")
        for m in months:
            date=date.replace(m,months[m])
        if(homes==0 and aways==1) or(homes==0 and aways==1):
            m=1
        else:
            date=date.replace(" ","")
            if 'Scrimmage' not in note and 'Final' in str(tr):
                if '@' in str(note):
                    n=True
                away=away.replace("\n","")
                home=home.replace("\n","")
                aways=aways.replace("\n","")
                homes=homes.replace("\n","")
                n=str(n)
                n=n.replace("\n","")
                date=date.replace("\n","")
                row=[away,aways,home,homes,n,date]
                
                
                games.append(row)
                    
            
            didp=1
    num+=1

In [ ]:
fcsteamz=set(dfh.Schl.tolist()+dfh.Opp.tolist())
currteams=set(from2000.home.tolist()+from2000.away.tolist())
thedict={}
for key in fcsteamz:
    if key in currteams:
        
        thedict[key]='1'
sorted_dict = {key: value for key, value in sorted(thedict.items())}
sorted_dict

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from bs4 import BeautifulSoup
import requests
teams={}
arr=[]
for i in range(1973,1995):
    teams[i]=[]
for i in range(1973,1995):
    url="https://en.wikipedia.org/wiki/"+str(i)+"_NCAA_Division_III_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    my_table=soup.find_all("table",{"class":"standings-box"})
    index=0     
    for table in my_table:
        for j in table.find_all("tr")[1:]:
            statements="Team" not in str(j) and 'title' not in str(j) and 'legend' not in str(j)
        
        
        
                    
            if  'Team' not in str(j) and 'conference' not in str(j) and "style" not in str(j) and 'Division' not in str(j) and 'League' not in str(j) and 'legend' not in str(j) and 'header' not in str(j):
            
            
            
                row_data = j.find_all("td")
                team=row_data[0].text
                team=team.replace("$","")
                team=team.replace("\n","")
                team=team.replace("xy","")
                team=team.replace(" x","")
                team=team.replace(" y","")
                team=team.replace("^","")
                team=team.replace("+","")
                team=re.sub(r'^.*?1', '', team)
                team=re.sub(r'^.*?2', '', team)
                team=re.sub(r'^.*?3', '', team)
                team=team.replace("*","")
                team=team.replace("1","")
                team=team.replace("2","")
                team=re.sub(r'^.*?4', '', team)
                team=re.sub(r'^.*?5', '', team)
                team=re.sub(r'^.*?6', '', team)
                team=re.sub(r'^.*?7', '', team)
                team=re.sub(r'^.*?8', '', team)
                team=re.sub(r'^.*?9', '', team)
                team=re.sub(r'^.*?0', '', team)
                team=team.rstrip()
                wins=row_data[8].text
                wins=wins.replace("\n","")
                losses=row_data[10].text
                losses=losses.replace("\n","")
                team=team.strip()
                row = [team,wins,losses,i]
                arr.append(row)
                if team not in str(teams):
                
                    teams[i].append(team)

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from bs4 import BeautifulSoup
import requests
teams={}
arr=[]
for i in range(1969,1995):
    teams[i]=[]
for i in range(1969,1995):
    url="https://en.wikipedia.org/wiki/"+str(i)+"_NAIA_Division_II_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    my_table=soup.find_all("table",{"class":"standings-box"})
    index=0     
    for table in my_table:
        for j in table.find_all("tr")[1:]:
            statements="Team" not in str(j) and 'title' not in str(j) and 'legend' not in str(j)
        
        
        
                    
            if  'Team' not in str(j) and 'conference' not in str(j) and "style" not in str(j) and 'Division' not in str(j) and 'League' not in str(j) and 'legend' not in str(j) and 'header' not in str(j):
            
            
            
                row_data = j.find_all("td")
                team=row_data[0].text
                team=team.replace("$","")
                team=team.replace("\n","")
                team=team.replace("xy","")
                team=team.replace(" x","")
                team=team.replace(" y","")
                team=team.replace("^","")
                team=team.replace("+","")
                team=re.sub(r'^.*?1', '', team)
                team=re.sub(r'^.*?2', '', team)
                team=re.sub(r'^.*?3', '', team)
                team=team.replace("*","")
                team=team.replace("1","")
                team=team.replace("2","")
                team=re.sub(r'^.*?4', '', team)
                team=re.sub(r'^.*?5', '', team)
                team=re.sub(r'^.*?6', '', team)
                team=re.sub(r'^.*?7', '', team)
                team=re.sub(r'^.*?8', '', team)
                team=re.sub(r'^.*?9', '', team)
                team=re.sub(r'^.*?0', '', team)
                team=team.rstrip()
                wins=row_data[8].text
                wins=wins.replace("\n","")
                losses=row_data[10].text
                losses=losses.replace("\n","")
                team=team.strip()
                row = [team,wins,losses,i]
                arr.append(row)
                if team not in str(teams):
                
                    teams[i].append(team)
for i in range(1969,1995):
    url="https://en.wikipedia.org/wiki/"+str(i)+"_NAIA_Division_I_football_season"
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    my_table=soup.find_all("table",{"class":"standings-box"})
    index=0 
    for table in my_table:
        
        
        for j in table.find_all("tr")[1:]:
            statements="Team" not in str(j) and 'title' not in str(j) and 'legend' not in str(j)
        
        
        
                    
            if  'Team' not in str(j) and 'conference' not in str(j) and "style" not in str(j) and 'legend' not in str(j) and 'header' not in str(j):
            
            
            
                row_data = j.find_all("td")
                team=row_data[0].text
                team=team.replace("$","")
                team=team.replace("\n","")
                team=team.replace("xy","")
                team=team.replace(" x","")
                team=team.replace(" y","")
                team=team.replace("^","")
                team=team.replace("*","")
                team=team.replace("+","")
                team=re.sub(r'^.*?1', '', team)
                team=re.sub(r'^.*?2', '', team)
                team=re.sub(r'^.*?3', '', team)
                team=re.sub(r'^.*?4', '', team)
                team=re.sub(r'^.*?5', '', team)
                team=re.sub(r'^.*?6', '', team)
                team=re.sub(r'^.*?7', '', team)
                team=re.sub(r'^.*?8', '', team)
                team=re.sub(r'^.*?9', '', team)
                team=re.sub(r'^.*?0', '', team)
        
                team=team.replace("1","")
                team=team.replace("2","")
                team=team.rstrip()
                wins=row_data[8].text
                wins=wins.replace("\n","")
                losses=row_data[10].text
                losses=losses.replace("\n","")
                team=team.strip()
                row = [team,wins,losses,i]
                arr.append(row)
                if team not in str(teams):
                
                    teams[i].append(team)
            
            
                    
                    
            

naiad1=teams

In [ ]:
row_data

In [ ]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)

# scrape naia standings

In [ ]:
naiadf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d3footballstandings.csv")
y=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d3footballteams.json")
y=y.json()
naiadf['Team']=naiadf.Team.str.replace("/0 ","")
naiadf['Team']=naiadf.Team.str.replace("UPI ","")
naiadf['Team']=naiadf.Team.str.replace("AP / No. ","")
naiadf['Team']=naiadf.Team.str.replace("/NR","")
naiadf['Team']=naiadf.Team.str.replace("†","")
naiadf['Team']=naiadf.Team.str.replace("3","")
naiadf['Team']=naiadf.Team.str.replace("–","-")
naiadf['Team']=naiadf.Team.str.strip()
naiadf['Team']=naiadf['Team'].astype("str")
for team in y:
    naiadf['Team']=naiadf['Team'].replace(team,y[team])
for team in set(naiadf.Team.tolist()):
    if team not in eloLeaguez.ratingDict.keys():
        print(team)

In [ ]:
naiadf.to_csv("naia1969-1994.csv")

In [ ]:
naiadf.to_csv("naiastandings1969-1994.csv")

In [ ]:
j=1
for i in range(1978,2024):
    u=[]
    for key in teamzzz[i]:
        
        if key not in eloLeaguez.ratingDict.keys():
            if 'standings' not in str(key) and "Poll" not in str(key) and 'football' not in str(key):
                
                key=key.replace("  ","")
                u.append(key)

In [ ]:
currentweek=from20000[from20000['date'].str.contains('2024-01-09')]
for row in currentweek.itertuples():
    hpen=0
    game=row
    apen=0
    if game.away not in str(fbsteams[game.season]) and game.away not in str(teamzzz[game.season]) and game.home in str(teamzzz[game.season]):
        apen=fcsv
    if game.home not in str(fbsteams[game.season]) and game.home not in str(teamzzz[game.season]) and game.away in str(teamzzz[game.season]):
        hpen=fcsv
    if row.home in str(fbsteams[row.season]) and row.away in str(teamzzz[row.season]):
        apen=fcs
    if row.away in str(fbsteams[row.season]) and row.home in str(teamzzz[row.season]):
        hpen=fcs
    if row.neutral==True:
        helo=eloLeaguez.ratingDict[row.home]-hpen
    else:
        helo=eloLeaguez.ratingDict[row.home]+100-hpen
    aelo=eloLeaguez.ratingDict[row.away]-apen
    
    if aelo>helo:
        
        spread=aelo-helo
        spread=spread/20
        spread=round(spread)
        if spread==0:
            spread=1
        print(row.away+" "+"beats "+" "+row.home+" "+ "by "+str(spread)+" <br/>")
    if helo>aelo or helo==aelo:
        spread=helo-aelo
        spread=spread/20
        spread=round(spread)
        if spread==0:
            spread=1
        print(row.home+" "+"beats "+" "+row.away+" "+ "by "+str(spread)+" <br/>")

In [ ]:
tp=0
n={}
n['f']=0
n['t']=0
for row in fcs.itertuples():
    tp+=(row.homep+row.awayp)
    if 'True' in str(row.neutral):
        n['t']+=1
    else:
        n['f']+=1
    
tp

In [ ]:
df1=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d31995-2022.csv")
df1['Schl']=df1['Schl'].str.replace("_"," ")
df1['Opp']=df1['Opp'].str.replace("_"," ")
    
h=[]
for team in set(df1.Schl.tolist()+df1.Opp.tolist()):
    if team not in eloLeaguez.ratingDict.keys():
        print(team)
        h.append(team)
print(len(h))

In [ ]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)

In [5]:
didrev=0

In [35]:
lsdf=from2000[from2000.season<game.season]
ls=set(lsdf.home.tolist()+lsdf.away.tolist())
didrev=1  
if didrev==0:
    for key in ls:
        eloLeaguez.ratingDict[key]=eloLeaguez.ratingDict[key] - ((eloLeaguez.ratingDict[key] - 1500) * (1/3.))
    didrev=1

t1=input("t1")
t2=input("t2")

f=input("fcs")
h=75
if str(1) in f:
    print('fcs pen')
    ap=200
else:
    ap=0
t1e=eloLeaguez.ratingDict[t1]+h
t2e=eloLeaguez.ratingDict[t2]-ap
print(t1+" by "+str((t1e-t2e)/5))

t1 LSU
t2 Grambling
fcs 1

fcs pen
LSU by 154.42885774930932

In [7]:
hfa['fcs']

nan

In [ ]:
from2000[from2000.home=='Florida A&M']

In [ ]:
gz=[]
njcaaurlss={"2022":"https://masseyratings.com/scores.php?s=384031&sub=12814&all=1&mode=3&format=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=12814&all=1&mode=3&format=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=12814&all=1&mode=3&format=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=12814&all=1&mode=3&format=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=12814&all=1&mode=3&format=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=12814&all=1&mode=3&format=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=12814&all=1&mode=3&format=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=12814&all=1&mode=3&format=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=12814&all=1&mode=3&format=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=12814&all=1&mode=3&format=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=12814&all=1&mode=3&format=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=12814&all=1&mode=3&format=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=12814&all=1&mode=3&format=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=12814&all=1&mode=3&format=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=12814&all=1&mode=3&format=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=12814&all=1&mode=3&format=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=12814&all=1&mode=3&format=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=12814&all=1&mode=3&format=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=12814&all=1&mode=3&format=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=12814&all=1&mode=3&format=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=12814&all=1&mode=3&format=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=12814&all=1&mode=3&format=1"}
njcaaurls={"2023":"https://masseyratings.com/scores.php?s=539277&sub=12799&all=1&mode=3&format=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=12799&all=1&mode=3&format=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=12799&all=1&mode=3&format=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=12799&all=1&mode=3&format=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=12799&all=1&mode=3&format=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=12799&all=1&mode=3&format=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=12799&all=1&mode=3&format=1"}
for key in njcaaurls:
    gg=[]
    r = requests.get(njcaaurls[key])
    soup = bs(r.content, 'lxml')
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(bs(r.content, 'lxml'))
    q=aa
    q=q.split("\n")
    for line in q:
        
        
        
        
        line=str(line)
        
        
        
        line = list(line.split(', '))
        if "<" not in str(line):
            
            date=str(line[0])
            datey=date.split(",")
            date=datey[1]
            row=[datey[1],line[1],line[2],line[3],line[4],line[5],line[6],float(key)]
            gg.append(row)
        if "<p>" in str(line):
            line=str(line)
            line=line.split("<p>")
            line=line[1]
            line=list(line.split(', '))
            date=str(line[0])
            datey=date.split(",")
            date=datey[1]
            row=[datey[1],line[1],line[2],line[3],line[4],line[5],line[6],float(key)]
            gg.append(row)
    d22=pd.DataFrame(gg,columns=['Date','Schl','venue1','PTS','Opp','venue2','OPP','Year'])
    
    nof=njcaaurls[key]
    nof=str(nof)
    nof=nof.split("&format=")
    nof=nof[0]
    nof=nof+"&format=2"
    htmlz=requests.get(nof).text
    soupz=BeautifulSoup(htmlz)
    tds={}
    d22.reset_index(inplace=True)
    d22 = d22.astype({"Schl": str, "Opp": str})
    d22=d22.astype("string")
    d22['Schl']=d22['Schl'].str.replace("'","")
    d22['Opp']=d22['Opp'].str.replace("'","")
    d22['PTS']=d22['PTS'].str.replace("'","")
    d22['OPP']=d22['OPP'].str.replace("'","")
    d22['venue1']=d22['venue1'].str.replace("'","")
    d22['venue2']=d22['venue2'].str.replace("'","")
    for line in soupz.text.split('\n')[:-1]:
        k=str(line)
        k=k.replace(" ","")
        k=k.split(",")
  
        tds[float(k[0])]=k[1]
    for row in d22.itertuples():
        schl=str(row.Schl)
        schl=schl.replace(" ","")
        schl=float(schl)
        d22.at[row.Index,"Schl"]=tds[schl]
        o=str(row.Opp)
        o=o.replace(" ","")
        o=float(o)
        d22.at[row.Index,"Opp"]=tds[o]
    for row in d22.itertuples():
        ap=str(row.OPP)
        ap=ap.replace("]","")
        gz.append([row.Date,row.Schl,row.venue1,row.PTS,row.Opp,row.venue2,float(ap),row.Year])
    print(key)
d22=pd.DataFrame(gz,columns=['Date', 'Schl', 'venue1', 'PTS', 'Opp', 'venue2', 'OPP',
       'Year'])
d22=pd.DataFrame(gz,columns=['Date', 'Schl', 'venue1', 'PTS', 'Opp', 'venue2', 'OPP',
       'Year'])
d22.reset_index(inplace=True)
d22=d22.astype('string')

d22['venue1']=d22['venue1'].replace(" 0","vs")
d22['venue2']=d22['venue2'].replace(" 0","True")
d22['venue1']=d22['venue1'].replace(" 1","vs")
d22['venue1']=d22['venue1'].replace("-1","@")
d22=d22.rename(columns={'venue2':'neutral','venue1':'Venue'})
d22=d22.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','Venue':'venue1'})
d22['neutral']=d22['neutral'].str.replace("-1",'False')
d22['neutral']=d22['neutral'].str.replace("1",'False')
d22['neutral']=d22['neutral'].str.replace("0",'True')

In [ ]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)

In [ ]:
for key in set(d22.home.tolist()+d22.away.tolist()):
    if key not in eloLeaguez.ratingDict.keys():
        print(key)