msqe with 23:291.48765266821823
msqe with 22:290.261147611888
msqe with 21:290.1394455543427
msqe with 20:291.39622680369905

In [141]:
dfz[dfz.away=='Abilene Christian']

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,date,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre
14091,14091,SMU,Southwest,52.0,Abilene Christian,NaN,7.0,NaN,False,1925,1925-10-03T00:00:00.000Z,3,14097,regular,NaN,NaN,fbs,NaN,NaN
14368,14368,TCU,Southwest,21.0,Abilene Christian,NaN,9.0,NaN,False,1925,1925-10-31T00:00:00.000Z,7,14352,regular,NaN,NaN,fbs,NaN,NaN
17234,17234,TCU,Southwest,62.0,Abilene Christian,NaN,0.0,NaN,False,1930,1930-11-01T00:00:00.000Z,8,17228,regular,NaN,NaN,fbs,NaN,NaN
24274,24274,Texas Tech,Border,34.0,Abilene Christian,NaN,0.0,NaN,False,1941,1941-09-21T00:00:00.000Z,1,24253,regular,NaN,NaN,fbs,NaN,NaN
26336,26336,West Texas A&M,Border,41.0,Abilene Christian,NaN,6.0,NaN,False,1944,1944-11-11T00:00:00.000Z,12,26317,regular,NaN,NaN,fbs,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95524,95524,Utah Tech,Western Athletic,10.0,Abilene Christian,Western Athletic,26.0,NaN,False,2022,2022-10-02T01:00:00.000Z,5,401418785,regular,True,fcs,fcs,NaN,NaN
95805,95805,Stephen F. Austin,Western Athletic,41.0,Abilene Christian,Western Athletic,38.0,NaN,False,2022,2022-10-08T23:00:00.000Z,6,401462517,regular,True,fcs,fcs,NaN,NaN
96688,96688,North Dakota,MVFC,34.0,Abilene Christian,Western Athletic,31.0,NaN,False,2022,2022-10-29T20:00:00.000Z,9,401418789,regular,False,fcs,fcs,NaN,NaN
97037,97037,Tarleton State,Western Athletic,23.0,Abilene Christian,Western Athletic,28.0,NaN,False,2022,2022-11-06T00:00:00.000Z,10,401462519,regular,True,fcs,fcs,NaN,NaN
97185,97185,Sam Houston State,Western Athletic,28.0,Abilene Christian,Western Athletic,45.0,NaN,False,2022,2022-11-12T18:00:00.000Z,11,401418790,regular,True,fcs,fcs,NaN,NaN

In [142]:
dgz=list(set(file.home.tolist()+file.away.tolist()))+list(set(dfz.home.tolist()+dfz.away.tolist()))
def Convert(lst):
    res_dct = {lst[i]: 0 for i in range(0, len(lst), 2)}
    return res_dct
dg=Convert(dgz)
h=[]
for k in sorted(dg):
    
    h.append(k)
filez=open("keys.txt","w")
filez.write(str(h))  
filez.close()

In [143]:
!pip install cfbd

Requirement already satisfied: cfbd in /opt/conda/lib/python3.7/site-packages (4.4.12)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.15.0)
Requirement already satisfied: urllib3>=1.23 in /opt/conda/lib/python3.7/site-packages (from cfbd) (1.26.13)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from cfbd) (2022.12.7)
^C
ERROR: Operation cancelled by user

In [ ]:
import pandas as pd
import math
from datetime import date,datetime,timedelta
can=1
import os
import pandas as pd

key="LX8oTIQmXarLqV7XwEcEbhkgN6ubBp0yQkA5arybroBCPul3UhonRiw0iN4eWPpK"
dfz=pd.read_csv("https://ontheroadtovote.com/ncaab/ncaaf.csv")
import cfbd
import datetime
import numpy as np
import pandas as pd
# configure API key
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] =key
configuration.api_key_prefix['Authorization'] = 'Bearer'
# instantiate a games API instance
api_config = cfbd.ApiClient(configuration)
games_api = cfbd.GamesApi(cfbd.ApiClient(configuration))
df=dfz[dfz.season>2024]
z=[]
gamesz =[]
games=[]
response = games_api.get_games(year=2022,season_type = 'both')
gamess = [*games, *response]
t=[]
z=[]
def s(g):
    a=dict(home=g.home_team,homeconf=g.home_conference,homep=g.home_points,away=g.away_team,awayconf=g.away_conference,awayp=g.away_points,attendance=g.attendance,neutral=g.neutral_site,season=g.season,playoff=0,date=g.start_date,week=g.week,id=g.id,season_type=g.season_type)
    z.append(a)
list(map(s,gamess))
msqe=[]
from2000  = pd.DataFrame(z)
from2000=from2000.fillna(0)
from2000=from2000[(from2000.season_type=='regular')|(from2000.season_type=='postseason')]
from2000=from2000
df=from2000
from20000=from2000
from2000=from2000[(from2000.homep>0)|(from2000.awayp>0)]
from2000=from2000.sort_values(by='date')
from decimal import Decimal
import decimal
decimal.getcontext().prec = 100
decimal.getcontext().Emax=1000000000
decimal.getcontext().Emin=-1000000000
hfan=95
class Elo:
  def __init__(self,k,g=1,homefield = 182.5):
    self.ratingDict   = {}  
    self.k        = k
    self.g        = g
  def addPlayer(self,name,rating = 1500):
    self.ratingDict[name] = rating
  def gameOver(self, winner, loser, winnerHome,neutral,wins,loses):
    homef=hfan
    if winnerHome and ('True' not in str(neutral)):
      result = self.expectResult(self.ratingDict[winner] + homef, self.ratingDict[loser])
    if winnerHome==0 and ('True' not in str(neutral)) :
      result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser] + homef)
    else:
      result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser])
    wins=float(wins)
    loses=float(loses)
    if wins==loses:
        tie=True
    else:
        tie=False
    if tie:
        mult=(math.log(0+1))*(2.2/1*0.001+2.2)
        shift=(self.k*mult)*(0.5 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
    if tie !=True:
        win=eloLeaguez.ratingDict[winner]
        lose=eloLeaguez.ratingDict[loser]
        if 'True' in str(neutral):
          win=(eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome and 'True' not in str(neutral):
          win=(homef+eloLeaguez.ratingDict[winner])
          lose=(eloLeaguez.ratingDict[loser])
        if winnerHome!=True and 'True' not in str(neutral):
          lose=(homef+eloLeaguez.ratingDict[loser])
          win=(eloLeaguez.ratingDict[winner])
        global zy
        if(win>lose):
          zy=(win-lose)
        if(win==lose):
          zy=(win-lose)+0.00001
        if(win<lose):
          zy=(win-lose)
        mult=(math.log((wins-loses)+1))*(2.2/(zy)*0.001+2.2)
        shift=(self.k*mult)*(1 - result)  
        self.ratingDict[winner] +=shift
        self.ratingDict[loser]  -=shift
  from math import pow
  def expectResult(self, p1, p2):
    p2=Decimal(p2)
    p1=Decimal(p1)
    exp = Decimal((p2-p1))/Decimal(400.0)
    return float(Decimal(Decimal(1)/((pow(Decimal(10.0),Decimal(exp)))+Decimal(1))))
teamss={}
today = date.today()
allTeams  = set(dfz.away.tolist()+dfz.home.tolist())
allTeamsh  = set(dfz.home.tolist())
global st
eloLeaguez   = Elo(k = 20,homefield=146)
for t in allTeams:
    eloLeaguez.addPlayer(t,rating=1500)
from2000=dfz
print('dt')
from2000.sort_values(by='date')
from2000=from2000[(from2000.season_type=='postseason')|(from2000.season_type=='regular')]
from2000['homeconf'].fillna(0,inplace=True)
from2000['awayconf'].fillna(0,inplace=True)
from2000.at[15687,'date']='1928-11-29'
from2000.sort_values(by='season',inplace=True)
from2000=from2000[from2000.index!=96402]
from2000=from2000.drop(97471)
from2000=from2000.drop(97530)
fcsdf=from2000[from2000.hd=='fcs']
fcsteams=set(fcsdf.home.tolist())
df3=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/fcs1995-2002.csv",skipinitialspace = True)

df3=df3.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date','venue2':'neutral'})
df4=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/naia1995-2022.csv",skipinitialspace = True)
df4=df4.rename(columns={'Schl':'home','Opp':'away','PTS':'homep','OPP':'awayp','Year':'season',"Date":'date'})
df2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2d32002-2022.csv",skipinitialspace = True)
df2=df2.rename(columns={'ht':'home','at':'away','Year':'season','Date':'date','PTS':'homep','OPP':'awayp'})
file=pd.concat([df3])
teamsf=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/teams.txt")
teamz={}
for row in teamsf.itertuples():
    teamz[row.Abbreviated]=row.Unabbreviated
file=file.astype("string")
file['neutral']=file['neutral'].replace("-1","False")
file['neutral']=file['neutral'].replace("1","False")
file['neutral']=file['neutral'].replace("0","True")
file.reset_index(inplace=True)
file['home'].str.replace(' ', '')
file['away'].str.replace(' ', '')
file['home']=file['home'].replace("Charleston So ","Charleston Southern")
file['home']=file['home'].str.rstrip()
file['away']=file['away'].str.rstrip()
file['away']=file['away'].replace("Charleston So ","Charleston Southern")
teamw={}
teamw['Charleston So']='Charleston Southern'
y=[]
ga=[]

for row in file.itertuples():
    g=str(row.home)
    g=g.rstrip()
    gz=str(row.away)
    gz=gz.rstrip()
    file.at[row.Index,'home']=g
    file.at[row.Index,'away']=gz
    
for row in file.itertuples():
    if row.home in teamw:
        file.at[row.Index,'home']=teamw[row.home]
    if row.away in teamw:
        file.at[row.Index,'away']=teamw[row.away]
    if row.home in teamz:
        y.append(row.home)
        file.at[row.Index,'home']=teamz[row.home]
    if row.away in teamz:
        y.append(row.away)
        file.at[row.Index,'away']=teamz[row.away]
file['home'] = file.home.str.replace('_', ' ')
file['away'] = file.away.str.replace('_', ' ')

ga=[]
fcsa=[]
css=2023

from2000=from2000.drop(columns=['awayconf','homeconf','attendance','id','isconfgame','awayelopre','homeelopre',"season_type",'week'])
from2000=from2000.astype({'season':float,'homep':float,'awayp':float})

from2000=from2000[from2000.date<str("2022-11-08")]
from2000.sort_values(by='date',inplace=True)
from2000=from2000
currd=from2000
currteams=set(currd.home.tolist()+currd.away.tolist())
allconfs={}
print('ready')
import requests
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=18etXXj90qIsO6OR6Qx9uWzHd9Dn5IBvZefGwtjcxtI0&output=csv')
data = r.content
import pandas as pd
from io import BytesIO
hdf = pd.read_csv(BytesIO(data))
w=0
l=0
regm=0
df=dfz
currSeason = 1869
from20000=from2000
y=0
dobye=0
dc=0
rev=(0.30)
tds={}

import requests
html=requests.get("https://ontheroadtovote.com/ncaaf/fcs/teams.json")
html=html.json()
htmlz=requests.get("https://ontheroadtovote.com/ncaaf/fcs/d2d3teams.json")
htmlz=htmlz.json()
eloLeaguez.addPlayer("Morris Brown")
for row in file.itertuples():
    ht=row.home
    at=row.away
    if row.home in htmlz:
        ht=htmlz[row.home]
    if row.away in htmlz:
        at=htmlz[row.away]
    if row.home in html:
        ht=html[row.home]
    if row.away in html:
        at=html[row.away]
    if '-1' in str(row.venue1):
        venue='@'
    if '1' or '0' in str(row.venue1):
        venue='vs'
        
    ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,venue])
for row in dfz.itertuples():
    ht=row.home
    at=row.away
    if (row.date>str("1995-11-25"))and float(row.homep)==0 and float(row.awayp)==0:
        m=1
    if (row.date<str("1995-11-26"))and float(row.homep)==0 and float(row.awayp)==0:
        ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
    
    if row.home in htmlz:
        ht=htmlz[row.home]
    if row.away in htmlz:
        at=htmlz[row.away]
    if row.home in html:
        ht=html[row.home]
    if row.away in html:
        at=html[row.away]
        
    if ((float(row.homep)==0 and float(row.awayp)==0)==False):
        if 'i' in str(row.hd) and 'i' in str(row.ad):
            m=1
        else:
            
            ga.append([ht,at,row.neutral,row.season,row.date,row.homep,row.awayp,'vs'])
    
    
    
from2000=pd.DataFrame(ga)
from2000.columns=['home','away','neutral','season','date','homep','awayp','venue1']
for season in from2000.season.unique():
    tds[season]={ }
for row in from2000.itertuples():
    tds[row.season][row.home]='yes'
    tds[row.season][row.away]='yes'
doms=1
dc=1
confm=1
eloLeaguez.addPlayer("St John's (NY)")
eloLeaguez.addPlayer("Fairfield")
from2000=from2000.astype("string")
from2000=from2000.astype({"homep":float,'awayp':float,'season':float})
from2000['venue1']=from2000['venue1'].replace("-1","@")
from2000['venue1']=from2000['venue1'].replace("1","vs")
for team in set(from2000.home.tolist()+from2000.away.tolist()):
    eloLeaguez.addPlayer(team,rating=1500)
for game in from2000.itertuples():
    
    
    if (game.season >currSeason):
        lsdf=from2000[from2000.season<game.season]
        lt=set(lsdf.home.tolist()+lsdf.away.tolist())
        cdf=from2000[from2000.season==game.season]
        ct=set(cdf.home.tolist()+cdf.away.tolist())
        for key in eloLeaguez.ratingDict.keys():
            
            if(key in ct and key in lt):
            
                eloLeaguez.ratingDict[key]=((1-rev)*eloLeaguez.ratingDict[key])+(1500*(rev))
            
        currSeason=game.season
    if row.venue1=='@':
        ht=row.away
        at=row.home
        ap=row.homep
        hp=row.awayp
    else:
        ht=row.home
        at=row.away
        ap=row.awayp
        hp=row.homep
    if (game.homep > game.awayp)or(game.homep==game.awayp):
        
        
    
        eloLeaguez.gameOver(ht,at,True,game.neutral,hp,ap)
    
    
    if game.awayp>game.homep:
        if(eloLeaguez.ratingDict[game.home]>eloLeaguez.ratingDict[game.away]):
            l+=1
        if(eloLeaguez.ratingDict[game.home]<eloLeaguez.ratingDict[game.away]):
            w+=1
        
        eloLeaguez.gameOver(ap, hp,0,game.neutral,ap,hp)
    from sklearn.metrics import mean_squared_error
    if(doms==1):
        spread=19
        hs=game.homep-game.awayp
        hf=hfan
        if('True' in str(game.neutral)):
            hf=0
        ps=((eloLeaguez.ratingDict[game.home]+hf)-eloLeaguez.ratingDict[game.away])/spread
        hs=[hs]
        ps=round(ps)
        if(ps==0):
            ps=1
        ps=[ps]
        msqe.append(np.square(np.subtract(hs,ps)).mean())
print("{")
a=0
tp=0
for team in eloLeaguez.ratingDict.keys():
  if tp==1:
      my=[]
      print(team,":",eloLeaguez.ratingDict[team])
txtz='"','Team','"',':','20'
print('"','Team','"',':','20')
print("}")

In [158]:
from2000[from2000.home=='Colorado Mines']

,home,away,neutral,season,date,homep,awayp,venue1
7907,Colorado Mines,Denver Manual High,False,1902.0,1902-10-04T00:00:00.000Z,15.0,0.0,vs
7964,Colorado Mines,Colorado Springs High,False,1902.0,1902-10-11T00:00:00.000Z,36.0,0.0,vs
8017,Colorado Mines,Denver,False,1902.0,1902-10-18T00:00:00.000Z,10.0,5.0,vs
8467,Colorado Mines,Longmont High,False,1903.0,1903-10-17T00:00:00.000Z,106.0,0.0,vs
8551,Colorado Mines,Colorado,False,1903.0,1903-10-31T00:00:00.000Z,0.0,17.0,vs
...,...,...,...,...,...,...,...,...
33299,Colorado Mines,Colorado State,False,1948.0,1948-10-30T00:00:00.000Z,0.0,33.0,vs
33569,Colorado Mines,Denver,False,1949.0,1949-09-17T00:00:00.000Z,0.0,48.0,vs
34450,Colorado Mines,Colorado State,False,1950.0,1950-10-21T00:00:00.000Z,0.0,26.0,vs
35026,Colorado Mines,New Mexico State,False,1951.0,1951-10-12T00:00:00.000Z,7.0,0.0,vs
35485,Colorado Mines,Colorado State,False,1952.0,1952-09-20T00:00:00.000Z,0.0,26.0,vs

In [153]:
from2000[from2000.away=='Akron']

,home,away,neutral,season,date,homep,awayp,venue1
27264,Carnegie Mellon,Akron,False,1938.0,1938-10-29T00:00:00.000Z,27.0,13.0,vs
28283,Colgate,Akron,False,1940.0,1940-09-28T00:00:00.000Z,44.0,0.0,vs
44953,VMI,Akron,False,1967.0,1967-11-04T00:00:00.000Z,38.0,14.0,vs
46145,Dayton,Akron,False,1969.0,1969-10-25T00:00:00.000Z,10.0,14.0,vs
47460,North Texas,Akron,False,1971.0,1971-10-09T00:00:00.000Z,6.0,20.0,vs
...,...,...,...,...,...,...,...,...
100306,Ohio,Akron,False,2022.0,2022-10-08T18:00:00.000Z,55.0,34.0,vs
100775,Kent State,Akron,False,2022.0,2022-10-22T16:00:00.000Z,33.0,27.0,vs
102088,Buffalo,Akron,False,2022.0,2022-11-19T20:30:00.000Z,0.0,0.0,vs
102173,Northern Illinois,Akron,False,2022.0,2022-11-26T18:30:00.000Z,12.0,44.0,vs
102219,Buffalo,Akron,False,2022.0,2022-12-02T18:00:00.000Z,23.0,22.0,vs

In [ ]:
from2000.neutral.unique()

In [ ]:
eloLeaguez.ratingDict['Nicholls']

In [ ]:
s=input("school")
for key in eloLeaguez.ratingDict.keys():
    if s in key:
        print(key)
osz=input("String to replace")
a[osz]=0
rs=input("Replace with")
a[osz]=str(rs)

In [ ]:
a={}

In [ ]:
a[osz]

In [ ]:
a

In [ ]:
import pandas as pd
import requests
from requests.packages.urllib3.exceptions import InsecureRequestWarning

requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

dates=pd.date_range(start="2022-08-01",end="2022-12-29")
d=[]
errorz=0
for date in dates:
    date=str(date)
    date=date.replace("00:00:00","")
   
    
    date=date.replace(" ","")
    datez=date.replace("-","")
    e="https://site.api.espn.com/apis/site/v2/sports/football/college-football/scoreboard?dates="+str(datez)+"&groups=35&limit=500000"
    html=requests.get(e,verify=False)
    jsonz=html.json()
    if "'code': 400" not in str(jsonz) and "'code': 404" not in str(jsonz) and 'gateway' not in str(jsonz):
        
        events=jsonz['events']
        season=jsonz['leagues'][0]['season']['year']
    
        for idz in events:
            teams=idz['name']
            season=idz['season']['year']
            teamss=str(teams)
            teams=teamss.split("at")
            ht=teams[1]
            at=teams[0]
            competitions=idz['competitions']
    
            competitors=idz['competitions'][0]['competitors']
    
            c=idz['competitions'][0]
            hn=competitors[0]['team']['location']
            an=competitors[1]['team']['location']
            n=c['neutralSite']
            hts=competitors[0]['score']
            ats=competitors[1]['score']
            active=competitors[1]['team']['isActive']
            status=idz['status']
            completed=status['type']['completed']
        
            st=status['type']['detail']
            st=str(st)
            st=st.replace("[","")
            stt=st.replace("]","")
            stt=stt
            st=stt.split("at")
            if ("at" in stt):
                st=st[1]
            if ("at" not in stt):
                st=stt
            if("Final") in stt:
                r="Final"
            if("Final") not in stt:
                r="Start Time:"+str(st)
                hn=str(hn)
                an=str(an)
            if "OT" in str(st):
                ot=1
            if "OT" not in str(st):
                ot=0
            d.append([hn,an,n,datez,season,hts,ats,ot])
    else:
        print('error',date)
        errorz+=1
g=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

In [ ]:
errorz

In [147]:
w=dfz[dfz.away=='Colorado Mines']
w[w.season>2021]

,Unnamed: 0,home,homeconf,homep,away,awayconf,awayp,attendance,neutral,season,date,week,id,season_type,isconfgame,ad,hd,awayelopre,homeelopre
93959,93959,Grand Valley State,GLIAC,25.0,Colorado Mines,Rocky Mountain,22.0,NaN,False,2022,2022-09-01T23:00:00.000Z,1,401431531,regular,False,ii,ii,NaN,NaN
94263,94263,Ferris State,GLIAC,34.0,Colorado Mines,Rocky Mountain,14.0,NaN,True,2022,2022-12-17T18:00:00.000Z,1,401508870,postseason,False,ii,ii,NaN,NaN
94792,94792,Adams State,Rocky Mountain,10.0,Colorado Mines,Rocky Mountain,84.0,NaN,False,2022,2022-09-17T19:00:00.000Z,3,401433061,regular,True,ii,ii,NaN,NaN
95415,95415,Chadron State,Rocky Mountain,9.0,Colorado Mines,Rocky Mountain,45.0,NaN,False,2022,2022-10-01T19:00:00.000Z,5,401433081,regular,True,ii,ii,NaN,NaN
95995,95995,South Dakota Mines,Rocky Mountain,20.0,Colorado Mines,Rocky Mountain,48.0,NaN,False,2022,2022-10-15T18:00:00.000Z,7,401433095,regular,True,ii,ii,NaN,NaN
96661,96661,Western State,Rocky Mountain,20.0,Colorado Mines,Rocky Mountain,30.0,NaN,False,2022,2022-10-29T19:00:00.000Z,9,401433096,regular,True,ii,ii,NaN,NaN
96908,96908,New Mexico Highlands,Rocky Mountain,NaN,Colorado Mines,Rocky Mountain,NaN,NaN,False,2022,2022-11-05T18:00:00.000Z,10,401433097,regular,True,ii,ii,NaN,NaN
97617,97617,Angelo State,Lone Star,24.0,Colorado Mines,Rocky Mountain,42.0,NaN,False,2022,2022-12-03T19:00:00.000Z,14,401506579,regular,False,ii,ii,NaN,NaN

In [ ]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaaf/fcs/d2d32002-2022.csv",skipinitialspace = True)
from2000[from2000.home=='Tarleton State']

In [ ]:
df2[df2.away=='Tarleton']

In [ ]:
g.to_csv("2002fcs.csv")

In [ ]:
d2=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

In [ ]:
d3=pd.DataFrame(d,columns=['ht','at','neutral','Date','Year','PTS','OPP','OT'])

In [ ]:
df=pd.concat([d3,d2])
df=df[df.Year<2023]
df.to_csv("d2d32002-2022.csv")

In [ ]:
t1=input("t1")
t2=input("t2")
n=input("neutral") 
if str(0) in str(n):
    h=100
else:
    h=0
t1e=eloLeaguez.ratingDict[t1]+h
t2e=eloLeaguez.ratingDict[t2]
print(t1+" by "+str((t1e-t2e)/21))